{% extends 'StoContentBundle::layout.html.twig' %}

{% block title %}Профиль пользователя &middot; {{ app.user.username }} {% endblock %}
{% block header %}Профиль пользователя - {{ app.user.username }}</h4>{% endblock %}

{% block content_tag 'id="content" class="container"' %}

{% block content %}
{% include "StoUserBundle:Profile:edit_content.html.twig" %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-edit-personal-info.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-registration-company.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.ui.timepicker.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.feedback.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.date-time-pickers.js') }}"></script>
{% endblock %}

{% block search %}
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        <span class="you">Вы:</span>
        <div class="nameProfilExpert">
            <p class="titleProfilExpert">
                <span>{{ app.user.firstName }}, {{ app.user.username }}</span>
            </p>
            {% spaceless %}
                <p class="sloganCompany">
                {% if app.user.ratingGroup %}
                    <span>{{ app.user.ratingGroup.name }}</span> &ndash;
                {% endif %}
                {% if app.user.city %}
                {{ app.user.city.name }}
                {% endif %}
                {%- if app.user.years %}, {{ 'years.old'|transchoice(app.user.years) }} {% endif -%}
                </p>
            {% endspaceless %}
        </div>
    </div>
    <div class="indexCompany">
        <p>Рейтинг:</p>
        <span class="indexbg"></span>
        <span class="indexLevel">{{ app.user.rating + app.user.ratingBonus }}</span></br>
    </div>
</div>
{% endblock %}
