{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Профиль пользователя &middot; {{ app.user.username }} {% endblock %}
{% block header %}Профиль пользователя - {{ user.username }}</h4>{% endblock %}

{% block content_tag 'id="content" class="container"' %}

{% block content %}
{% include "StoUserBundle:Profile:show_content.html.twig" %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-edit-personal-info.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.feedback.js') }}"></script>
{% endblock %}
