{% extends 'StoContentBundle::layout.html.twig' %}

{% block title company.name %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.rating.css') }}">
    <link href="{{ asset('bootstrap/css/styleCompany.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bootstrap/css/style-review-about-company.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.ui.timepicker.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/stocore/js/tiny_mce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/stocore/js/tiny_mce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.rating.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.datepicker-ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.timepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/custom.date-time-pickers.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block search %}
<div class="back">
    <a href="{{ path('content_company_show', {'id': company.id}) }}" class="btnBack">
        <i class="btnBackIcon"></i></br>
        <span class="btnBackCont">Назад к компании</span>
    </a>
</div>
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        {% if (is_expr_granted("hasRole('ROLE_USER') and not hasRole('ROLE_FROZEN')")) %}
        <h1 class="titleNameCompany">Ваш отзыв о компании:</h1>
        <p class="sloganCompany">{{ company.name }}</p>
        {% else %}
            <h1 class="titleNameCompany">Вы не авторизованы</h1>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<section class="contentMain row">
    <div class="content">
        <div class="leftContent">
        {% if (is_expr_granted("hasRole('ROLE_USER') and not hasRole('ROLE_FROZEN')")) %}
            {% if feededit is defined %}
                <form action="{{ path('content_company_feedbacks_update', { 'id': feedback.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {% else %}
                <form action="{{ path('content_company_feedbacks_create', { 'id': company.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {% endif %}

            {{ form_errors(form) }}

            <div class="contentLabel marginBottom">
                <label class="spanFloatLeft">Ваша оценка компании: </label>
                {{ form_widget(form.feedbackRating) }}
                {{ form_errors(form.feedbackRating) }}
            </div>

            <div class="contentLabel marginBottom">
                <label class="spanFloatLeft">Уровень цен: </label>
                {{ form_widget(form.priceLevel) }}
                {{ form_errors(form.priceLevel) }}
            </div>

            <div class="contentLabel overflow marginBottom ">
                <div class="inputReviewWrap">
                    <label>Текст отзыва <span class="additionalInfo">(пожалуйста поделитесь своим мнением. Минимальная длина отзыва 150 символов, максимальная 8000)</span></label>
                    <div class="errors">{{ form_errors(form.content) }}</div>
                    {{ form_widget(form.content) }}
                </div>
                <p class="secondaryLink spanFloatLeft" id="btnAddInfo">Указать дополнительные сведения</p>
            </div>

            <div id="blockAddInfo">
                <div class="contentItemLeft">
                    <div class="contentLabel datePickerInput">
                        <label>Дата посещения</label>
                        <div class="well startData ">
                            {{ form_widget(form.visitDate) }}
                            {{ form_errors(form.visitDate) }}
                        </div>
                    </div>
                    <div class="contentLabel">
                        {{ form_label(form.mastername) }}
                        {{ form_widget(form.mastername) }}
                        {{ form_errors(form.mastername) }}
                    </div>
                    <div class="contentLabel">
                        {{ form_label(form.orderNumber) }}
                        {{ form_widget(form.orderNumber) }}
                        {{ form_errors(form.orderNumber) }}
                    </div>
                </div>
                <div class="contentItemRight" id="contentItemRight">
                    <div class="contentLabel">
                        {{ form_label(form.car) }}
                        {{ form_widget(form.car) }}
                        {{ form_errors(form.car) }}
                    </div>
                    <div class="contentLabel">
                        {{ form_label(form.statenumber) }}
                        {{ form_widget(form.statenumber) }}
                        {{ form_errors(form.statenumber) }}
                    </div>
                </div>
            </div>

            {{ form_rest(form) }}

            <input type="submit" class="btnNext addPhotoBtn" value="Оставить отзыв"/>
            </form>
            {% endif %}
        </div>
        <div class="rightContent">
            <div class="bannerImg">
                <!-- <img src="/bootstrap/img/banner.jpg" alt="фото пользователя" /> -->
            </div>
        </div>
    </div>
    <script>
        (function(){
            $('.chzn-select').chosen();
            $('#blockAddInfo').hide();
        })();
    </script>
</section>
{% endblock %}
