{% extends 'StoContentBundle::layout.html.twig' %}

{% block title company.name %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/stocontent/css/jquery.rating.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bootstrap/css/styleCompany.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bootstrap/css/style-review-about-company.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/stocore/js/tiny_mce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/stocore/js/tiny_mce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/stocontent/js/jquery.rating.pack.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block search %}
<div class="back">
    <a href="{{ url('content_company_show', {'id': company.id}) }}" class="btnBack">
        <i class="btnBackIcon"></i></br>
        <span class="btnBackCont">Результаты поиска</span>
    </a>
</div>
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        <h1 class="titleNameCompany">Ваш отзыв о компании:</h1>
        <p class="sloganCompany">{{ company.name }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="contentMain row">
    <div class="content">
        <div class="leftContent">
        {% if (is_expr_granted("hasRole('ROLE_USER') and not hasRole('ROLE_FROZEN')")) %}
            {% if feededit is defined %}
                <form action="{{ path('content_company_feedbacks_update', { 'id': feedback.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {% else %}
                <form action="{{ path('content_company_feedbacks_create', { 'id': company.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {% endif %}

            <div class="contentLabel marginBottom">
                <label class="spanFloatLeft">Ваша оценка компании: </label>
                {{ form_widget(form.feedbackRating) }}
            </div>

            <div class="contentLabel marginBottom">
                <label class="spanFloatLeft">Уровень цен: </label>
                {{ form_widget(form.priceLevel) }}
            </div>

            <div class="contentLabel overflow marginBottom ">

                <div class="inputReviewWrap">
                    <label>Текс отзыва <span class="additionalInfo">(не обязательно)</span></label>
                    {{ form_widget(form.content) }}
                </div>
                <p class="secondaryLink spanFloatLeft" id="btnAddInfo">Указать дополнительные сведения</p>
            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#blockAddInfo').hide();
                    $('#btnAddInfo').click(function(){
                        $('#blockAddInfo').toggle();
                    });
                });
            </script>

            <div id="blockAddInfo">
                <div class="contentItemLeft">
                    <div class="contentLabel">
                        <label>Дата посещения</label>
                        <div class="well startData ">
                            <div id="datetimepicker1" class="input-append">
                                {{ form_widget(form.visitDate) }}
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="contentLabel">
                        {{ form_label(form.mastername) }}
                        {{ form_widget(form.mastername) }}
                        {{ form_errors(form.mastername) }}
                    </div>

                    <div class="contentLabel">
                        {{ form_label(form.orderNumber) }}
                        {{ form_widget(form.orderNumber) }}
                        {{ form_errors(form.orderNumber) }}
                    </div>

                    {{ form_row(form.orderNumber) }}
                </div>
                <div class="contentItemRight" id="contentItemRight">
                    <div class="contentLabel">
                        {{ form_label(form.car) }}
                        {{ form_widget(form.car) }}
                        {{ form_errors(form.car) }}
                    </div>
                    <div class="contentLabel">
                        {{ form_label(form.statenumber) }}
                        {{ form_widget(form.statenumber) }}
                        {{ form_errors(form.statenumber) }}
                    </div>
                </div>
            </div>

            {{ form_rest(form) }}

            <input type="submit" class="btnNext addPhotoBtn" value="Оставить отзыв"/>

            </form>
            {% endif %}
        </div>
        <div class="rightContent">
            <div class="bannerImg">
                <img src="/bootstrap/img/banner.jpg" alt="фото пользователя" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
