<div class="cardCompanyItem" data-item-id="{{ item.id }}" id="list-company{{ item.id }}" data-correspond="x-list-company{{ item.id }}">
    {% if item.deals %}
        <img src="/bootstrap/img/icon-special-deal.png" alt="Спецпредложение" class="specialDealIcon">
    {% endif %}
    <p class="index">
        <span class="indexbg"></span>
        <span class="indexLevel">{{item.rating}}</span></br>
        <span class="Otzyv">Отзывы: <span>{{item.feedbacks|length}}</span></span>
    </p>
    <div class="nameCompanyWrap">
        <p class="nameCompany"><a href="{{ path('content_company_show', {'id':item.id}) }}">{{item.name}}</a></p>
        <p class="adressCompany">{{item.address}}</p>
        {% if item.web is not empty %}
            <a href="{{ item.web }}" class="siteCompany">{{ item.web | replace({'https://': '', 'http://': ''}) }}</a>
        {% endif %}
    </div>
    <div class="infoCompanyCont smallInfoCompany" id="blocSmall_{{ item.id }}">
        <ul class="iconSpecialisation">
            {% for specialization in item.specializations %}
                {%- if loop.index < 4 %}
                <li class="iconSpecialisationitem">
                    {% if specialization.type.iconNameLarge %}
                        <img src="/storage/images/company_icon/{{ specialization.type.iconNameLarge }}" width="34" height="40">
                    {% else %}
                        <img src="/bootstrap/img/icon-type-default.png" width="34" height="40">
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="infoCompanyCont bigInfoCompany" id="x-list-company{{ item.id }}" data-correspond="list-company{{ item.id }}" data-coord="{{ item.gps }}">
        <div class="popupCardCompanyCont">
            <div class="servicesPart">
                {% include "StoContentBundle:Company:specialization_list.html.twig" with { 'specializations': item.specializations, 'additionalServices': item.additionalServices } %}
            </div>
            <div class="infoCompany">
                {% if item.phones | length > 0 %}
                    <p class="infoCompanyLable">
                        Телефон:</br>
                        <span>{{item.phones[0].phone}}</span>
                    </p>
                {% endif %}

                <p class="infoCompanyLable">
                    Часы работы:</br>
                    {#- for workPhase in item.workingTime %}
                        <span>{{ workPhase.from|date('H:i') }} - {{ workPhase.till|date('H:i') }} ({{ workPhase.days.string|lower }})</span>
                        {%- if not loop.last %}<br />{% endif -%}
                    {% endfor -#}
                </p>
            </div>
        </div>
    </div>
</div>
