{% extends 'StoContentBundle::layout.html.twig' %}

{% form_theme cForm with 'StoContentBundle::formTheming.html.twig' %}

{% block title %}
    {{ parent() }}
    - редактирование компании
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/styleCompany.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/style-registration-company.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/custom.validation.js') }}"></script>
{% endblock %}

{% block pageTitle %}
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">Редактирование компании</h1>
        </div>
    </div>
{% endblock %}
{% block search %}{% endblock %}

{% block content %}
<section class="contentMain  row">
<div class="content">
    <form name="register-form" action="{{ path('content_company_update', {'id':company.id}) }}" method="post" {{ form_enctype(cForm) }} class="form-horizontal">
        <ul class="stepRegistration" id="stepRegistration">
            <li class="stepRegistrationItem firstStep active"><a href="#general-data" data-content="#general-data" data-toggle="tab" class="stepLink">Общие сведения</a></li>
            <li class="stepRegistrationItem centerStep" id="business-profile-tab"><a href="#business-profile" data-content="#business-profile" data-toggle="tab" class="stepLink">Профиль деятельности</a></li>
            <li class="stepRegistrationItem centerStep" id="contact-info-tab"><a href="#contact-info" data-content="#contact-info" data-toggle="tab" class="stepLink">Контактные данные</a></li>
            <li class="stepRegistrationItem endStep" id="photo-tab"><a href="#photos" data-content="#photos" data-toggle="tab" class="stepLink">Фотографии</a></li>
        </ul>

    <div class="tab-content">
        <div class="row-fluid">
        {% if form_errors(cForm) %}
            <div class="span10 alert alert-error">
                {{ form_errors(cForm) }}
            </div>
        {% endif %}
        </div>

        <div class="tab-pane active" id="general-data">
            <div class="row-fluid">
                <div class="span10">
                    {{ form_row(cForm.fullName) }}
                    {{ form_errors(cForm.fullName) }}
                    {{ form_row(cForm.name) }}
                    {{ form_errors(cForm.name) }}
                    {{ form_row(cForm.slogan) }}
                    {{ form_errors(cForm.slogan) }}
                    <p class="contentLabel clear">
                        {{ form_label(cForm.createtDate) }}
                        <div id="datetimepicker1" class="input-append">
                            {{ form_widget(cForm.createtDate) }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                </i>
                            </span>
                        </div>
                    </p>
                    {{ form_errors(cForm.createtDate) }}
                    {{ form_row(cForm.city) }}
                    {{ form_errors(cForm.city) }}
                    <div class="addLogo clear">
                        {{ form_label(cForm.logo) }}
                        <div class="addLogoImgWrap">
                            <div class="addLogoImg" id='picture-preview-wrapper'>
                                {% if company.logoName %}
                                    <img src="{{ vich_uploader_asset(company, 'logo') }}" alt="Логотип">
                                {% endif %}
                            </div>
                        </div>
                        <div class="adminBlockImg span6">
                            {{ form_widget(cForm.logo) }}
                            <span class="addPhotoBtn">Загрузить изображение<i class="addPhoto"></i></span>
                            <p class="additionalInfo">Логотип должен быть вписан в квадрат с белым фоном</br>Формат: JPEG, PNG, GIF не более 1Мб</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomContent">
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn" data-tab-switch-id="business-profile-tab" data-next="#business-profile">Продолжить</a>
            </div>
        </div>
        {# EOF General data #}
        {# Buisinesss profile #}
        <div class="tab-pane" id="business-profile">
            <div class="contentLabel marginBottom">
                {{ form_label(cForm.specialization) }}
                <ul class="tagContBig" id="specializationContainer"></ul>
                <a class="addImg clear" id="addSpecialization" data-reveal-id="sepcializationModal">Добавить<i class="icon-ok-sign"></i></a>
            </div>
            <div class="contentLabel marginBottom">
                {{ form_label(cForm.services) }}
                <ul class="tagContBig" id="serviceContainer"></ul>
                <a class="addImg clear" id="addSpecialization" data-reveal-id="serviceModal">Добавить<i class="icon-ok-sign"></i></a>
            </div>
            <div class="contentLabel marginBottom">
                {{ form_label(cForm.additionalServices) }}
                <ul class="additionalServ">
                    {% for service in cForm.additionalServices %}
                        <li class="additionalServItem span3">
                            {{ form_widget(service) }}
                            <span></span>{{ form_label(service) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="bottomBlock">
                <div class="contentLabel costHour" id="costHour">
                    {{ form_label(cForm.hourPrice) }}
                    {{ form_widget(cForm.hourPrice) }}
                    <div class="lineForm costSelect">
                        {{ form_widget(cForm.currency) }}
                    </div>
                </div>
                <div class="addDescriptionInfo">
                    {{ form_row(cForm.notes) }}
                    {{ form_errors(cForm.notes) }}
                </div>
            </div>
            <div class="bottomContent">
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn" data-tab-switch-id="contact-info-tab" data-next="#contact-info">Продолжить</a>
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn mr10px" data-tab-switch-id="general-data-tab" data-next="#general-data">Назад</a>
            </div>
        </div>
        {# EOF Buisinesss profile #}
        {# Contact info #}
        <div class="tab-pane" id="contact-info">
            <div class="leftContaktDate">
                <div class="contentLabel marginBottom">
                    {{ form_label(cForm.address) }}
                    {{ form_widget(cForm.address) }}
                    {{ form_widget(cForm.gps) }}
                    <a href="#" class="linkUnder" id="activateMap" data-reveal-id="yandexMapModal">Установить отметку на карте</a>
                </div>
                <div class="contentLabel marginBottom">
                    <label>Контактные телефоны</label>
                    <div id="phoneAddWrapper" data-prototype="{{ form_widget(cForm.phones.vars.prototype)|e }}">
                        {% for phone in cForm.phones %}
                            <div class="contactDate">
                                {{ form_widget(phone.phone) }}
                                {{ form_widget(phone.description) }}
                            </div>
                        {% endfor %}
                    </div>
                    <script>
                        var phoneCollectionHolder = $('#phoneAddWrapper');
                        var $phoneAddTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                        var $phoneNewLink = $('<div class="clear"></div>').append($phoneAddTagLink);
                        jQuery(document).ready(function() {
                            deleteLink = '<i class="icon-remove-circle deleteElement"></i>';
                            phoneCollectionHolder.on('click', '.deleteElement', function() {
                                $(this).parents('.contactDate').remove();
                            });
                            phoneCollectionHolder.append($phoneNewLink);
                            phoneCollectionHolder.data('index', phoneCollectionHolder.find(':input').length);

                            $phoneAddTagLink.on('click', function(e) {
                                e.preventDefault();
                                addTagForm(phoneCollectionHolder, $phoneNewLink, true, deleteLink);
                            });
                            phoneCollectionHolder.find('.contactDate').append(deleteLink);
                        });
                    </script>
                </div>
                <div class="contentLabel marginBottom">
                    <label>Время работы</label>
                    <p class="additionalInfo">Укажите дни и время работы в них. Если у вас разные режимы в разные дни - добавьте несколько условий.</p>
                    <div id="workTimeAddWrapper" class="collection-form" data-prototype="{{ form_widget(cForm.workingTime.vars.prototype)|e }}">
                        {% for time in cForm.workingTime %}
                            <div class="contactDate">
                                {{ form_widget(time.days) }}
                                <div class="input-append dateLeft">
                                    {{ form_widget(time.from) }}
                                    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-time"></i></span>
                                </div>
                                <div class="input-append dateLeft">
                                    {{ form_widget(time.till) }}
                                    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-time"></i></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <script>
                        var collectionHolder = $('#workTimeAddWrapper');
                        var $addTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                        var $newLink = $('<div class="clear"></div>').append($addTagLink);
                        jQuery(document).ready(function() {
                            deleteLink = '<i class="icon-remove-circle deleteElement"></i>';
                            collectionHolder.on('click', '.deleteElement', function() {
                                $(this).parents('.contactDate').remove();
                            });
                            collectionHolder.append($newLink);
                            collectionHolder.data('index', collectionHolder.find(':input').length);

                            $addTagLink.on('click', function (e) {
                                e.preventDefault();
                                addTagForm(collectionHolder, $newLink, false, deleteLink);
                            });
                            collectionHolder.find('.contactDate').append(deleteLink);
                        });
                    </script>
                </div>
                <div class="contentLabel marginBottom">
                    <label>Менеджеры компании</label>
                    <p class="additionalInfo">Вы можете указать других менеджеров компании. Они должны быть зарегестрированны на сайте.</p>
                    <div id="managerAddWrapper" data-prototype="{{ form_widget(cForm.companyManager.vars.prototype)|e }}">
                        {% for manager in cForm.companyManager %}
                            <div class="contactDate">
                                {{ form_widget(manager.user) }}
                                {{ form_widget(manager.phone) }}
                            </div>
                        {% endfor %}
                    </div>

                    <script>
                        var managerCollectionHolder = $('#managerAddWrapper');
                        var $managerAddTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                        var $managerNewLink = $('<div class="clear"></div>').append($managerAddTagLink);
                        jQuery(document).ready(function() {
                            deleteLink = '<i class="icon-remove-circle deleteElement"></i>';
                            managerCollectionHolder.on('click', '.deleteElement', function() {
                                $(this).parents('.contactDate').remove();
                            });
                            managerCollectionHolder.append($managerNewLink);
                            managerCollectionHolder.data('index', managerCollectionHolder.find(':input').length);

                            $managerAddTagLink.on('click', function(e) {
                                e.preventDefault();
                                addTagForm(managerCollectionHolder, $managerNewLink, true, deleteLink);
                            });
                            managerCollectionHolder.find('.contactDate').append(deleteLink);
                        });
                    </script>
                </div>
            </div>
            <div class="rightContaktDate">
                <p class="contentLabel rightContaktItem">
                    <label>Сайт</label>
                    {{ form_widget(cForm.web) }}
                </p>
                <p class="contentLabel rightContaktItem">
                    <label>Skype</label>
                    {{ form_widget(cForm.skype) }}
                </p>
                <p class="contentLabel rightContaktItem">
                    <label>Email</label>
                    {{ form_widget(cForm.email) }}
                </p>
                <div class="contentLabel rightContaktItem">
                    <label>VKontakte</label>
                    <p class="maskInput rightMask"><span>www.vk.com/</span>
                        {{ form_widget(cForm.linkVK) }}
                    </p>
                </div>
                <div class="contentLabel rightContaktItem">
                    <label>Twitter</label>
                    <p class="maskInput rightMask"><span>www.twitter.com/</span>
                        {{ form_widget(cForm.linkTW) }}
                    </p>
                </div>
                <div class="contentLabel rightContaktItem">
                    <label>Facebook</label>
                    <p class="maskInput rightMask"><span>www.facebook.com/</span>
                        {{ form_widget(cForm.linkFB) }}
                    </p>
                </div>
            </div>
            <div class="bottomContent">
                <a href="#" class="btnNext addPhotoBtn" data-toggle="tab" data-tab-switch-id="photo-tab" data-next="#photos">Продолжить</a>
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn mr10px" data-tab-switch-id="business-profile-tab" data-next="#business-profile">Назад</a>
            </div>
        </div>
        {# EOF Contact info #}
        <div class="tab-pane" id="photos">
            <p class="additionalInfo">Хорошие фотографии вашего офиса, цехов и персонала помогут привлечь внимание посетителей к вашей компании.</p>
            <div id="photoAddWrapper" data-prototype="{{ form_widget(cForm.gallery.vars.prototype)|e }}">
                {% for photo in cForm.gallery %}
                    <div class="contactDate">
                        {{ form_widget(photo.image) }}
                        {{ form_widget(photo.name) }}
                    </div>
                {% endfor %}
            </div>
            <script>
                var photoCollectionHolder = $('#photoAddWrapper');
                var $photoAddTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                var $photoNewLink = $('<div class="clear"></div>').append($photoAddTagLink);
                jQuery(document).ready(function() {
                    deleteLink = '<i class="icon-remove-circle deleteElement"></i>';
                    photoCollectionHolder.on('click', '.deleteElement', function() {
                        $(this).parents('.contactDate').remove();
                    });
                    photoCollectionHolder.append($photoNewLink);
                    photoCollectionHolder.data('index', photoCollectionHolder.find(':input').length);

                    $photoAddTagLink.on('click', function(e) {
                        e.preventDefault();
                        addTagForm(photoCollectionHolder, $photoNewLink, true, deleteLink);
                    });
                    photoCollectionHolder.find('.contactDate').append(deleteLink);
                });
            </script>
            <div class="bottomContent">
                <button type="submit" class="btnNext addPhotoBtn">Сохранить</button>
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn mr10px" data-tab-switch-id="photo-tab" data-next="#photos">Назад</a>
            </div>
        </div>
    </div>
    <div id="sepcializationModal" class="reveal-modal sepcializationModal">
        <a href="#" class="close-reveal-modal"></a>
        <p class="popUpTitle">Основная специализация</p>
        <div class="wrapper" data-type="specialization">
            {{ form_widget(cForm.specialization) }}
        </div>
        <a href="#" class="btnNext addPhotoBtn" id="specializationSave" data-container="specializationContainer">Сохранить</a>
    </div>
    <div id="serviceModal" class="reveal-modal serviceModal">
        <a href="#" class="close-reveal-modal"></a>
        <p class="popUpTitle">Услуги</p>
        <div class="wrapper" data-type="service">
            {{ form_widget(cForm.services) }}
        </div>
        <a href="#" class="btnNext addPhotoBtn" id="serviceSave" data-container="serviceContainer">Сохранить</a>
    </div>
    <div id="yandexMapModal" class="reveal-modal yandexMapModal"><!-- popUp firstReg-->
        <a href="#" class="close-reveal-modal"></a>
        <div class="slidCont">
            <div id="myMap" style="height:400px;width:670px;left:5px" ></div>
        </div>
        <span class="btnNext addPhotoBtn" id="saveMapCoordinates">Выбрать</span>
    </div>
    <script>
        $(document).ready(function(){
            $('.dateLeft').datetimepicker({
                pickDate: false
            });

            ymaps.ready(init);
            var gCollection;
            var gps;
            var addressName = '';
            function init() {
                mapCompany = new ymaps.Map ("myMap", {
                    center: [59.933373, 30.357903],
                    zoom: 10,
                    behaviors: ["default", "scrollZoom"]
                });
                attachReverseGeocode(mapCompany);
                function attachReverseGeocode(myMap) {
                    myMap.events.add('click', function (e) {
                        var coords = e.get('coordPosition');
                        if (gCollection != null) { myMap.geoObjects.remove(gCollection);};
                        ymaps.geocode(coords).then(function (res) {
                            var names = [];
                            res.geoObjects.each(function (obj) {
                                names.push(obj.properties.get('name'));
                            });
                            gCollection = new ymaps.Placemark(coords, {
                                        iconContent: names[0],
                                        balloonContent: names.reverse().join(', ')
                                    },
                                    {preset:'twirl#redStretchyIcon', balloonMaxWidth:'250'}
                            );
                            myMap.geoObjects.add(gCollection);
                            gps = coords;

                            addressName = '';
                            for (key in names){
                                if (2 != key) {
                                    addressName = addressName + names[key] + ", "
                                }
                            }
                            addressName = $.trim(addressName);
                            lastIndex = addressName.lastIndexOf(',');
                            if (lastIndex == addressName.length - 1) {
                                addressName = addressName.substring(0, lastIndex);
                            }
                        });
                    });
                }
            }

            $('#saveMapCoordinates').on('click', function(){
                $(this).parent().trigger('reveal:close');
                $('#sto_content_company_registration_address').val(addressName);
                $('#sto_content_company_registration_gps').val(gps)
            });
        });

        function addTagForm(collectionHolder, $newLink, isUnwrap, deleteLink) {
            deleteLink = typeof deleteLink !== 'undefined' ? deleteLink : false;

            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            var $newForm = $('<div class="contactDate"></div>');
            if (isUnwrap) {
                var newestForm = $(newForm).find('.contentLabel').children().unwrap();
                newestForm.each(function(){
                    $newForm.append($(this));
                });
            } else {
                var newestForm = $(newForm);
                newestForm.find('p.contentLabel').children().unwrap();
                newestForm.find('.inputTime').wrap('<div class="input-append dateLeft" />').after('<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-time"></i></span>');
                $newForm.append(newestForm);
                $newForm.find('.contentLabel').remove();
                timeInput = $newForm.find('.dateLeft');
                timeInput.each(function(index, element){
                    $(element).datetimepicker({
                        pickDate: false
                    });
                });
            }

            if (deleteLink) {
                $newForm.append(deleteLink);
                $newForm.append($('<div class="clear">'));
            }

            collectionHolder.data('index', index + 1);
            $newLink.before($newForm);
        }
    </script>
    {{ form_rest(cForm) }}
    </form>
</div>
</section>
{% endblock %}
