{% if app.security.isGranted('ROLE_MODERATOR') %}
<div id="complainFeedbackAction" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Выберите одно из действий</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer" data-type = "" id="feedback">
        <a href="#" data-modal-action="hide" data-field="Hidden" data-value="1" class="btn">Скрыть/Отабразить</a>
        <a href="#" data-modal-action="edit" data-type="company" class="btn">Отредактирвоать</a>
        <a href="#" data-modal-action="delete" class="btn">Удалить</a>
        <a href="#" data-modal-action="no_complain" data-field="Complain" data-value="false" class="btn">Снять жалобу</a>
    </div>
</div>
{% endif %}
{% for feedback in feedbacks %}
<div class="row-fluid" data-feedback-block="{{ feedback.id }}">
    <div class="span2">
        <div class="thumbnail">
            <center>
                <a href="{{ path('user_profile', {'id': feedback.user.id}) }}">
                    {% if feedback.user.avatar %}
                    <img data-image="avatar" id="avatar" src="{{ vich_uploader_asset(feedback.user, 'avatar') }}" style="width:64px; height: 64px;" class="img-polaroid"/>
                    {% elseif feedback.user.avatarVk %}
                    <img data-image="avatar" id="avatar" src="{{ feedback.user.avatarVk }}" style="width:64px; height: 64px;" class="img-polaroid"/>
                    {% else %}
                    <img data-image="avatar" src="{{ asset('bundles/stocore/images/user_avatar.jpg') }}" style="width:64px; height: 64px;" class="img-polaroid"/>
                    {% endif %}
                </a>
                <p>{{ feedback.user.rating }}</p>
            </center>
        </div>
    </div>
    <div class="span10" data-answer-block="{{ feedback.id }}">
        <a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.username }}</a>
        <h3><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.lastName }} {{ feedback.user.firstName }}</a></h3>
        <p class="row-fluid">
            <span class="span8">
                {% if feedback.user.ratingGroup %}{{ feedback.user.ratingGroup.name }}{% endif %}
            </span>
            <span class="span4">
                Дата: {{ feedback.date|date("d.m.Y") }}
            </span>
        </p>
        <blockquote>

            <div class="row-fluid"  data-moderator="{{feedback.id}}">
                {% if feedback.complain or feedback.hidden %}
                <div class="span2" data-complain-feedback="{{ feedback.id }}">
                    {% if app.security.isGranted('ROLE_MODERATOR') %}
                    <a href="#complainFeedbackAction" data-feedback-id="{{ feedback.id }}" data-action="admin_complain"><span class="icon-b4c-attention"></span></a>
                    {% else %}
                    <span class="icon-b4c-attention"></span>
                    {% endif %}
                </div>
                {% endif %}
            {% if feedback.hidden %}
            <div class="span2" data-hidden-feedback="{{ feedback.id }}">
                <span class="label label-warning">Скрыто</span>
            </div>
            {% endif %}
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <input name="star{{feedback.id}}" disabled="disabled" type="radio" class="star"{% if feedback.feedbackRating==1 %} checked="checked"{% endif %}/>
                    <input name="star{{feedback.id}}" disabled="disabled" type="radio" class="star"{% if feedback.feedbackRating==2 %} checked="checked"{% endif %}/>
                    <input name="star{{feedback.id}}" disabled="disabled" type="radio" class="star"{% if feedback.feedbackRating==3 %} checked="checked"{% endif %}/>
                    <input name="star{{feedback.id}}" disabled="disabled" type="radio" class="star"{% if feedback.feedbackRating==4 %} checked="checked"{% endif %}/>
                    <input name="star{{feedback.id}}" disabled="disabled" type="radio" class="star"{% if feedback.feedbackRating==5 %} checked="checked"{% endif %}/>
                </div>
                <div class="span4">
                    Цена: {{ feedback.priceLevel is null ? 'не определена' : feedback.priceLevel }}
                </div>
                <div class="span4">
                    <p class="pull-right">
                        {% if app.security.isGranted('ROLE_USER') %}
                        <a href="#" data-like="company" data-like-feedback="{{feedback.id}}" ><i class="icon-b4c-thumbs-up"></i></a> <span data-like="count">{{ feedback.pluses }}</span>
                        <a href="#" data-dislike="company" data-dislike-feedback="{{feedback.id}}"><i class="icon-b4c-thumbs-down"></i></a> <span data-dislike="count">{{ feedback.minuses }}</span>
                        {% else %}
                        <i class="icon-b4c-thumbs-up"></i> <span data-like="company" data-like-feedback="count">{{ feedback.pluses }}</span>
                        <i class="icon-b4c-thumbs-down"></i> <span data-dislike="company" data-dislike-feedback="count">{{ feedback.minuses }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <blockquote class="well" data-messages-block-edit="{{ feedback.id }}">
                    <div class="row-fluid">
                        <p>{{ feedback.content|raw }}</p>
                        {% set edit = false %}
                        {% if app.security.isGranted('ROLE_USER') %}
                            {% if (feedback.minutes) <= 15 and (app.user.Id == feedback.userId) %}
                            {% set edit = true %}
                            {% endif %}
                        {% endif %}
                        {% if app.security.isGranted('ROLE_MODERATOR') or edit %}
                        <a href="{{ path('content_company_feedbacks_edit', {'id': feedback.id}) }}" >Редактировать</a>
                         <a href="#" id = "delete-feedback" data-type ="feedback-id" data-delete-item="{{feedback.id}}" class="icon-b4c-trash" title="{{ "form.delete"|trans({}) }}"></a>
                        {% endif %}
                        <a href="#" data-action="complain" data-feedback-id="{{ feedback.id }}" class="pull-right">Пожаловаться</a>
                    </div>
                </blockquote>
            </div>
        </blockquote>
        {% if feedback.feedbackAnswer %}
        <div class="row-fluid" >
            <blockquote class="well" data-answer-block-edit="{{ feedback.id }}">
            <div class="row-fluid" data-moderator-answer="{{feedback.feedbackAnswer.id}}">
               {% if feedback.feedbackAnswer.complain or feedback.feedbackAnswer.hidden %}
                <div class="span2" data-complain-answer="{{ feedback.feedbackAnswer.id }}">
                    {% if app.security.isGranted('ROLE_MODERATOR') %}
                    <a href="#complainFeedbackAction" data-target="#complainFeedbackAction" data-toggle="modal" data-answer-id="{{ feedback.feedbackAnswer.id }}"  data-action="admin_complain_answer"><span class=" icon-b4c-attention"></span></a>
                    {% else %}
                    <span class=" icon-b4c-attention"></span>
                    {% endif %}
                </div>
                {% endif %}
                {% if feedback.feedbackAnswer.hidden %}
                <div class="span2" data-hidden-answer="{{ feedback.feedbackAnswer.id }}">
                    <span class="label label-warning">Скрыто</span>
                </div>
                {% endif %}
            </div>

            <div class="row-fluid">
                <div class="span7">
                    <p>{{ feedback.feedbackAnswer.answer|raw }}</p>
                        {% set edit = false %}
                        {% if app.security.isGranted('ROLE_USER') %}
                            {% if (feedback.feedbackAnswer.minutes) <= 15 and (app.user.Id == feedback.feedbackAnswer.owner.Id) %}
                            {% set edit = true %}
                            {% endif %}
                        {% endif %}
                    {% if isManager or app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR') or edit %}<a href="#" data-feedback-edit="{{ feedback.id }}" data-answer-id="{{ feedback.feedbackAnswer.id }}">Редактировать</a>
                    <a href="#" id = "delete-feedback" data-type ="answer-id" data-delete-item="{{feedback.feedbackAnswer.id}}" class="icon-b4c-trash" title="{{ "form.delete"|trans({}) }}"></a>{% endif %}
                    <br/>
                    {% if app.security.isGranted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" data-action="complain-answer" data-answer-id="{{ feedback.feedbackAnswer.id }}" >Пожаловаться</a>{% endif %}
                </div>
                <div class="span5">
                    <div class="row-fluid">
                        <div class="span2">
                            <center><img src="http://placehold.it/39x39"></center>
                        </div>
                        <div class="span8">
                            <h5>{{feedback.feedbackAnswer.owner.lastName}} {{feedback.feedbackAnswer.owner.firstName}}</h5>
                            <p><small>Старший менеджер</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </blockquote>
    </div>
    {% elseif isManager or app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR')%}
    <a href="#" data-feedback="{{ feedback.id }}" >Ответить</a>
    <div class="row-fluid new-answer" style="display:none;" data-answerform="{{ feedback.id }}">
        <blockquote class="well">
            <form method="POST" name="form{{ feedback.id }}" action="">
                <input type="hidden" name="feedback_id" value="{{ feedback.id }}" />
                <div class="row-fluid">
                    <div class="span9">
                        <textarea name="answer"></textarea>
                    </div>
                    <div class="span3">
                        <input class="btn" data-submit-form="{{ feedback.id }}" type="submit" value="Отправить" />
                        <a href="#" data-abort-answer="{{ feedback.id }}">Отмена</a>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
    {% endif %}
</div>
</div>
{% endfor %}
{% if not (feedbacks.paginationData.current == feedbacks.paginationData.last) %}
<div class="row-fluid">
    <div class="span12">
        <a class="btn" href="{{ path('company_feedbacks_show', {'id':companyId}) }}" rel="{{ feedbacks.paginationData.current }}" data-page="2">More...</a>
    </div>
</div>
{% endif %}
