{% for item in companies %}
<div class="cardCompanyItem" data-item-id="{{ item.id }}" id="list-company{{ item.id }}" data-correspond="x-list-company{{ item.id }}">
    <p class="index">
        <span class="indexbg"></span>
        <span class="indexLevel">{{item.rating}}</span></br>
        <span class="Otzyv">Отзывы: <span>{{item.feedbacks|length}}</span></span>
    </p>
    <div class="nameCompanyWrap">
        <p class="nameCompany"><a href="{{ path('content_company_show', {'id':item.id}) }}">{{item.name}}</a></p>
        <p class="adressCompany">{{item.address}}</p>
        <p class="phoneCompany">{% if item.phones | length > 0 %}{{item.phones[0].phone}}{% endif %}</p>
    </div>
    <div class="infoCompanyCont smallInfoCompany" id="blocSmall_{{ item.id }}">
        <ul class="iconSpecialisation">
        {% for key, specialization in item.specialization %}
            <li class="iconSpecialisationitem">
                <span class="iconProfilCompany {{ specialization.iconNameSmall }}">
            </li>
        {% endfor %}
    </div>
    <div class="infoCompanyCont bigInfoCompany" id="x-list-company{{ item.id }}" data-correspond="list-company{{ item.id }}" data-coord="{{ item.gps }}">
        <div class="popupCardCompanyCont">
            <div class="servicesPart">
                <ul class="services">
                {% for key, specialization in item.specialization %}
                    <li class="servisesItem">
                        <span class="iconProfilCompany {{ specialization.iconNameSmall }}" />{{ specialization.name }}
                    </li>
                {% endfor %}
            </div>
            <div class="infoCompany">
                <p class="infoCompanyLable">
                    Контактный телефон:</br><span>(812) 323-78-98</span>
                </p>
                <p class="infoCompanyLable">
                    Часы работы:</br>
                    {%- for workPhase in item.workingTime %}
                        <span>{{ workPhase.from|date('H:i') }}-{{ workPhase.till|date('H:i') }} ({{ workPhase.days.string }})</span>
                        {%- if not loop.last %}<br />{% endif -%}
                    {% endfor -%}
                </p>
                {% if item.web is not empty %}
                    <p class="infoCompanyLable">
                        Сайт:</br><span><a href="{{ item.web }}">{{ item.web }}</a></span>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    $('.bigInfoCompany').hide();
    $('.cardCompanyItem').on('click', function(e) {
        e.preventDefault();
        var id = $(this).data('item-id');
        $('#x-list-company' + id).slideToggle(0);
        $('#blocSmall_' + id).slideToggle(0);
    });
</script>
