{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title 'Компании' %}

{% block header %}
<form class="form-search form-inline">
    Я ищу компанию:
    <div class="input-append">
        <input type="text" class="search-query span9" placeholder="Все компании">
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
</form>
{% endblock %}

{% block content_tag 'class="container" style="width:100%"' %}

{% block content %}
<div id="map" style="width: 100%; height: 550px; margin: 0; padding: 0;"></div>

{# Выбор города #}
{% if cities %}
<div id="cities" style="display:none;">
    <ul>
    {% for city in cities %}
        <li><a href="#">{{ city.name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{# Конец выбора города #}
{% endblock %}

{% block foot_script %}
{{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init (companies) {
            var myMap = new ymaps.Map("map", {
                center: [59.95, 30.31],
                zoom: 11,
                behaviors: ["default", "scrollZoom"]
            }),
            bounds = myMap.getBounds(),
            styleKeys = [
                "twirl#lightblueIcon", "twirl#whiteIcon", "twirl#greenIcon",
                "twirl#redIcon", "twirl#yellowIcon",
                "twirl#darkblueIcon", "twirl#nightIcon",
                "twirl#greyIcon", "twirl#blueIcon",
                "twirl#orangeIcon", "twirl#darkorangeIcon",
                "twirl#pinkIcon", "twirl#violetIcon"
            ],
            myPlacemark,
            myCollection = new ymaps.GeoObjectCollection();

            var companies = {{ companies|raw }};
            for (var key in companies) {
                var val = companies[key];

                myPlacemark = new ymaps.Placemark(val.gps.split(','), {
                    name: val.name,
                    address: val.address,
                    phone: val.phones,
                    web: val.web,
                    logo: val.logoName,
                }, {
                    iconImageHref: "{{ asset('bundles/stocontent/images/company.png') }}", // картинка иконки
                    iconImageSize: [40, 28],
                    // iconImageOffset: [-3, -28] // смещение картинки
                });
                myCollection.add(myPlacemark);
            }

            var myBalloonLayout = ymaps.templateLayoutFactory.createClass(
                '<div class="row-fluid">' +
                    '<div class="span2">' +
                        '<img src="/../{{ storage_path }}/company_logo/$[properties.logo]" class="img-polaroid">' +
                    '</div>' +
                    '<div class="span10">' +
                        '<div class="row-fluid">' +
                            '<div class="span8">' +
                                '<h4>$[properties.name]</h4>' +
                                '<address style="0">$[properties.address]</address>' +
                            '</div>' +
                            '<div class="span4">' +
                                '<h4><i class="icon-star"></i> 8.0</h4>' +
                                '<p>Очень хорошо</p>' +
                            '</div>' +
                        '</div>' +
                        '<hr style="margin: 5px 0;"/>' +
                        '<div class="row-fluid">' +
                            '<div class="span6">' +
                                '<p><img src="http://placehold.it/30x30"> СТО</p>' +
                                '<p><img src="http://placehold.it/30x30"> Мойка</p>' +
                                '<p><img src="http://placehold.it/30x30"> Автосалон</p>' +
                                '<p><img src="http://placehold.it/30x30"> Страхование</p>' +
                                '<hr />' +
                                '<img src="http://placehold.it/30x30"> ' +
                                '<img src="http://placehold.it/30x30"> ' +
                                '<img src="http://placehold.it/30x30"> ' +
                            '</div>' +
                            '<div class="span6">' +
                                '<h5>Телефон</h5>' +
                                '<p>$[properties.phone]</p>' +
                                '<h5>Время работы</h5>' +
                                '<p>09:00-21:00 (пн-пт)</p>' +
                                '<p>09:00-20:00 (сб-вс)</p>' +
                                '<h5>Сайт</h5>' +
                                '<a href="#">$[properties.web]</a>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>'
            );
            ymaps.layout.storage.add('my#superlayout', myBalloonLayout);
            myCollection.options.set({
                balloonContentBodyLayout:'my#superlayout',
                balloonMinWidth: 600
            });
            myMap.geoObjects.add(myCollection);
        }
    </script>
{% endblock %}
