{% extends 'StoContentBundle::layout.companies.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title 'Компании' %}

{% block aside %}
    <div class="well" style=" z-index:90; width: 100%; position: absolute; margin: 40px 0 0 0; padding: 20px 0 0 0; border: 0px; overflow: hidden">
        <form method="post" action="{{ path('content_companies') }}" class="form-search form-inline" style="margin-bottom:5px; padding: 0 0 0 20px;">
            Я ищу компанию:
            <div class="input-append">
                <input type="text" class="search-query span9" placeholder="Все компании" name="search">
                <button type="submit" class="btn btn-primary">Найти</button>
            </div>
        </form>
        <div class="row-fluid">
            <div class="span10 offset1">
                Напрмер: <a href="#">ремонт двигателя, Mazda 3, 1.6, 2010, север спб</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <a href="#" class="show-list">Показать списком</a>
            </div>
            <div class="span8">
                <p>Все 150 компаний в Санкт-Петербурге</p>
            </div>
            <div class="pull-right span2">
                <a href="#" class="show-search">Расширенный поиск</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_tag 'class="container" style="width:100%; height: 100%; min-height: 100%; margin-bottom: -60px;"' %}

{% block content %}
<div id="map" style="width: 100%; height: 100%; margin: 0; padding: 0; min-height: 100%; margin-bottom: -60px;"></div>

{# Companies list #}
{% include 'StoContentBundle::Company/_companiesList.html.twig' %}
{# EOF Companies list #}

{# search #}
{% include 'StoContentBundle::Company/_advancedSearch.html.twig' %}
{# EOF search #}
{% endblock %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bundles/stocore/css/select2.css') }}" type="text/css" rel="stylesheet"  />
    <link href="{{ asset('bundles/stocontent/ui-slider/jquery-ui-1.10.2.custom.min.css') }}" type="text/css" rel="stylesheet"  />
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" type="text/javascript"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/stocore/js/select2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/stocore/js/geolocation-button.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/stocontent/ui-slider/jquery-ui-1.10.2.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/stocontent/js/script.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(function (companies) {
            var myMap = new ymaps.Map("map", {
                center: [59.95, 30.31],
                zoom: 11,
                behaviors: ["default", "scrollZoom"]
            });
            var myCollection = new ymaps.GeoObjectCollection();
            var buttonMyPlace = new GeolocationButton({
                data : {
                    image : "{{ asset('bundles/stocontent/images/wifi.png') }}",
                    plsImage : "{{ asset('bundles/stocontent/images/man.png') }}",
                    lImage : "{{ asset('bundles/stocontent/images/loader.gif') }}",
                    title : 'Определить мое местоположение'
                },
                geolocationOptions: {
                    enableHighAccuracy : true
                }
            },{
                selectOnClick: false
            });

            myMap.controls.add(buttonMyPlace, { top : 180, left : 20 });
            addPlacemarks({{ companies|raw }});// call function

            myMap.events.add('actionend', function (evt) {
                filterDataByZoom(myMap.getZoom());
            });

            $('[data-serarch-form]').change(function () {
                $.ajax({
                   type: "POST",
                   url: Routing.generate('api_auto_get_companies_with_filter'),
                   data: $('#advanced-search-form').serialize(),
                   dataType: 'json'
                }).done(function (json) {
                    myMap.geoObjects.each(function (geoCollection) {
                        geoCollection.each(function (item) {
                            geoCollection.remove(item);
                        });
                    });
                    addPlacemarks(json);

                    myMap.geoObjects.each(function (geoCollection) {
                        geoCollection.each(function (item) {
                            var rat =  parseFloat( item.properties.get('rating') );
                            if (!showByRate( myMap.getZoom(), rat)) {
                                geoCollection.remove(item);
                            }
                        });
                    });

                });
            });

            function addPlacemarks(companies){
                for (var key in companies) {
                    var val = companies[key];

                    var iconMap = (val.specialization[0] !== undefined && val.specialization[0].iconNameMap !== undefined) ? "/../{{ storage_path }}/company_icon/"+val.specialization[0].iconNameMap : "{{ asset('bundles/stocontent/images/company.png') }}";

                    var vid = val.id;
                    myPlacemark2 = new ymaps.Placemark(val.gps.split(','), {
                        id: val.id,
                        name: val.name,
                        address: val.address,
                        phone: val.phones,
                        web: val.web,
                        logo: val.logoName,
                        rating: val.rating,
                        specialization_html: val.specialization_template,
                        workingTime_html: val.workingTime_template
                    }, {
                        iconImageHref: iconMap, // картинка иконки
                        iconImageSize: [40, 28],
                    });
                    myCollection.add(myPlacemark2);
                } // for

                myCollection.each(function (ob) {
                    ob.events.add('click', function(){
                        (function(obPlacemark){
                            var cid = obPlacemark.properties.get('id');
                            var listObj = $("#list-company" + cid);

                            if (listObj.length && listObj.is(':visible')){
                                obPlacemark.balloon.open();// WHY Open ????? But it works
                                $('.listItemCompany').removeClass('listActive');
                                listObj.addClass('listActive');
                                $('#home_compalies').scrollTo(listObj);
                            }
                        })(ob);
                    });
                });

                var myBalloonLayout = ymaps.templateLayoutFactory.createClass(
                    '<div class="row-fluid">' +
                        '<div class="span2">' +
                            '<img src="/../{{ storage_path }}/company_logo/$[properties.logo]" class="img-polaroid">' +
                        '</div>' +
                        '<div class="span10">' +
                            '<div class="row-fluid">' +
                                '<div class="span8">' +
                                    '<h4><a href="../company/$[properties.id]">$[properties.name]</a></h4>' +
                                    '<address style="0">$[properties.address]</address>' +
                                '</div>' +
                                '<div class="span4">' +
                                    '<h4><i class="icon-b4c-star"></i>$[properties.rating]</h4>' +
                                    '<p>Очень хорошо</p>' +
                                '</div>' +
                            '</div>' +
                            '<hr style="margin: 5px 0;"/>' +
                            '<div class="row-fluid">' +
                                '<div class="span6">' +
                                    '$[properties.specialization_html]' +
                                '</div>' +
                                '<div class="span6">' +
                                    '<h5>Телефон</h5>' +
                                    '<p>$[properties.phone.0.phone]</p>' +
                                    '<h5>Время работы</h5>' +
                                    '$[properties.workingTime_html]' +
                                    '<h5>Сайт</h5>' +
                                    '<a href="$[properties.web]">$[properties.web]</a>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
                );
                ymaps.layout.storage.add('my#superlayout', myBalloonLayout);
                myCollection.options.set({
                    balloonContentBodyLayout:'my#superlayout',
                    balloonMinWidth: 600
                });
                myMap.geoObjects.add(myCollection);
            }

            function filterDataByZoom(indexZoom) {
                myMap.geoObjects.each(function (geoCollection) {
                    geoCollection.each(function (item) {
                        geoCollection.remove(item);
                    });
                });
                addPlacemarks({{ companies|raw }});// call function

                myMap.geoObjects.each(function (geoCollection) {
                    geoCollection.each(function (item) {
                        var rat =  parseFloat( item.properties.get('rating') );
                        if (!showByRate( indexZoom, rat)) {
                            geoCollection.remove(item);
                        }
                    });
                });

                $('.listItemCompany').each(function (index, element) { // 02 apply filter 2 List
                    var id = element.id.replace('list-company', '');
                    var el = $(element);
                    var rating = parseFloat(el.find('div.span3 span.rating').text());
                    if (showByRate(indexZoom, rating)) {
                        el.show();
                    } else {
                        el.hide();
                    }
                });
            }

            function showByRate(pZoom, pRating ){
                if (pZoom < 11 && pRating > 9)
                    return true;
                if (pZoom == 11 && pRating > 9)
                    return true;
                if (pZoom == 12 && pRating > 7)
                    return true;
                if (pZoom == 13 && pRating > 5)
                    return true;
                if (pZoom == 14 && pRating > 3)
                    return true;
                return false;
            }
        });
    </script>
{% endblock %}
