{% extends 'StoContentBundle::layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-index.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/geolocation-button.js') }}"></script>
    <script>
    var city = '{{ city.gps }}';
    $(document).ready(function(){
        $.getJSON(Routing.generate('api_get_companies')).done(function (companies) {
            renderMap(city, companies)
        });
        var myMap;
        function renderMap (city, companies) {
            $('#map').empty();
            ymaps.ready(init(city, companies));

            function init (city, companies) {
                myMap = new ymaps.Map("map", {
                    center: [city.split(",")[0], city.split(",")[1]],
                    zoom: 11,
                    behaviors: ["default", "scrollZoom"]
                });

                var myCollection = new ymaps.GeoObjectCollection();
                myMap.myCollection = myCollection;
                var buttonMyPlace = new GeolocationButton({
                    data : {
                        image : "/bootstrap/img/wifi.png",
                        plsImage : "/bootstrap/img/man.png",
                        lImage : "/bootstrap/img/loader.gif",
                        title : 'Определить мое местоположение'
                    },
                    geolocationOptions: {
                        enableHighAccuracy : true
                    }
                },{
                    selectOnClick: false
                });

                myMap.controls.add(buttonMyPlace, { top : 20, left : 20 });

                filterDataByZoom(myMap.getZoom(), companies);

                myMap.events.add('actionend', function (evt) {
                    filterDataByZoom(myMap.getZoom(), companies);
                });

                $('[data-serarch-form]').change(function () {
                    $.ajax({
                       type: "GET",
                       url: Routing.generate('api_auto_get_companies_with_filter'),
                       data: $('#advanced-search-form').serialize(),
                       dataType: 'json'
                    }).done(function (json) {
                        myMap.geoObjects.each(function (geoCollection) {
                            geoCollection.each(function (item) {
                                geoCollection.remove(item);
                            });
                        });
                        addPlacemarks(json);

                        myMap.geoObjects.each(function (geoCollection) {
                            geoCollection.each(function (item) {
                                var rat =  parseFloat( item.properties.get('rating') );
                                if (!showByRate( myMap.getZoom(), rat)) {
                                    geoCollection.remove(item);
                                }
                            });
                        });

                    });
                    if(!$('#home_compalies').hasClass("hide")){
                        doAjax();
                    }
                });

                function addPlacemarks (companies) {
                    var sel;
                    $('div.listItemCompanyPlain').each(function(){ if($(this).css('display')=='block'){ sel = $(this).attr('id').replace('x-list-company',''); }});

                    for (var key in companies) {
                        var val = companies[key];

                        var iconMap = (val.specialization[0] !== undefined && val.specialization[0].iconNameMap !== undefined) ? "/../{{ storage_path }}/company_icon/"+val.specialization[0].iconNameMap : "{{ asset('bundles/stocontent/images/company.png') }}";
                        var iconSize = (sel == val.id)? [60,42]: [40,28];
                        var vid = val.id;
                        var img;
                        if(showByRate (myMap.getZoom(),val.rating)){
                            img = {
                                iconImageHref: iconMap,
                                iconImageSize: iconSize,
                            };
                        } else {
                            img = { preset: 'twirl#blackClusterIcons' };
                        }
                        myPlacemark2 = new ymaps.Placemark(val.gps.split(','), {
                            id: val.id,
                            name: val.name,
                            address: val.address,
                            phone: val.phones,
                            web: val.web,
                            logo: val.logoName,
                            rating: val.rating,
                            specialization_html: val.specialization_template,
                            workingTime_html: val.workingTime_template
                        }, img);
                        myCollection.add(myPlacemark2);
                    }

                    myCollection.each(function (ob) {
                        ob.events.add('click', function () {
                            (function (obPlacemark) {
                                var listObj = $("#list-company" + obPlacemark.properties.get('id'));

                                if (listObj.length && listObj.is(':visible')){
                                    obPlacemark.balloon.open();// WHY Open ????? But it works
                                    // $('.listItemCompany').removeClass('listActive');
                                    // listObj.addClass('listActive');
                                    $('.listItemCompanyPlain').each(function(){
                                        $(this).hide();
                                        $('#'+$(this).attr('data-correspond') ).show();
                                    });
                                    $('#'+$(listObj).attr('data-correspond')).show();
                                    $(listObj).hide();
                                    $('#home_compalies').scrollTo('#'+$(listObj).attr('data-correspond'));
                                }
                            })(ob);
                        });
                    });

                    var myBalloonLayout = ymaps.templateLayoutFactory.createClass(
                        '<div class="popupCardCompany">' +
                            '<div class="popupCardCompanyTop">' +
                                '<img src="/{{ storage_path }}/company_logo/$[properties.logo]">' +
                                '<p class="indexCardCompany">' +
                                    '<span class="indexbg"></span>' +
                                    '<span class="indexLevel">$[properties.rating]</span></br>' +
                                '</p>' +
                                '<div class="dataCompany">' +
                                    '<p class="nameCompany"><a href="/company/$[properties.id]">$[properties.name]</a></p>' +
                                    '<p class="adressCompany">$[properties.address]</p>' +
                                '</div>' +
                            '</div>' +
                            '<div class="popupCardCompanyCont">' +
                                '<div class="servicesPart">' +
                                    '$[properties.specialization_html]' +
                                '</div>' +
                                '<div class="infoCompany">' +
                                    '<p class="infoCompanyLable">' +
                                        'Контактный телефон:</br><span>$[properties.phone.0.phone]</span>' +
                                    '</p>' +
                                    '<p class="infoCompanyLable">' +
                                        'Часы работы:</br><span>$[properties.workingTime_html]</span>' +
                                    '</p>' +
                                    '<p class="infoCompanyLable">' +
                                        'Сайт:</br><span><a href="$[properties.web]">$[properties.web]</a></span>' +
                                    '</p>' +
                                '</div>' +
                            '</div>' +
                        '</div>'
                    );
                    ymaps.layout.storage.add('my#superlayout', myBalloonLayout);
                    myCollection.options.set({
                        balloonContentBodyLayout:'my#superlayout',
                        balloonMinWidth: 600
                    });

                    myMap.geoObjects.add(myCollection);
                }

                function filterDataByZoom (indexZoom, companies) {
                    myMap.geoObjects.each(function (geoCollection) {
                        geoCollection.each(function (item) {
                            geoCollection.remove(item);
                        });
                    });

                    addPlacemarks(companies);

                    myMap.geoObjects.each(function (geoCollection) {
                        geoCollection.each(function (item) {
                            var rat =  parseFloat( item.properties.get('rating') );
                            if (!showByRate( indexZoom, rat)) {
                                // geoCollection.remove(item);
                            }
                        });
                    });

                    $('.listItemCompany').each(function (index, element) { // 02 apply filter 2 List
                        var id = element.id.replace('list-company', '');
                        var el = $(element);
                        var rating = parseFloat(el.find('div.span3 span.rating').text());
                        if (showByRate(indexZoom, rating)) {
                            if($('#'+el.attr('data-correspond')).css('display')=='none' ) { el.show(); }
                        } else {
                            el.hide();
                            $('#'+el.attr('data-correspond')).hide();
                        }
                    });
                }

                function showByRate (pZoom, pRating) {
                    if (pZoom < 11 && pRating > 9)
                        return true;
                    if (pZoom == 11 && pRating > 9)
                        return true;
                    if (pZoom == 12 && pRating > 7)
                        return true;
                    if (pZoom == 13 && pRating > 5)
                        return true;
                    if (pZoom == 14 && pRating > 3)
                        return true;
                    return false;
                }
            }
        }
    });
    </script>
{% endblock %}

{% block map %}
<div id="map"></div>
{% endblock %}

{% block contentTop %}
<div class="contentTop">
    <div class="contentTopLeft">
        <div class="btnShoeLeftCont">
            <div class="hideLeftColumn">
                <a href="#" class="hideBtn" id="toggleCompaniesList">Показать списком</a>
            </div>
        </div>
        <div class="selectLeftColumn">
            <div class="assortSelect">
                <span>Сортировать по:</span>
                <div class="parametrAssort">
                    <div class="lineForm">
                        <select class="styled1">
                            <option value="">рейтингу</option>
                            <option value="">уровню цен</option>
                            <option value="">удаленности</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentTopRight">
        <span class="hideRightSearch">
            <a href="#" class="hideBtn" id="toggleAdvancedSearch">Показать расширенный поиск</a>
        </span>
    </div>
    <p class="contentTopCenter">
        Все <span>150 </span>компаний вашего города
    </p>
</div>

<div id="companiesList" class="contentLeft">
    <div class="scroll-pane jspScrollable" id="companiesListContainer"></div>
    <script>companiesList(jQuery, Routing);</script>
</div>

<div id="advancedSearch" class="contentRightWrap">
    <div class="contentRight">
        <form action method="post" class="inputTypeForm" id="advanced-search-form">
            <p class="contentRightItem">
                <label for="typeCompany">Тип компании</label>
            </p>
            <div class="basket__cont__body__bottom__paper">
                <div class="lineForm">
                    <select name="company_type" class="styled" data-serarch-form="company-type">
                        <option value="0">Все</option>
                    </select>
                </div>
            </div>
            <p class="contentRightItem">
                <label for="addtypeCompany">Подтип компании</label>
            </p>
            <div class="basket__cont__body__bottom__paper">
                <div class="lineForm">
                    <select name="sub_company_type" class="styled" data-serarch-form="company-subtype">
                        <option value="0">Все</option>
                    </select>
                </div>
            </div>
            <p class="contentRightItem">
                <label for="inputBrandField">Специализация на марке</label>
            </p>
            <div class="basket__cont__body__bottom__paper">
                <div class="lineForm">
                    <select name="marks" class="styled" data-serarch-form="company-mark">
                        <option value="0">Все</option>
                    </select>
                </div>
            </div>
            <div class="reitingSlyder">
                <p class="contentAmount">
                    <span id="lableAmount" for="amount">Минимальный рейтинг:</span>
                    <input type="text" id="amount" data-serarch-form="rating" name="rating" />
                </p>
                <div id="slider-range-max"></div>
                <span class="indexSlyderLeft">1</span>
                <span class="indexSlyderRight">10</span>
            </div>
            <p class="contentRightItem">
                <label>Время работы</label>
            </p>
            <ul class="btnFiltr-group">
                <li><input id="CheckBox1" class="checkBox" type="checkbox" data-serarch-form="24hours" /><label class="btnFiltr btnFiltrFirst" for="CheckBox1">24 часа</label></li>
                <li><input id="CheckBox2" class="checkBox" type="checkbox" data-serarch-form="late" /><label class="btnFiltr" for="CheckBox2">До поздна</label></li>
                <li><input id="CheckBox3" class="checkBox" type="checkbox" name="weekends"/><label class="btnFiltr btnFiltrLast" for="CheckBox3">Выходные</label></li>
            </ul>
            <p class="contentRightItem">
                <label>Дополнительные услуги</label>
            </p>
            <ul class="btnFiltr-group dop">
                <li>
                    <input id="CheckBox4" class="checkBox" type="checkbox" data-serarch-form="evaquate" />
                    <label class="btnFiltr btnFiltrFirst" for="CheckBox4">
                        <i class="iconDopWork iconevacuation" label="Эвакуатор"></i>
                    </label>
                </li>
                <li>
                    <input id="CheckBox5" class="checkBox" type="checkbox" data-serarch-form="wifi" />
                    <label class="btnFiltr" for="CheckBox5">
                        <i class="iconDopWork iconwifi" label="WiFi"></i>
                    </label>
                </li>
                <li>
                    <input id="CheckBox6" class="checkBox" type="checkbox" data-serarch-form="tv" />
                    <label class="btnFiltr" for="CheckBox6">
                        <i class="iconDopWork iconotdyh" label="Телевизор"></i>
                    </label
                </li>
                <li>
                    <input id="CheckBox7" class="checkBox" type="checkbox" data-serarch-form="coffee" />
                    <label class="btnFiltr" for="CheckBox7">
                        <i class="iconDopWork iconkofe" label="Кофе"></i>
                    </label>
                </li>
                <li>
                    <input id="CheckBox8" class="checkBox" type="checkbox" data-serarch-form="credit-card"  />
                    <label class="btnFiltr" for="CheckBox8">
                        <i class="iconDopWork iconcard" label="Кредитные карты"></i>
                    </label>
                </li>
                <li>
                    <input id="CheckBox9" class="checkBox" type="checkbox" data-serarch-form="restaurant" />
                    <label class="btnFiltr btnFiltrLast" for="CheckBox9">
                        <i class="iconDopWork iconcafe" label="Кафе"></i>
                    </label>
                </li>
            </ul>
            <p class="contentRightItem labelCheckBox">
                <span class="checkBox__autograf__wrap">
                    <input id="checkBox__autograf1" type="checkbox" value="off" data-serarch-form="deals">
                    Только с акциями
                </span>
            </p>
            <input type="hidden" name="responce-type" data-serarch-form="responce-type" value="json">
            <p class="cleanSearch secondaryLink" id="cleanSearch">Очистить поиск</p>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
    {% if not app.user %}
        <div class="popupFirstVisit">
            <i class="icon-remove-sign popupClose"></i>
            <h3 class="titleFirstVisit">Впервый раз здесь?</h3>
            <p class="contentFirstVisit">
                Лицензией Свидетельством о государственной аккредитации выданные Федеральной службой по надзору в сфере образования и науки России, объявляет прием документов по следующим направлениям и формам подготовки:
            </p>
            <a href="#" class="linkFirstVisitPeople">
                <i class="iconPeople"></i>
                <span>Возможности </br>для автовладельцев</span>
            </a>
            <a href="#" class="linkFirstVisitCompany">
                <i class="iconCompany"></i>
                <span>Возможности </br>для автокомпаний</span>
            </a>
        </div>
    {% endif %}
{% endblock %}
