{% extends 'StoContentBundle::layout.html.twig' %}

{% block title %}
    {%- if company %}{{ company.name }} — общая информация, отзывы, акции{% endif -%}
{% endblock %}

{% block metaTegs %}
    <meta name="description" content="{{ company.description }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.rating.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.feedback.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.like.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.rating.js') }}"></script>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/geolocation-button.js') }}"></script>
    <script>
    $(document).ready(function(){
        var city = '{{ company.gps }}', mapComany;

        var init = function(){
            mapComany = new ymaps.Map ("YMapsID", {
                center: [city.split(",")[0], city.split(",")[1]],
                zoom: 15,
                behaviors: ["default", "scrollZoom"]
            });
            myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: mapComany.getCenter()
                }
            }, {
                iconImageHref: "/bootstrap/img/icon-map-default-active.png",
                iconImageSize: [34, 45]
            });
            addButtonsToMap(mapComany, ymaps, GeolocationButton);
            mapComany.geoObjects.add(myGeoObject);

        };

        ymaps.ready(init);
    });
    </script>
{% endblock %}

{% block search %}
<div class="back">
    {% if refererRoute == 'content_deal_show' %}
        <a href="{{ app.request.headers.get('referer') | url_to_local }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Карточка акции</span></a>
    {% elseif refererRoute == '_index' %}
        <a href="{{ app.request.headers.get('referer') | url_to_local }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
    {% else %}
        <a href="{{ path('_index') }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
    {% endif %}
</div>
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        <div class="logoCompany">
            {% set companyLogo = asset('/bootstrap/img/default_company_logo.png'|imagine_filter('company_logo')) %}
            {% if company.logo %}
                {% set companyLogo = vich_uploader_asset(company, 'logo')|imagine_filter('company_logo') %}
            {% endif %}
            <img src="{{ companyLogo }}" alt="{{ company.name }}">
        </div>
        <div class="titles">
            <h1 class="titleNameCompany"><a href="{{ path('content_company_show', { "id": company.id }) }}">{{ company.name }}</a></h1>
            <p class="sloganCompany">{{ company.slogan[:85] }}</p>
        </div>
    </div>
    <div class="indexCompany">
        <p>Рейтинг:</p>
        <span class="indexbg"></span>
        {% set rating = 'n/a' %}
        {% if company.rating %}
            {% set rating = company.rating|number_format(1) %}
        {% endif %}
        <span class="indexLevel">{{ rating }}</span></br>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="contentMain row tabs">
    <!-- Это сами вкладки -->
    <ul class="tabNavigation">
        <li>
            <a href="#information">Информация</a>
        </li>
        <li>
            <a href="#feedbacks">Отзывы  {{ company.feedbacks|length }}</a>
        </li>
        <li>
            <a href="#deals">Акции  {{ deals|length }}<span class="newPost">/ {{ archivedDealsCount }}</span></a>
        </li>
    </ul>
    <!-- Это контейнеры содержимого -->
    <div data-tab-id="#information" class="content" >
        {% render(controller("StoContentBundle:Company:information", { 'company': company, 'isManager': isManager })) %}
    </div>
    <div data-tab-id="#feedbacks" class="content">
        {% include "StoContentBundle:Company:tabs/feedbacks.html.twig" with { 'company': company } %}
    </div>
    <div data-tab-id="#deals" class="content">
        {% include "StoContentBundle:Company:tabs/deals.html.twig" with { 'company': company, 'deals': deals, 'archivedDealsCount': archivedDealsCount } %}
    </div>
    <div id="map-modal" class="reveal-modal yandexMapModalCompanyPage">
        <a href="#" class="close-reveal-modal"></a>
        <div class="slidCont">
            <div id="YMapsID" style="height:400px"></div>
        </div>
    </div>
</section>
{% endblock %}
