{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title company.name %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bundles/stocontent/css/jquery.rating.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <style type="text/css">
        .hide {
            display: none;
        }
    </style>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/stocontent/js/jquery.rating.pack.js') }}"></script>
{% endblock %}

{% block content %}
    {% if isManager %}
        <div class="row-fluid">
            <div class="span12"><a href="{{ path('content_company_edit', {'id': company.id}) }}">Редактирвоать</a></div>
        </div>
    {% endif %}
    <div class="row-fluid">
        <section class="container">
            <ul class="nav nav-pills">
                <li {% if tab == 'information' %} class="active" {% endif %}><a data-toggle="tab" href="#information">Информация</a></li>
                <li {% if tab == 'feetbacks' %} class="active" {% endif %} ><a data-toggle="tab" href="#feetbacks">Отзывы</a></li>
                <li {% if tab == 'deals' %} class="active" {% endif %} ><a data-toggle="tab" href="#deals">Акции</a></li>
            </ul>
        </section>
        <section class="tab-content container">
            <div class="tab-pane{% if tab == 'information' %} active{% endif %}" id="information">
                {% include 'StoContentBundle::Company/tabs/information.html.twig' %}
            </div>
            <div class="tab-pane{% if tab == 'feetbacks' %} active{% endif %}" id="feetbacks">
                {% include 'StoContentBundle::Company/tabs/feetbacks.html.twig' %}
            </div>
            {% set manager = false %}
            {% if app.security.isGranted('ROLE_USER') %}
            {% if isManager %}
                {% set manager = true %}
            {% endif %}
            {% endif %}
            <div class="tab-pane{% if tab == 'deals' %} active{% endif %}" id="deals">
                {% if app.security.isGranted('ROLE_ADMIN') or  manager  %}
                   {% include 'StoContentBundle::Company/tabs/dealsManager.html.twig' %}
                {% else %}
                   {% include 'StoContentBundle::Company/tabs/deals.html.twig' %}
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script src="{{ asset('bundles/stocontent/js/like.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/stocontent/js/feedbacks.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var city = '{{ company.gps }}',mapComany;
    ymaps.ready(init);

    function init(){
        mapComany = new ymaps.Map ("myMap", {
            center: [city.split(",")[0], city.split(",")[1]],
            zoom: 15,
            behaviors: ["default", "scrollZoom"]
        });
        myGeoObject = new ymaps.GeoObject({
            geometry: {
                type: "Point",
                coordinates: mapComany.getCenter()
            }
        });
        mapComany.geoObjects.add(myGeoObject);
    }
    $('[data-page]').live('click', function(){
        var page = parseInt($(this).attr('rel'))+1;
        var path = $(this).attr('href');
        $(this).parent('div.span12').parent('div.row-fluid').remove();
        $('[data-page]').attr('rel', page+1);
        $.ajax({
            type: 'POST',
            url: path+"?page="+page,
        }).done(function (html) {
            $('[data-content]').append(html);
        }).fail(function (e) {
            console.log(e.message);
        });

        return false;
    });
    // Нажатие на кнопку добавления ответа на отзыв
    $('a[data-feedback]').click(function(){
        var feed_id = $(this).data('feedback');
        $('div[data-answerform='+feed_id+']').toggle();
        $(this).css('display', 'none');
        return false;
    });

    // отмена добавления ответа
    $('a[data-abort-answer]').click(function(){
        var feed_id = $(this).data('abort-answer');
        $('div[data-answerform='+feed_id+']').toggle();
        $('a[data-feedback='+feed_id+']').css('display', 'block');
        return false;
    });

    // сохранение нового ответа на отзыв
    $('input[data-submit-form]').click(function(){
        var feed_id = $(this).data('submit-form');
        var answer = $('form[name="form'+feed_id+'"] textarea[name=answer]').val();
        $.getJSON("{{ path('api_add_answer') }}",{'feedback_id': feed_id, 'answer':answer})
        .done(function(data){
            $('div[data-answer-block="'+feed_id+'"]').append(data.content);
            $('div[data-answerform='+feed_id+']').toggle();
        })
        .fail(function(e){
            console.log(e.message);
        })

        return false;
    });

    // Вывод формы редактирования
    $('a[data-feedback-edit]').live('click', function(){
        var feed_id = $(this).data('feedback-edit');
        var answer_id = $(this).data('answer-id');
        $(this).css('display', 'none');
        var answer = $(this).parent().find('p').html();
        $('blockquote[data-answer-block-edit="'+feed_id+'"]').css('display', 'none');
        $('blockquote[data-answer-block-edit="'+feed_id+'"]').parent().append(generateAnswerFrom(feed_id, answer_id, answer));
        var answer = $('textarea[data-answer-textarea="'+feed_id+'"]').val();

        return false;
    });

    // Сохранение отредактированного отзыва
    $('input[data-submit-edit-form]').live('click', function(){
        var feed_id = $(this).data('submit-edit-form');
        var answer_id = $(this).data('answer-id');
        var answer = $('#zorro').val();
        $.getJSON("{{ path('api_edit_answer') }}",{'feedback_id': feed_id, 'answer':answer, 'answer_id': answer_id})
        .done(function(data){
            $('.block'+feed_id).remove();
            var answer_p = $('a[data-answer-id="'+answer_id+'"]').parent().find('p');
            $(answer_p).html(answer);
            $('blockquote[data-answer-block-edit="'+feed_id+'"]').css('display', 'block');
            $('a[data-feedback-edit="'+feed_id+'"]').css('display', 'block');
        })
        .fail(function(e){
            console.log(e.message);
        })

        return false;
    });

    function generateAnswerFrom(feed_id, answer_id, answer){
        var content = '\
            <blockquote class="well block'+feed_id+'">\
                <form method="POST">\
                    <div class="row-fluid">\
                        <div class="span9">\
                            <textarea id="zorro" name="answer" data-answer-textarea="'+feed_id+'">'+answer+'</textarea>\
                        </div>\
                        <div class="span3">\
                            <input class="btn" data-submit-edit-form="'+feed_id+'" data-answer-id="'+answer_id+'" type="button" value="Отправить" />\
                            <a href="#" data-abort-answer="'+feed_id+'">Отмена</a>\
                        </div>\
                    </div>\
                </form>\
            </blockquote>';
        return content;
    };
</script>
{% endblock %}
