{% spaceless %}
<ul class="services">
    {% for item in specializations %}
        {%- if loop.index < 4 %}
        <li class="servisesItem">
            {% if item.type.iconNameCompanyCard %}
                <img src="/storage/images/company_icon/{{ item.type.iconNameCompanyCard }}" width="34" height="40">
            {% else %}
                <img src="/bootstrap/img/icon-type-default.png" width="34" height="40">
            {% endif %}
            <span class="serviceName mapBalloon">{{ item.type.name }}</span>
        </li>
        {% endif -%}
    {% endfor %}
</ul>
{% if additionalServices %}
    <ul class="servicesAdd">
        {% for item in additionalServices %}
            {%- if loop.index < 7 %}
            <li class="servisesAddItem">
                {% if item.iconNameSmall %}
                    <img src="/storage/images/company_icon/{{ item.iconNameSmall }}" width="24" height="28" title="{{ item.name }}">
                {% else %}
                    <img src="/bootstrap/img/icon-type-default.png" width="24" height="28" title="{{ item.name }}">
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endspaceless %}
