{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title deal.name %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/stocontent/css/jquery.rating.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bootstrap/css/styleCompany.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bootstrap/css/style-review-about-company.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/stocore/js/tiny_mce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/stocontent/js/jquery.rating.pack.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block search %}
<div class="back">
    <a href="{{ url('content_deal_show', {'id': deal.id}) }}" class="btnBack">
        <i class="btnBackIcon"></i></br>
        <span class="btnBackCont">Результаты поиска</span>
    </a>
</div>
<div id="nameCompanyHeaderWrap">
    {% if (is_expr_granted("hasRole('ROLE_USER') and not hasRole('ROLE_FROZEN')")) %}
        <h1 class="titleNameCompany">Ваш отзыв об акции:</h1>
        <p class="sloganCompany">{{ deal.name }}</p>
    {% else %}
        <h1 class="titleNameCompany">Вы не авторизованы</h1>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<section class="contentMain row">
    <div class="content">
        <div class="leftContent">

            {% if (is_expr_granted("hasRole('ROLE_USER') and not hasRole('ROLE_FROZEN')")) %}
            <form action="{{ path('content_deal_feedbacks_create', { 'id': deal.id }) }}" method="post" {{ form_enctype(form) }}>
                <div class="contentLabel marginBottom">
                    <label class="spanFloatLeft">Ваша оценка акции: </label>
                    {{ form_widget(form.feedbackRating) }}
                </div>
                <div class="contentLabel overflow marginBottom ">

                    <div class="inputReviewWrap">
                        <label>Текс отзыва <span class="additionalInfo">(не обязательно)</span></label>
                        {{ form_widget(form.content) }}
                    </div>
                    <p class="secondaryLink spanFloatLeft" id="btnAddInfo">Указать дополнительные сведения</p>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#blockAddInfo').hide();
                        $('#btnAddInfo').click(function(){
                            $('#blockAddInfo').toggle();
                        });
                    });
                </script>
                <div id="blockAddInfo">
                    <div class="contentItemLeft">
                        <div class="contentLabel">
                            <label>Дата посещения</label>
                            <div class="well startData ">
                                <div id="datetimepicker1" class="input-append">
                                    {{ form_widget(form.visitDate) }}
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                        </i>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('#datetimepicker1').datetimepicker({
                                        pickTime: false
                                    });
                                    $('#datetimepicker2').datetimepicker({
                                        pickTime: false
                                    });
                                 });
                            </script>
                        </div>
                        <div class="contentLabel">
                            {{ form_label(form.mastername) }}
                            {{ form_widget(form.mastername) }}
                            {{ form_errors(form.mastername) }}
                        </div>

                        <div class="contentLabel">
                            {{ form_label(form.orderNumber) }}
                            {{ form_widget(form.orderNumber) }}
                            {{ form_errors(form.orderNumber) }}
                        </div>

                        {{ form_row(form.orderNumber) }}
                    </div>
                    <div class="contentItemRight" id="contentItemRight">
                        <div class="contentLabel">
                            {{ form_label(form.car) }}
                            {{ form_widget(form.car) }}
                            {{ form_errors(form.car) }}
                        </div>
                        <div class="contentLabel">
                            {{ form_label(form.statenumber) }}
                            {{ form_widget(form.statenumber) }}
                            {{ form_errors(form.statenumber) }}
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                <input type="submit" class="btnNext addPhotoBtn" value="Оставить отзыв"/>
            </form>
            {% else %}
                <p class="infoText">Для того что бы оставлять отзывы необходимо <a href="{{ path('fos_user_security_login') }}">авторизоваться</a> или <a href="{{ path('fos_user_registration_register') }}">зарегестрироваться</a></p>
            {% endif %}
        </div>
        <div class="rightContent">
            <div class="bannerImg">
                <img src="/bootstrap/img/banner.jpg" alt="фото пользователя" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
