{% if deals | length %}
    {% for deal in deals %}
        {% if loop.index is odd %}
            <div class="actionItemCont">
        {% endif %}

        <div class="actionItemMini">
            <a href="{{ path('content_deal_show', {'id': deal.id }) }}" class="actionItemLink">
                {% if deal.imageName %}
                    {% set image = "/" ~ storage_path ~ "/deal_image/" ~ deal.imageName %}
                    <img src="{{ image | imagine_filter('deals_photos') }}" alt="фото пользователя" />
                {% endif %}
                <div class="actionItemBottomWrap">
                    <div class="actionItemBottom">
                        <h4>{{ deal.name }}</h4>
                        <p>{{ deal.company.name }} <span class="indexLevelMini"><span class="indexBgMini"></span>{{ deal.company.rating }}</span></p>
                        <p class="bottomP">
                            <span class="actionItemBottomP">
                                {% if deal.auto | length %}
                                    {% for auto in deal.auto %}
                                        {% if loop.index == 1 %}{{ auto.name }}{% else %}, {{ auto.name }}{% endif %}
                                    {% endfor %}
                                {% else %}
                                    Все автомобили
                                {% endif %}
                            </span>
                            <span class="actionItemBottomSpan">{{ deal.startDate | localizeddate('medium', 'none', 'ru_RU.UTF-8', 'Europe/Moscow', 'd MMM') }} &ndash; {{ deal.endDate | localizeddate('medium', 'none', 'ru_RU.UTF-8', 'Europe/Moscow', 'd MMM') }}</span></p>
                    </div>
                </div>
            </a>
        </div>

        {% if loop.index is even %}
            </div>
        {% endif %}
    {% endfor %}

    {% if not (deals.paginationData.current == deals.paginationData.last) %}
        <div class="bottomContent">
            <a class="secondaryLink saveDraft" rel="{{ deals.paginationData.current }}" data-deal-type="{{ dealType }}" data-page="2" id="showMoreDeals">Показать еще</a>
        </div>
    {% endif %}
{% else %}
    <div class="bottomContent">
        <span class="secondaryLink saveDraft">К сожалению, по вашему запросу ничего не найдено :-(</span>
    </div>
{% endif %}
