{% if app.security.isGranted('ROLE_MODERATOR') %}
<div id="complainFeedbackAction" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Выберите одно из действий</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <a href="#" data-modal-action="hide" data-field="Hidden" data-value="true" class="btn">Скрыть</a>
        <a href="#" data-modal-action="edit" data-type="deal" class="btn">Отредактирвоать</a>
        <a href="#" data-modal-action="delete" class="btn">Удалить</a>
        <a href="#" data-modal-action="no_complain" data-field="Complain" data-value="false" class="btn">Снять жалобу</a>
    </div>
</div>
{% endif %}
{% for feedback in feedbacks %}
<div class="row-fluid" data-feedback-block="{{ feedback.id }}">
    <div class="span2">
        <div class="thumbnail">
            <center>
            <a href="{{ path('user_profile', {'id': feedback.user.id}) }}">
{% if feedback.user.avatar %}
            <img data-image="avatar" id="avatar" src="{{ vich_uploader_asset(feedback.user, 'avatar') }}" style="width:64px; height: 64px;" class="img-polaroid"/>
{% elseif feedback.user.avatarVk %}
            <img data-image="avatar" id="avatar" src="{{ feedback.user.avatarVk }}" style="width:64px; height: 64px;" class="img-polaroid"/>
{% else %}
            <img data-image="avatar" src="{{ asset('bundles/stocore/images/user_avatar.jpg') }}" style="width:64px; height: 64px;" class="img-polaroid"/>
{% endif %}
            </a>
            <p>{{ feedback.user.rating }}</p>
            </center>
        </div>
    </div>
    <div class="span10" data-answer-block="{{ feedback.id }}">
        <a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.username }}</a>
        <h3><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.lastName }} {{ feedback.user.firstName }}</a></h3>
        <p class="row-fluid">
            <span class="span8">
                {% if feedback.user.ratingGroup %}{{ feedback.user.ratingGroup.name }}{% endif %}
            </span>
            <span class="span4">
                Дата: {{ feedback.date|date("d.m.Y") }}
            </span>
        </p>
        <blockquote>
            {% if feedback.complain == true %}
                <div class="row-fluid">
                    <div class="span12">
                        {% if app.security.isGranted('ROLE_MODERATOR') %}
                            <a href="#complainFeedbackAction" data-target="#complainFeedbackAction" data-toggle="modal" data-feedback-id="{{ feedback.id }}" data-action="admin_complain"><span class=" icon-b4c-attention"></span></a>
                        {% else %}
                            <span class=" icon-b4c-attention"></span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row-fluid">
                <div class="span4">
                    <input class="star" type="radio" value="1" disabled="disabled" {% if feedback.feedbackRating == 1 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="2" disabled="disabled" {% if feedback.feedbackRating == 2 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="3" disabled="disabled" {% if feedback.feedbackRating == 3 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="4" disabled="disabled" {% if feedback.feedbackRating == 4 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="5" disabled="disabled" {% if feedback.feedbackRating == 5 %} checked="checked" {% endif %}/>
                </div>
                <div class="span4">
                </div>
                <div class="span4">
                    <p class="pull-right">
                        <a href="#" data-like="link" data-feedback="{{feedback.id}}"><i class="icon-b4c-thumbs-up"></i></a> <span data-like="count">{{ feedback.pluses }}</span>
                        <a href="#" data-dislike="link" data-feedback="{{feedback.id}}"><i class="icon-b4c-thumbs-down"></i></a> <span data-dislike="count">{{ feedback.minuses }}</span>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <blockquote class="well" data-messages-block-edit="{{ feedback.id }}">
                    <div class="row-fluid">
                        <p>{{ feedback.content|raw }}</p>
                        {% if app.security.isGranted('ROLE_MODERATOR') %}
                            <a href="{{ path('content_deal_feedbacks_edit', {'id': feedback.deal.id, 'feedbackId': feedback.id}) }}" >Редактировать</a>
                        {% endif %}
                        <a href="#" data-action="complain" data-feedback-id="{{ feedback.id }}" class="pull-right">Пожаловаться</a>
                    </div>
               </blockquote>
            </div>
        </blockquote>
        {% if feedback.feedbackAnswer %}
        <div class="row-fluid">
            <blockquote class="well" data-answer-block-edit="{{ feedback.id }}">
                <div class="row-fluid">
                    <div class="span7">
                        <p>{{ feedback.feedbackAnswer.answer|raw }}</p>
                        {% if isManager or app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR') %}<a href="#" data-feedback-edit="{{ feedback.id }}" data-answer-id="{{ feedback.feedbackAnswer.id }}">Редактировать</a>{% endif %}
                    </div>
                    <div class="span5">
                        <div class="row-fluid">
                            <div class="span2">
                                <center><img src="http://placehold.it/39x39"></center>
                            </div>
                            <div class="span8">
                                <h5>{{feedback.feedbackAnswer.owner.lastName}} {{feedback.feedbackAnswer.owner.firstName}}</h5>
                                <p><small>Старший менеджер</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
        {% elseif isManager or app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR')%}
            <a href="#" data-feedback-put="{{ feedback.id }}">Ответить</a>
            <div class="row-fluid new-answer" style="display:none;" data-answerform="{{ feedback.id }}">
            <blockquote class="well">
                <form method="POST" name="form{{ feedback.id }}" action="{#{ path('content_company_feedbacks_answer_add', {'id':companyId}) }#}">
                    <input type="hidden" name="feedback_id" value="{{ feedback.id }}" />
                    <div class="row-fluid">
                        <div class="span9">
                            <textarea name="answer"></textarea>
                        </div>
                        <div class="span3">
                            <input class="btn" data-submit-form="{{ feedback.id }}" type="submit" value="Отправить" />
                            <a href="#" data-abort-answer="{{ feedback.id }}">Отмена</a>
                        </div>
                    </div>
                </form>
            </blockquote>
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if not (feedbacks.paginationData.current == feedbacks.paginationData.last) %}
<div class="row-fluid">
    <div class="span12">
        <a class="btn" href="{{ path('deal_feedbacks_show', {'id':dealId}) }}" rel="{{ feedbacks.paginationData.current }}" data-page="2">More...</a>
    </div>
</div>
{% endif %}
