{% for feedback in feedbacks %}
<div class="reviewContentItem">
    <div class="reviewAccount">
        <div class="reviewAccountImg">
            <a href="{{ path('user_profile', {'id': feedback.user.id}) }}">
                {% if feedback.user.avatar %}
                    {% set image = vich_uploader_asset(feedback.user, 'avatar') %}
                {% elseif feedback.user.avatarVk %}
                    {% set image = feedback.user.avatarVk %}
                {% else %}
                    {% set image = '/bundles/stocore/images/user_avatar.jpg' %}
                {% endif %}
                <img src="{{ image | imagine_filter('user_login_avatar') }}" />
            </a>
            <span>{{ feedback.user.rating }}</span>
        </div>
    </div>
    <div class="reviewWrap">
        <div class="reviewTop">
            <p class="reviewNick"><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.username }}</a></p>
            <p class="reviewName"><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.lastName }} {{ feedback.user.firstName }}</a></p>
            <p class="reviewRang">{% if feedback.user.ratingGroup %}{{ feedback.user.ratingGroup.name }}{% endif %}</p>
            <span class="reviewData">{{ feedback.date|date("d.m.Y") }}</span>
        </div>
        <div class="reviewCont">
            <div class="reviewContTop">
                <div class="vote-wrap">
                    <div class="vote-hover">
                        <div class="vote-block">
                            <div class="vote-stars">
                            </div>
                            <div class="vote-active">
                            </div>
                        </div>
                    </div>
                </div>

                {% if app.security.isGranted('ROLE_USER') %}
                    <a href="#" data-like="deal" data-like-feedback="{{feedback.id}}" class="negativReview"><i class="negativReviewI"></i>{{ feedback.minuses }}</a>
                    <a data-dislike="deal" data-dislike-feedback="{{feedback.id}}" class="positivReview"><i class="positivReviewI"></i>{{ feedback.pluses }}</a>
                {% else %}
                    <span class="negativReview"><i class="negativReviewI"></i>{{ feedback.minuses }}</span>
                    <span class="positivReview"><i class="positivReviewI"></i>{{ feedback.pluses }}</span>
                {% endif %}

                <p class="reviewContText">{{ feedback.content|raw }}</p>
                {% if app.user %}
                    {% if feedback.complain %}
                    <span class="primaryLink complain">Пожаловаться</span>
                    {% else %}
                    <a href="#" data-action="complain" data-feedback-id="{{ feedback.id }}" class="primaryLink complain">Пожаловаться</a>
                    {% endif %}
                {% endif %}

                {% if feedback.complain %}
                    <i class="complainAlert"></i>
                {% endif %}

                {% if isManager or app.security.isGranted('ROLE_USER') or app.security.isGranted('ROLE_ADMIN') %}
                <span class="primaryLink reply">Ответить</span>
                {% endif %}

                <div class="popUpPrimary">
                    <div id="myCanvasTop" class="myCanvasTop"></div>
                    <ul>
                        <li><span class="primaryLink">Скрыть</span></li>
                        <li><span class="primaryLink">Редактировать</span></li>
                        <li><span class="primaryLink">Удалить</span></li>
                        <li><span class="primaryLink">Снять жалобу</span></li>
                    </ul>
                </div>

            </div>
            {% if feedback.feedbackAnswer %}
            <div class="responseReviewCont">
                <div class="reviewContBottomText">
                    <p class="reviewContText">{{ feedback.feedbackAnswer.answer|raw }}</p>
                </div>
                <div class="reviewContBottomAccount">
                    <div  class="responseReviewAccountImg">
                        {% if feedback.feedbackAnswer.owner.avatar %}
                            {% set image = vich_uploader_asset(feedback.feedbackAnswer.owner, 'avatar') %}
                        {% elseif feedback.feedbackAnswer.owner.avatarVk %}
                            {% set image = feedback.feedbackAnswer.owner.avatarVk %}
                        {% else %}
                            {% set image = '/bundles/stocore/images/user_avatar.jpg' %}
                        {% endif %}
                        <img src="{{ image | imagine_filter('user_login_avatar') }}" />
                    </div>
                    <span class="responseReviewData">18.02.2013</span>
                    <p class="responseReviewName">{{feedback.feedbackAnswer.owner.lastName}} {{feedback.feedbackAnswer.owner.firstName}}</p>
                    <p class="responseReviewRang">Менеджер</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
