{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title 'Акции' %}

{% block header %}
<form class="form-search form-inline">
    Я ищу акцию:
    <div class="input-append">
        <input type="text" class="search-query span9" placeholder="Все акции">
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
</form>
{% endblock %}

{% block aside %}
<div class="container">
    <aside class="visible-desktop">
        <ul class="sideMenu">
{% for dealsType in dictionaries %}
            <li>
                <a href="#">{{ dealsType.name }}</a>
                <span>{{ dealsType.deals|length }}</span>
            </li>
{% endfor %}
        </ul>
    </aside>
{% endblock %}
{% block content_tag 'id="content" class="container deals-index"' %}

{% block content %}
    <div class="row-fluid">
    <h3 class="offset1">
        Лучшие спецпредложения города
    </h3>
    {% set deal = random(deals) %}
        <div class="span6">
            <a href="{{ path('content_deal_show', {'id': deal.id }) }}">
                <img src="/../{{ storage_path }}/deal_image/{{ deal.imageName }}" class="img-polaroid" style="width: 560px; height: 260px;">
            </a>
        </div>
        <div class="span3">
        {% for deal in [random(deals), random(deals), random(deals)] %}
            <a href="{{ path('content_deal_show', {'id': deal.id }) }}">
                <img src="/../{{ storage_path }}/deal_image/{{ deal.imageName }}" class="img-polaroid" style="width: 260px; height: 80px;">
            </a>
        {% endfor %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span10">
    {% for deal in deals %}
        <div class="span3">
            <a href="{{ path('content_deal_show', {'id': deal.id }) }}">
                <img src="/../{{ storage_path }}/deal_image/{{ deal.imageName }}" class="img-polaroid" style="width: 260px; height: 80px;">
            </a>
            <p>{{ deal.name }}</p>
            <p>{{ deal.company }}</p>
            <p>с {{ deal.startTime|date("H:m") }} до {{ deal.endTime|date("H:m") }}</p>
        </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
