{% extends 'StoContentBundle::layout.html.twig' %}

{% block title 'Акции' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-action.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.deals.js') }}"></script>
{% endblock %}

{% block wrap_container_open %}<div class="main">{% endblock %}
{% block wrap_container_close %}</div>{% endblock %}

{% block content %}
<section class="contentMain row tabs">
    <div class="contentWrap text-cont-l">
        <div class="content text-cont-r">
            <div id="leftBar" class="text-l">
                <ul class="menuLeftBar" id="dealsMenu">
                    <li class="menuLeftBarItem activeBar" data-deal-type="0">
                        <span class="menuTagEmpty">Все акции</span>
                        <span class="acctBtn">{{ deals | length }}</span>
                        <i class="subActive"></i>
                    </li>
                    {%- for dealsType in dictionaries %}
                        <li class="menuLeftBarItem" data-deal-type="{{ dealsType.id }}">
                            <span class="menuTagEmpty">{{ dealsType.name }}</span>
                            <span class="acctBtn">{{ dealsType.deals|length }}</span>
                        </li>
                    {% endfor -%}
                </ul>
                <div class="deviderLeftMenu"></div>
                <ul class="menuLeftBar leftBar2">
                    <li class="menuLeftBarItem" data-deal-type="-1">
                        <i class="iconLeftMPopular"></i>
                        <span class="menuTagEmpty">Популярные</span>
                        <span class="acctBtn">35</span>
                    </li>
                    <li class="menuLeftBarItem" data-deal-type="-2">
                        <i class="iconLeftMReview"></i>
                        <span class="menuTagEmpty">С отзывами</span>
                        <span class="acctBtn">{{ countFeededDeals }}</span>
                    </li>
                </ul>
            </div>
            <div id="rightBar" class="text-r">
                <div class="slider">
                    <div class="img__prev__wrap">
                        <ul id="thumbnail" class="slide-wrap">
                        {% for deal in [random(deals), random(deals), random(deals)] %}
                            <li class="slide-item">
                                <a class="linh__img__prev" href="#">
                                    <p class="nameActionP">{{ deal.name }}</p>
                                    {% set image = "/" ~  storage_path ~ "/deal_image/" ~ deal.imageName %}
                                    <img src="{{ image | imagine_filter('deals_carusel_photos') }}" alt="{{ deal.name }}">
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <span name="prev" class="navy prev-slide"></span>
                        <span name="next" class="navy next-slide"></span>
                    </div>
                </div>
                <div id="dealsContainer">
                {{ render(controller('StoContentBundle:Deal:deals')) }}
                </div>
                <script>
                    loadDeals(jQuery, Routing);
                </script>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
{% endblock %}
