{% extends 'StoContentBundle::layout.html.twig' %}

{% block metaTags %}
    <meta name="title" content="Акции и специальные предложения для автомобилистов"/>
    <meta name="description" content="Информация об актуальных акциях и специальных предложениях авто-компаний – скидки, сезонные предложения, презентации. Подписка на новые акции для вашего автомобиля."/>
    <meta name="keywords" content="акция, скидки, спец.предложение, отзывы"/>
{% endblock %}

{% block title 'Акции и специальные предложения для автомобилистов' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-action.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.deals.js') }}"></script>
{% endblock %}

{% block search %}
    <div class="searchWrap">
        <div class="searchCont" id="searchWrapper">
            <form class="form-search" method="GET">
                <label class="control-label control-label-search" for="search">Я хочу найти:</label>
                    <input type="text" id="inputSearch" class="input-medium search-query " placeholder="Все акции" name="search" value="{{ search }}">
                    <img src="{{ asset('/bootstrap/img/clear.png') }}" class="clear-search">
                    <input id="inputSearchHidden" type="hidden" value="{{ search }}"/>
                <button type="submit" href="#" class="btnSearch">
                    <i class="iconSearch icon-search icon-white"></i>Найти
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="contentMain row">
    <div class="contentWrap text-cont-l">
        <div class="content text-cont-r">
            <div id="leftBar" class="text-l">
                <ul class="menuLeftBar" id="dealsMenu">
                    <li class="menuLeftBarItem activeBar" data-deal-type="0">
                        <span class="menuTagEmpty">Все акции</span>
                        <span class="acctBtn">{{ deals | length }}</span>
                        <i class="subActive"></i>
                    </li>
                    {%- for dealsType in dictionaries %}
                        <li class="menuLeftBarItem" data-deal-type="{{ dealsType.id }}">
                            <span class="menuTagEmpty">{{ dealsType.name }}</span>
                            <span class="acctBtn">{{ dealsType.deals_count }}</span>
                        </li>
                    {% endfor -%}
                </ul>
                <div class="deviderLeftMenu"></div>
                <ul class="menuLeftBar leftBar2 additionDealsMenu">
                    {#<li class="menuLeftBarItem" data-deal-type="-1">
                        <i class="iconLeftMPopular"></i>
                        <span class="menuTagEmpty">Популярные</span>
                        <span class="acctBtn">{{ countPopularDeals }}</span>
                    </li>#}
                    <li class="menuLeftBarItem" data-deal-type="-2">
                        <i class="iconLeftMReview"></i>
                        <span class="menuTagEmpty">С отзывами</span>
                        <span class="acctBtn">{{ countDealsWithFeedback }}</span>
                    </li>
                </ul>
            </div>
            <div id="rightBar" class="text-r">
                {% if vipDeals %}
                <div class="slider deals">
                    <div class="img__prev__wrap">
                        <ul id="thumbnail" class="slide-wrap">
                        {% for deal in vipDeals %}
                            <li class="slide-item">
                                <a class="linh__img__prev" href="{{ path('content_deal_show', { "id": deal.id }) }}">
                                    <p class="nameActionP">{{ deal.name }}</p>
                                    {% set image = "/" ~  storage_path ~ "/deal_image/" ~ deal.imageName %}
                                    <img src="{{ image | imagine_filter('deals_carusel_photos') }}" alt="{{ deal.name }}">
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <span name="prev" class="navy prev-slide"></span>
                        <span name="next" class="navy next-slide"></span>
                    </div>
                </div>
                {% endif %}
                <div id="dealsContainer">
                {{ render(controller('StoContentBundle:Deal:deals', {'search': search})) }}
                </div>
                <script>
                    loadDeals(jQuery, Routing);
                </script>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<div class="push-footer"></div>
{% endblock %}
