{% extends 'StoContentBundle::layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-create-action.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.ui.timepicker.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.datepicker-ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.timepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/custom.date-time-pickers.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.limit-1.2.js') }}"></script>
{% endblock %}

{% block title %}Новая акция{% endblock %}

{% block search %}
    <div class="back">
        <a href="{{ path('content_companies') }}" class="btnBack">
            <i class="btnBackIcon"></i></br>
            <span class="btnBackCont">Компании</span>
        </a>
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">Создание акции</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="contentMain  row">
        <div class="content">

            <form action="{{ path('company_deal_create' ,{'id': company.id}) }}"
                  method="post" {{ form_enctype(form) }} class="inputForm">
                {{ form_errors(form) }}
                <div class="container">
                    <div class="contentLabel clear">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="contentLabel clear">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                        <span id="chleft" class="dealCharCounter"></span>
                        <script>
                            $(document).ready(function(){
                                var textarea = $('.description-textarea');
                                var length = textarea.data('length');

                                $('.description-textarea').limit(length, '#chleft');
                            });
                        </script>
                    </div>

                    <div class="contentLabel clear">
                        {{ form_label(form.type) }}
                        <div class="basket__cont__body__bottom__paper">
                            {{ form_widget(form.type) }}
                            {{ form_errors(form.type) }}
                        </div>
                    </div>

                    <div class="contentLabel clear">
                        <label class="required">
                            Сроки проведения
                        </label>
                        <div class="well startData span2">
                            <div class="input-append">
                                {{ form_errors(form.startDate) }}
                                {{ form_widget(form.startDate) }}
                            </div>
                        </div>
                        <div class="well endData span2">
                            <div class="input-append">
                                {{ form_errors(form.endDate) }}
                                {{ form_widget(form.endDate) }}
                            </div>
                        </div>
                    </div>
                    <div class="contentLabel clear">
                        <label>Время проведения</label>
                        <div class="well startData span2">
                            <div class="input-append">
                                {{ form_errors(form.startTime) }}
                                {{ form_widget(form.startTime) }}
                                <span class="add-on init-time" id="timepicker1"><i data-time-icon="icon-time" class="icon-time"></i></span>
                            </div>
                        </div>
                        <div class="well endData span2">
                            <div id="datetimepicker4" class="input-append">
                                {{ form_errors(form.endTime) }}
                                {{ form_widget(form.endTime) }}
                                <span class="add-on init-time" id="timepicker2"><i data-time-icon="icon-time" class="icon-time"></i></span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            timePicker();
                        </script>
                    </div>
                    <div class="contentLabel clear">
                        <label>Автомобили</label>
                        {{ form_widget(form.auto) }}
                        {{ form_errors(form.auto) }}
                    </div>
                    <div class="contentLabel clear">
                        <label>Узлы и работы</label>
                        {{ form_widget(form.autoServices) }}
                        {{ form_errors(form.autoServices) }}
                    </div>
                    <div class="contentLabel">
                        <label style="display: inline-block; margin-right: 10px;">Место проведения акции</label>
                        (<span class="onPlace">{{ form_widget(form.onCompanyPlace) }}{{ form_label(form.onCompanyPlace) }}</span>)
                        <span id="onPlaceElements">
                            {{ form_widget(form.place) }}
                            {{ form_errors(form.place) }}
                            {{ form_widget(form.gps) }}
                            <a href="#" id="activateMap" data-reveal-id="yandexMapModal" class="linkUnder">Установить отметку на карте</a>
                        </span>
                        <script>
                            $(document).ready(function(){
                                ymaps.ready(init);
                                var gCollection;
                                var gps;
                                var addressName = '';
                                function init() {
                                    mapCompany = new ymaps.Map ("myMap", {
                                        center: [59.933373, 30.357903],
                                        zoom: 10,
                                        behaviors: ["default", "scrollZoom"]
                                    });
                                    attachReverseGeocode(mapCompany);
                                    function attachReverseGeocode(myMap) {
                                        myMap.events.add('click', function (e) {
                                            var coords = e.get('coordPosition');
                                            if (gCollection != null) { myMap.geoObjects.remove(gCollection);};
                                            ymaps.geocode(coords).then(function (res) {
                                                var names = [];
                                                res.geoObjects.each(function (obj) {
                                                    names.push(obj.properties.get('name'));
                                                });
                                                gCollection = new ymaps.Placemark(coords, {
                                                        iconContent: names[0],
                                                        balloonContent: names.reverse().join(', ')
                                                    },
                                                    {preset:'twirl#redStretchyIcon', balloonMaxWidth:'250'}
                                                );
                                                myMap.geoObjects.add(gCollection);
                                                gps = coords;

                                                addressName = '';
                                                for (key in names){
                                                    if (2 != key) {
                                                        addressName = addressName + names[key] + ", "
                                                    }
                                                }
                                                addressName = $.trim(addressName);
                                                lastIndex = addressName.lastIndexOf(',');
                                                if (lastIndex == addressName.length - 1) {
                                                    addressName = addressName.substring(0, lastIndex);
                                                }
                                            });
                                        });
                                    }
                                }

                                $('#sto_content_deal_onCompanyPlace').on('click', function(){
                                    var $this = $(this);

                                    if ($this.prop('checked')) {
                                        $('#sto_content_deal_place').val("{{ company.address }}");
                                        $('#sto_content_deal_gps').val("{{ company.gps }}");
                                        $('#activateMap').html('Изменить отметку на карте');
                                    } else {
                                        $('#sto_content_deal_place').val('');
                                        $('#sto_content_deal_gps').val('');
                                        $('#activateMap').html('Поставить отметку на карте');
                                    }
                                    $('#onPlaceElements').toggle();
                                });

                                if ($('#sto_content_deal_gps').val() !== '') {
                                    $('#activateMap').html('Изменить отметку на карте');
                                }

                                $('#saveMapCoordinates').on('click', function(){
                                    $(this).parent().trigger('reveal:close');
                                    $('#sto_content_deal_gps').val(gps);
                                    $('#sto_content_deal_gps').trigger('change');
                                    $('#activateMap').html('Изменить отметку на карте');
                                });
                            });
                        </script>
                    </div>
                    <div class="contentLabel">
                        <label>Условия участия в акции</label>
                        {{ form_widget(form.terms) }}
                        {{ form_errors(form.terms) }}
                    </div>
                    <div class="contentLabel">
                        <label>Контактное лицо</label>
                        {{ form_widget(form.contactInformationName) }}
                        {{ form_errors(form.contactInformationName) }}
                    </div>
                    <div class="contentLabel">
                        <label>Контактный номер</label>
                        {{ form_widget(form.contactInformationPhone) }}
                        {{ form_errors(form.contactInformationPhone) }}
                    </div>
                </div>
                <hr style="margin: 0 0 20px 0;">
                <div class="container">
                    <div class="span2">
                        <p>
                            Изображения акции</br>
                            <small><em>Изображения должны быть пропорции 16:9,
                                    не меньше 640 х 360 пикселей</br></br>Формат
                                    изображения: JPG, PNG, GIF не более 1Мь</em>
                            </small>
                        </p>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <div class="control">
                                <img data-image="image1"
                                     src="{{ asset('bundles/stocore/images/notimage.png') }}"
                                     style="width:120px" class="img-polaroid"/>
                                {{ form_errors(form.image) }}
                                {{ form_widget(form.image) }}
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <div class="control">
                                <img data-image="image2"
                                     src="{{ asset('bundles/stocore/images/notimage.png') }}"
                                     style="width:120px" class="img-polaroid"/>
                                {{ form_errors(form.image2) }}
                                {{ form_widget(form.image2) }}
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <div class="control">
                                <img data-image="image3"
                                     src="{{ asset('bundles/stocore/images/notimage.png') }}"
                                     style="width:120px" class="img-polaroid"/>
                                {{ form_errors(form.image3) }}
                                {{ form_widget(form.image3) }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 0 0 20px 0;">

                {{ form_rest(form) }}
                <div class="bottomContent">
                    <input type="submit" class="btnBottomContent addPhotoBtn"
                           value="Опубликовать"/>
                </div>
            </form>
            <div id="yandexMapModal" class="reveal-modal yandexMapModal">
                <a href="#" class="close-reveal-modal"></a>
                <div class="slidCont">
                    <div id="myMap" style="height:400px;width:670px;left:5px" ></div>
                </div>
                <span class="btnNext addPhotoBtn" id="saveMapCoordinates">Выбрать</span>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $('.chosen-multiple').chosen();
            $('#in-company-place').click(function (e) {
                e.preventDefault();
                $('#sto_content_deal_place').val($(this).data('address'));
            });
        });
    </script>
{% endblock %}
