{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bootstrap/css/style-create-action.css') }}">
{% endblock %}

{% block title %}Новая акция{% endblock %}

{% block search %}
    <div class="back">
        <a href="{{ path('content_companies') }}" class="btnBack">
            <i class="btnBackIcon"></i></br>
            <span class="btnBackCont">Компании</span>
        </a>
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">Создание акции</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="contentMain  row">
        <div class="content">

            <form action="{{ path('company_deal_create' ,{'id': company.id}) }}"
                  method="post" {{ form_enctype(form) }} class="inputForm">
                <div class="container">
                    <div class="contentLabel clear">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="contentLabel clear">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                    </div>

                    <div class="contentLabel clear">
                        {{ form_label(form.type) }}
                        <div class="basket__cont__body__bottom__paper">
                            {{ form_widget(form.type) }}
                            {{ form_errors(form.type) }}
                        </div>
                    </div>

                    <div class="contentLabel clear">
                        <label class="required">
                            Сроки проведения
                        </label>

                        <div class="well startData span2">
                            <div id="datetimepicker1" class="input-append">
                                {{ form_errors(form.startDate) }}
                                {{ form_widget(form.startDate) }}
                                <span class="add-on">
                                <i data-time-icon="icon-time"
                                   data-date-icon="icon-calendar"></i>
                            </span>
                            </div>
                        </div>
                        <div class="well endData span2">
                            <div id="datetimepicker2" class="input-append">
                                {{ form_errors(form.endDate) }}
                                {{ form_widget(form.endDate) }}
                                <span class="add-on">
                                <i data-time-icon="icon-time"
                                   data-date-icon="icon-calendar"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="contentLabel clear">
                        <label>Время проведения</label>

                        <div class="well startData span2">
                            <div id="datetimepicker3" class="input-append">
                                {{ form_errors(form.startTime) }}
                                {{ form_widget(form.startTime) }}
                                <span class="add-on">
                                <i data-time-icon="icon-time"
                                   data-date-icon="icon-calendar">
                                </i>
                            </span>
                            </div>
                        </div>
                        <div class="well endData span2">
                            <div id="datetimepicker4" class="input-append">
                                {{ form_errors(form.endTime) }}
                                {{ form_widget(form.endTime) }}
                                <span class="add-on">
                                <i data-time-icon="icon-time"
                                   data-date-icon="icon-calendar">
                                </i>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="contentLabel clear">
                        <label>Автомобили</label>
                        {{ form_widget(form.auto) }}
                        {{ form_errors(form.auto) }}
                    </div>
                    <div class="contentLabel clear">
                        <label>Узлы и работы</label>
                        {{ form_widget(form.autoServices) }}
                        {{ form_errors(form.autoServices) }}
                    </div>
                    <div class="contentLabel">
                        <label>Место проведения акции</label>
                        {{ form_widget(form.place) }}
                        {{ form_errors(form.place) }}
                        <a href="#" class="linkUnder" id="in-company-place"
                           data-address="{{ company.address }}">по месту
                            размещения компании</a>
                    </div>
                    <div class="contentLabel">
                        <label>Условия участия в акции</label>
                        {{ form_widget(form.terms) }}
                        {{ form_errors(form.terms) }}
                    </div>
                    <div class="contentLabel">
                        <label>Контактное лицо</label>
                        {{ form_widget(form.contactInformationName) }}
                        {{ form_errors(form.contactInformationName) }}
                    </div>
                    <div class="contentLabel">
                        <label>Контактный номер</label>
                        {{ form_widget(form.contactInformationPhone) }}
                        {{ form_errors(form.contactInformationPhone) }}
                    </div>
                    {#{{ form_row(form.place) }}#}
                    {#{{ form_row(form.terms) }}#}
                </div>
                <hr style="margin: 0 0 20px 0;">
                <div class="container">
                    <div class="span2">
                        <p>
                            Изображения акции</br>
                            <small><em>Изображения должны быть пропорции 16:9,
                                    не меньше 640 х 360 пикселей</br></br>Формат
                                    изображения: JPG, PNG, GIF не более 1Мь</em>
                            </small>
                        <p>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <div class="control">
                                <img data-image="image1"
                                     src="{{ asset('bundles/stocore/images/notimage.png') }}"
                                     style="width:120px" class="img-polaroid"/>
                                {{ form_errors(form.image) }}
                                {{ form_widget(form.image) }}
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <div class="control">
                                <img data-image="image2"
                                     src="{{ asset('bundles/stocore/images/notimage.png') }}"
                                     style="width:120px" class="img-polaroid"/>
                                {{ form_errors(form.image2) }}
                                {{ form_widget(form.image2) }}
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <div class="control">
                                <img data-image="image3"
                                     src="{{ asset('bundles/stocore/images/notimage.png') }}"
                                     style="width:120px" class="img-polaroid"/>
                                {{ form_errors(form.image3) }}
                                {{ form_widget(form.image3) }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 0 0 20px 0;">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <div class="bottomContent">
                    <input type="submit" class="btnBottomContent addPhotoBtn"
                           value="Опубликовать"/>
                </div>
            </form>
            <div id="myModal" class="modal hide fade" style="width:720px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body ">
                    <div id="myMap"
                         style="height:400px;width:670px ;left:5px"></div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="save_madal" class="btn btn-primary">Save</a>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                pickTime: false
            });
            $('#datetimepicker2').datetimepicker({
                pickTime: false
            });

            $('#datetimepicker3').datetimepicker({
                pickDate: false
            });
            $('#datetimepicker4').datetimepicker({
                pickDate: false
            });
            $('.chosen-multiple').chosen();
            $('#in-company-place').click(function (e) {
                e.preventDefault();
                $('#sto_content_deal_place').val($(this).data('address'));
            });
        });
    </script>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
    'bundles/stocore/js/select2.js'
    'bundles/stocore/js/bootstrap-inputmask.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(".select2").select2({width: "50%"});
        $('#sto_content_deal_place').after('<br/><a href="#" ;return false; id="deal_location">По месту размещения компании</a>');

        var gCollection;
        var gps = '{{ company.gps }}';
        var addres;
        var names = [];
        ymaps.ready(init);
        function init() {
            mapCompany = new ymaps.Map("myMap", {
                center: [gps.split(",")[0], gps.split(",")[1]],
                zoom: 15,
                behaviors: ["default", "scrollZoom"]
            });
            myGeocode(mapCompany.getCenter(), mapCompany);

            mapCompany.events.add('click', function (e) {
                var coords = e.get('coordPosition');
                if (gCollection != null) {
                    mapCompany.geoObjects.remove(gCollection);
                }
                ;
                myGeocode(coords, mapCompany);
            });

            function myGeocode(loc, Map) {
                names = [];
                ymaps.geocode(loc).then(function (res) {

                    res.geoObjects.each(function (obj) {
                        names.push(obj.properties.get('text'));

                    });
                    gCollection = new ymaps.Placemark(loc, {
                                iconContent: names[0],
                            },
                            { preset: 'twirl#redStretchyIcon', balloonMaxWidth: '250'}
                    );
                    Map.geoObjects.add(gCollection);
                    gps = loc;
                    addres = names[0]
                });
            }

        }
        $("#save_madal").click(function () {
            document.getElementById("sto_content_deal_gps").value = gps;
            document.getElementById("sto_content_deal_place").value = addres;

            $('#myModal').modal('hide');
        });
        $("#deal_location").click(function () {
            document.getElementById("sto_content_deal_place").value = '{{company.address}}';
            document.getElementById("sto_content_deal_gps").value = '{{company.gps}}';
        })
    </script>
{% endblock %}
