{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title 'Акции' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bundles/stocontent/css/jquery.rating.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/stocontent/js/jquery.rating.pack.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8"><h3>{{ deal.name }}</h3></div>
    <div class="span4">
        Рейтинг компании<br />
        {{ deal.company.rating }}
    </div>
</div>
{# Tabs menu #}
<ul class="nav nav-tabs" id="FeedbackTabs">
    <li class="active"><a href="#info">Информация</a></li>
    <li><a href="#feedbacks">Отзывы <span>{{ deal.feedbacks | length }}</span></a></li>
</ul>
{# /tabs menu #}
<div class="tab-content">
    <div class="tab-pane active" id="info">
{% include 'StoContentBundle::Deal/tabs/information.html.twig' %}
    </div>
    <div class="tab-pane" id="feedbacks">
{% include 'StoContentBundle::Deal/tabs/feetbacks.html.twig' %}
    </div>
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script src="{{ asset('bundles/stocontent/js/like.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $('#FeedbackTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    ymaps.ready(init);
    function init () {
        var gps = '{{ deal.company.gps|raw }}';
        var myMap = new ymaps.Map("map", {
            center: gps.split(','),
            zoom: 14
        }),
        myGeoObject = new ymaps.GeoObject({
            geometry: {
                type: "Point",
                coordinates: [gps.split(',')]
            }
        });
        myMap.geoObjects.add(myGeoObject);
    }
</script>
{% endblock %}
