{% extends 'StoContentBundle::layout.html.twig' %}

{% block title 'Акции' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.rating.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.rating.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.feedback.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.like.js') }}"></script>
{% endblock %}

{% block search %}{% endblock %}

{% block pageTitle %}
    <div class="back">
        {% if refererRoute == 'content_company_show' %}
            <a href="{{ path('content_company_show', { "id": deal.company.id }) }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Карточка компании</span></a>
        {% elseif refererRoute == 'content_deals' %}
            <a href="{{ app.request.headers.get('referer') }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
        {% else %}
            <a href="{{ path('content_deals') }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
        {% endif %}
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany"><a href="{{ path('content_deal_show', { "id": deal.id }) }}">{{ deal.name }}</a></h1>
            <p class="sloganCompany"><a href="{{ path('content_company_show', { "id": deal.company.id }) }}">{{ deal.company.name }}</a></p>
        </div>
        <div class="indexCompany">
            <p>Рейтинг:</p>
            <span class="indexbg"></span>
            <span class="indexLevel">{{ deal.company.rating }}</span></br>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="contentMain row tabs">
    <ul class="tabNavigation">
        <li>
            <a href="#information">Информация</a>
        </li>
        <li>
            <a href="#feedbacks">Отзывы {{ deal.feedbacks|length }}</a>
        </li>
    </ul>
    <div data-tab-id="#information" class="content">
        {% include 'StoContentBundle::Deal/tabs/information.html.twig' %}
        <div class="rightContent">
            <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="addPhotoBtn bttn" {% if not app.user %}data-reveal-id="not-loged-in"{% endif %}>Оставить отзыв<i class="writeReview"></i></a>
            {% if isManager %}
                <a href="{{ path("company_deal_edit", {'id':deal.company.id, 'dealId':deal.id}) }}" class="btn btn-large" style="width:200px;margin-top:10px;">Редактировать</a>
            {% endif %}
            <div class="bannerImg"></div>
        </div>
    </div>
    <div data-tab-id="#feedbacks" class="content">
        {% include 'StoContentBundle::Deal/tabs/feedbacks.html.twig' %}
        <div class="rightContent">
            <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="addPhotoBtn bttn" {% if not app.user %}data-reveal-id="not-loged-in"{% endif %}>Оставить отзыв<i class="writeReview"></i></a>
            <div class="bannerImg"></div>
        </div>
    </div>
</section>

{% endblock %}
