{% extends 'StoContentBundle::layout.html.twig' %}

{% block title 'Акции' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.rating.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.rating.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.feedback.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.like.js') }}"></script>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script>
    $(document).ready(function(){
        var city = '{{ deal.gps }}', mapComany;

        var init = function(){
            mapComany = new ymaps.Map ("YMapsID", {
                center: [city.split(",")[0], city.split(",")[1]],
                zoom: 15,
                behaviors: ["default", "scrollZoom"]
            });
            myGeoObject = new ymaps.GeoObject({
                geometry: {
                    type: "Point",
                    coordinates: mapComany.getCenter()
                }
            }, {
                iconImageHref: "/bootstrap/img/icon-map-default-active.png",
                iconImageSize: [34, 45]
            });
            mapComany.geoObjects.add(myGeoObject);
        };

        ymaps.ready(init);
    });
    </script>
{% endblock %}

{% block search %}{% endblock %}

{% block pageTitle %}
    <div class="back">
        {% if refererRoute == 'content_company_show' %}
            <a href="{{ path('content_company_show', { "id": deal.company.id }) }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Карточка компании</span></a>
        {% elseif refererRoute == 'content_deals' %}
            <a href="{{ app.request.headers.get('referer') | url_to_local }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
        {% else %}
            <a href="{{ path('content_deals') }}" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
        {% endif %}
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <div class="logoCompany">
                {% set companyLogo = asset('/bootstrap/img/default_company_logo.png'|imagine_filter('company_logo')) %}
                {% if deal.company.logo %}
                    {% set companyLogo = vich_uploader_asset(deal.company, 'logo')|imagine_filter('company_logo') %}
                {% endif %}
                <img src="{{ companyLogo }}" alt="{{ deal.company.name }}">
            </div>
            <div class="titles">
                <h1 class="titleNameCompany"><a href="{{ path('content_deal_show', { "id": deal.id }) }}">{{ deal.name }}</a></h1>
                <p class="sloganCompany"><a href="{{ path('content_company_show', { "id": deal.company.id }) }}">{{ deal.company.name }}</a></p>
            </div>
        </div>
        <div class="indexCompany">
            <p>Рейтинг:</p>
            <span class="indexbg"></span>
            <span class="indexLevel">{{ deal.company.rating }}</span></br>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="contentMain row tabs">
    <ul class="tabNavigation">
        <li>
            <a href="#information">Информация</a>
        </li>
        <li>
            <a href="#feedbacks">Отзывы {{ deal.feedbacks|length }}</a>
        </li>
    </ul>
    <div data-tab-id="#information" class="content">
        {% include 'StoContentBundle::Deal/tabs/information.html.twig' %}
        <div class="rightContent">
            <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="addPhotoBtn bttn" {% if not app.user %}data-reveal-id="not-loged-in"{% endif %}>Оставить отзыв<i class="writeReview"></i></a>
            {% if isManager %}
                <a href="{{ path("company_deal_edit", {'id':deal.company.id, 'dealId':deal.id}) }}" class="addPhotoBtn bttn">Редактировать<i class="pencilIcon"></i></a>
                <a href="{{ path("company_deal_delete", {'id':deal.company.id, 'dealId':deal.id}) }}" class="addPhotoBtn bttn">Удалить<i class="binIcon"></i></a>
            {% endif %}
            <div class="bannerImg"></div>
        </div>
    </div>
    <div data-tab-id="#feedbacks" class="content">
        {% include 'StoContentBundle::Deal/tabs/feedbacks.html.twig' %}
        <div class="rightContent">
            <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="addPhotoBtn bttn" {% if not app.user %}data-reveal-id="not-loged-in"{% endif %}>Оставить отзыв<i class="writeReview"></i></a>
            <div class="bannerImg"></div>
        </div>
    </div>
    <div id="map-modal" class="reveal-modal yandexMapModalCompanyPage">
        <a href="#" class="close-reveal-modal"></a>
        <div class="slidCont">
            <div id="YMapsID" style="height:400px"></div>
        </div>
    </div>
</section>

{% endblock %}
