{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title 'Акции' %}

{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bundles/stocontent/css/jquery.rating.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <style type="text/css">.hide { display: none; }</style>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/stocontent/js/jquery.rating.pack.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span10">
        <div class="row-fluid">
            <h2 style="margin-bottom: 0px;">{{ deal.name }}</h2>
        </div>
        <div class="row-fluid">
            {{ deal.company.name }}
        </div>
    </div>
    <div class="span2">
        <div class="row-fluid">
            Рейтинг компании:
        </div>
        <div class="row-fluid">
            <h2><i class="icon-b4c-star"></i> {{ deal.company.rating }}</h2>
        </div>
    </div>
</div>

<div class="row-fluid">
    <ul class="nav nav-tabs" id="FeedbackTabs">
        <li class="active">
            <a href="#info"><i class="icon-b4c-info"></i> Информация</a>
        </li>
        <li>
            <a href="#feedbacks"><i class="icon-b4c-comment"></i> Отзывы <span class="badge badge-warning">{{ deal.feedbacks|length }}</span></a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="info">
        {% include 'StoContentBundle::Deal/tabs/information.html.twig' %}
    </div>
    <div class="tab-pane" id="feedbacks">
        {% include 'StoContentBundle::Deal/tabs/feetbacks.html.twig' %}
    </div>
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script src="{{ asset('bundles/stocontent/js/like.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/stocontent/js/feedbacks.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $('#FeedbackTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    ymaps.ready(init);
    function init () {
        var gps = '{{ deal.company.gps|raw }}';
        var myMap = new ymaps.Map("map", {
            center: gps.split(','),
            zoom: 14
        }),
        myGeoObject = new ymaps.GeoObject({
            geometry: {
                type: "Point",
                coordinates: [gps.split(',')]
            }
        });
        myMap.geoObjects.add(myGeoObject);
    }

    $('[data-page]').live('click', function () {
        var page = parseInt($(this).attr('rel'))+1;
        var path = $(this).attr('href');
        $(this).parent('div.span12').parent('div.row-fluid').remove();
        $('[data-page]').attr('rel', page+1);
        $.ajax({
            type: 'POST',
            url: path+"?page="+page,
        }).done(function (html) {
            $('[data-content]').append(html);
        }).fail(function (e) {
            console.log(e.message);
        });

        return false;
    });

    $('a[data-feedback-put]').click(function () {
        var feed_id = $(this).data('feedback-put');
        $('div[data-answerform='+feed_id+']').toggle();
        $(this).css('display', 'none');

        return false;
    });

    $('a[data-abort-answer]').click(function () {
        var feed_id = $(this).data('abort-answer');
        $('div[data-answerform='+feed_id+']').toggle();
        $('a[data-feedback-put='+feed_id+']').css('display', 'block');

        return false;
    });

    $('input[data-submit-form]').click(function () {
        var feed_id = $(this).data('submit-form');
        var answer = $('form[name="form'+feed_id+'"] textarea[name=answer]').val();
        $.getJSON("{{ path('api_add_answer') }}",{'feedback_id': feed_id, 'answer':answer})
        .done(function (data) {
            $('div[data-answer-block="'+feed_id+'"]').append(data.content);
            $('div[data-answerform='+feed_id+']').toggle();
        })
        .fail(function (e) {
            console.log(e.message);
        })

        return false;
    });

    $('a[data-feedback-edit]').live('click', function () {
        var feed_id = $(this).data('feedback-edit');
        var answer_id = $(this).data('answer-id');
        $(this).css('display', 'none');
        var answer = $(this).parent().find('p').html();
        $('blockquote[data-answer-block-edit="'+feed_id+'"]').css('display', 'none');
        $('blockquote[data-answer-block-edit="'+feed_id+'"]').parent().append(generateAnswerFrom(feed_id, answer_id, answer));
        var answer = $('textarea[data-answer-textarea="'+feed_id+'"]').val();

        return false;
    });

    $('input[data-submit-edit-form]').live('click', function () {
        var feed_id = $(this).data('submit-edit-form');
        var answer_id = $(this).data('answer-id');
        var answer = $('#zorro').val();
        $.getJSON("{{ path('api_edit_answer') }}",{'feedback_id': feed_id, 'answer':answer, 'answer_id': answer_id})
        .done(function (data) {
            $('.block'+feed_id).remove();
            var answer_p = $('a[data-answer-id="'+answer_id+'"]').parent().find('p');
            $(answer_p).html(answer);
            $('blockquote[data-answer-block-edit="'+feed_id+'"]').css('display', 'block');
            $('a[data-feedback-edit="'+feed_id+'"]').css('display', 'block');
        })
        .fail(function (e) {
            console.log(e.message);
        })

        return false;
    });

    function generateAnswerFrom (feed_id, answer_id, answer) {
        var content = '\
            <blockquote class="well block'+feed_id+'">\
                <form method="POST">\
                    <div class="row-fluid">\
                        <div class="span9">\
                            <textarea id="zorro" name="answer" data-answer-textarea="'+feed_id+'">'+answer+'</textarea>\
                        </div>\
                        <div class="span3">\
                            <input class="btn" data-submit-edit-form="'+feed_id+'" data-answer-id="'+answer_id+'" type="button" value="Отправить" />\
                            <a href="#" data-abort-answer="'+feed_id+'">Отмена</a>\
                        </div>\
                    </div>\
                </form>\
            </blockquote>';

        return content;
    };
</script>
{% endblock %}
