{% extends 'StoContentBundle::layout.html.twig' %}

{% block title 'Акции' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/script.js') }}"></script>
    <script src="{{ asset('bootstrap/js/slider.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.feedback.js') }}"></script>
{% endblock %}

{% block search %}{% endblock %}

{% block pageTitle %}
    <div class="back">
        <a href="#" class="btnBack"><i class="btnBackIcon"></i></br><span class="btnBackCont">Результаты поиска</span></a>
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <h1 class="titleNameCompany">{{ deal.name }}</h1>
            <p class="sloganCompany"><a href="{{ path('content_company_show', { "id": deal.company.id }) }}">{{ deal.company.name }}</a></p>
        </div>
        <div class="indexCompany">
            <p>Рейтинг:</p>
            <span class="indexbg"></span>
            <span class="indexLevel">{{ deal.company.rating }}</span></br>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="contentMain  row tabs">
    <ul class="tabNavigation">
        <li>
            <a href="#info">Информация</a>
        </li>
        <li>
            <a href="#feedbacks">Отзывы {{ deal.feedbacks|length }}</a>
        </li>
    </ul>
    <div id="info" class="content">
        {% include 'StoContentBundle::Deal/tabs/information.html.twig' %}
        <div class="rightContent">
            <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="writeReviewBtn bttn">Оставить отзыв<i class="writeReview"></i></a>
            {% if isManager %}
                <a href="{{ path("company_deal_edit", {'id':deal.company.id, 'dealId':deal.id}) }}" class="btn btn-large" style="width:200px;margin-top:10px;">Редактировать</a>
            {% endif %}
            <div class="bannerImg">
                <img src="/bootstrap/img/banner.jpg" alt="фото пользователя" />
            </div>
        </div>
    </div>
    <div id="feedbacks" class="content">
        {% include 'StoContentBundle::Deal/tabs/feedbacks.html.twig' %}
        <div class="rightContent">
            <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="writeReviewBtn bttn">Оставить отзыв<i class="writeReview"></i></a>
            <span class="addPhotoBtn">Я пойду<i class="iGoNumber">241</i></span>
            <div class="bannerImg">
                <img src="bootstrap/img/banner.jpg" alt="фото пользователя" />
            </div>
        </div>
    </div>
    <script>
    $(function () {
        var tabContainers = $('.tabs > div'); // получаем массив контейнеров
        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
        // далее обрабатывается клик по вкладке
        $('.tabs ul.tabNavigation a').click(function () {
            tabContainers.hide(); // прячем все табы
            tabContainers.filter(this.hash).show(); // показываем содержимое текущего
            $('.tabs ul.tabNavigation a').removeClass('selected'); // у всех убираем класс 'selected'
            $(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
            return false;
        }).filter(':first').click();
    });
    </script>
    <script>
    $(function () {
        var tabContainers = $('.tabs2 > div'); // получаем массив контейнеров
        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
        // далее обрабатывается клик по вкладке
        $('.tabs2 ul.tabNavigation2 a').click(function () {
            tabContainers.hide(); // прячем все табы
            tabContainers.filter(this.hash).show(); // показываем содержимое текущего
            $('.tabs2 ul.tabNavigation2 a').removeClass('selectedCountry'); // у всех убираем класс 'selected'
            $(this).addClass('selectedCountry'); // текушей вкладке добавляем класс 'selected'
            return false;
        }).filter(':first').click();
    });
    </script>
</section>

{% endblock %}
