{% if deals|length %}
    <div class="leftContent">
        <h1 class="title2">Действующие акции компании</h1>
        {% for deal in deals %}
            <div class="actionItem">
                <a href="{{ path('content_deal_show', {'id': deal.id}) }}">
                    {% if deal.imageName %}
                        <img src="/{{ storage_path }}/deal_image/{{ deal.imageName }}" alt="фото пользователя" />
                    {% endif %}
                </a>
                <div class="actionItemRight">
                    <h4><a href="{{ path('content_deal_show', {'id': deal.id} ) }}"> {{ deal.name }} </a></h4>
                    <div class="actionItemBottom">
                        <p>Отзывов <span class="blue spanFloatRight">{{ deal.feedbacks | length }}</span></p>
                        <p>Период проведения <br/><span class="blue">{{ deal.startDate | localizeddate('medium', 'none', 'ru_RU.UTF-8', 'Europe/Moscow', 'd MMM YYYY') }} &ndash; {{ deal.endDate | localizeddate('medium', 'none', 'ru_RU.UTF-8', 'Europe/Moscow', 'd MMM YYYY') }}</span></p>
                        {% if deal.auto|length %}
                            <p class="">Автомобили<br>
                            {% for auto in deal.auto %}
                                <span class="blue">{{ auto }}</span>
                            {% endfor %}
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="no-deals">
        Компания пока не опубликовала актуальные акции
    </div>
{% endif %}

<div class="rightContent"></div>

{% if archivedDealsCount %}
    <div class="bottomContent">
        <span class="secondaryLink saveDraft"><a href="{{ path('company_deal_arhive', {'id': company.id}) }}">Показать архивные акции</a></span>
    </div>
{% endif %}
