<div class="leftContent">
{% if company.gallery|length %}
<div class="slider">
    <div class="img__prev__wrap">
        <ul id="thumbnail" class="slide-wrap">
            {% for photo in company.gallery %}
            <li class="slide-item">
                <a class="linh__img__prev" href="#">
                    <img title="{{ photo.name }}" alt="{{ photo.name }}" src="{{ vich_uploader_asset(photo,'image') | imagine_filter('company_gallery_filter') }}"  alt="" />
                </a>
            </li>
            {% endfor %}
        </ul>
        <span name="prev" class="navy prev-slide"></span>
        <span name="next" class="navy next-slide"></span>
    </div>
</div>
{% endif %}
<div class="servicesSpecialisationWrap">
    <div class="accordion" id="accordion2">
        <h3 class="servicesSpecialisationTitle titleH2">Специализация и услуги</h3>
        {% for specialization in company.specialization %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="accordion-toggle" id="{{ loop.index }}">
                    {% if specialization.iconLarge %}
                    <img src="{{ vich_uploader_asset(specialization, 'iconLarge') | imagine_filter('service_icon') }}" alt="{{ specialization.name }}">
                    {% else %}
                    <img src="/bootstrap/img/icon-type-default.png" alt="{{ specialization.name }}">
                    {% endif %}
                    <p class="accordionTitle">{{ specialization.name }}</p>
                    <p class="accordionDescription">Независимый мультибрендовый</p>
                    <span class="iconAccord iconChevron" id="iconCollapse_{{ loop.index }}"></span>
                </div>
            </div>
            <div id="collapse_{{ loop.index }}" class="accordion-body">
                <div class="accordion-inner">
                    <ul class="listServices">
                        {% for service in specialization.children %}
                            {% if service in company.services %}
                                <li class="listServicesItem contentText">
                                    {{ service.name }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <span class="showAll">Показать все</span>
    </div>
    {% if company.additionalServices|length %}
    <div class="additionalServices">
        <h3 class="servicesSpecialisationTitle titleH2">Дополнительные услуги</h3>
        {% for additionalService in company.additionalServices %}
            {% if additionalService.iconLarge %}
                <p class="additionalServicesItem contentText">
                    <img src="{{ vich_uploader_asset(additionalService, 'iconLarge') | imagine_filter('additional_service_icon') }}" alt="{{ additionalService.name }}">{{ additionalService.name }}
                </p>
            {% else %}
                <p class="additionalServicesItem contentText"><i class="iconAddProfil wash"></i> {{ additionalService.name }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <p class="servicesSpecialisationTitle titleH2">О компании</p>
    <p class="aboutCompanyCont contentText">
        {{ company.description }}
    </p>
    {% if company.companyManager|length %}
    <p class="servicesSpecialisationTitle titleH2">Менеджеры компании:</p>
        {% for manager in company.companyManager %}
        <div class="managerCompany">
            <span>{%- if manager.user.avatarUrl %}
                {% set userPhoto = 'storage/images/user_photo/' ~ manager.user.avatarUrl %}
                <img src="{{ userPhoto | imagine_filter('user_login_avatar') }}" alt="фото пользователя" />
            {% else %}
                <img src="{{ '/bootstrap/img/default_user_avatar.png' | imagine_filter('user_login_avatar') }}" alt="фото пользователя" />
            {% endif -%}</span>
            <p class="nameManager">{{ manager.user.firstName ~' '~ manager.user.lastName }}</p>
            <p class="phoneManager">{% if manager.phone and manager.phone != '' %}{{ manager.phone }}{% else %}{{ manager.user.phoneNumber }}{% endif %}</p>
        </div>
        {% endfor %}
    {% endif %}
</div>
<div class="infoCompanyWrap">
    {% if company.autos|length %}
    <div class="infoCompanyItem">
        <p class="servedBrendTitle titleH3">Обслуживаемые бренды:</p>
        {%- for car in company.autos %}
            <p class="servedBrend"><img src="{{ vich_uploader_asset(car, 'icon') }}" alt="{{ car }}"><span class="car-name">{{ car }}</span></p>
        {% endfor -%}
    </div>
    {% endif %}
    <div class="infoCompanyItem">
        <p class="infoCompanyTitle contentText">Опыт работы:
        <span>
        {% if company.createtDate|date('Y-m-d') < "now"|date('Y-m-d') %}
            {{ time_diff(company.createtDate) }}
        {% else %}
            Данные отсутствуют
        {% endif %}
        </span>
        </p>
        <p class="infoCompanyTitle contentText">Нормо-час: <span>{{ company.hourPrice }}  {% if company.currency %}{{company.currency.shortName}}{% endif %}</span></p>
    </div>
    <div class="infoCompanyItem">
        <p class="infoCompanyTitle titleH3">Адрес:</p>
        <p class="infoCompanyDescription"><a href="#" data-reveal-id="map-modal">{{ company.address }}</a></p>
    </div>
    <div class="infoCompanyItem">
        <p class="infoCompanyTitle titleH3">Контактные телефоны:</p>
        {% for phone in company.phones %}
            {% if loop.first %}
                <p class="infoCompanyAddTitle contentText">{{ phone.description }}:</p>
                <p class="infoCompanyDescription">{{ phone.phone }}</p>
            {% else %}
                <p class="infoCompanyAddTitle contentText">{{ phone.description }}:<span class="phoneRight">{{ phone.phone }}</span></p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="infoCompanyItem">
        <p class="infoCompanyTitle titleH3">Часы работы:</p>
        {%- for time in company.workingTime %}
            <p class="infoCompanyDescription">
                {{ time.from|date('H:i') }} - {{ time.till|date('H:i') }} ({{ time.days.string }})
            </p>
        {% endfor -%}
    </div>
    <div class="infoCompanyItem">
        <p class="infoCompanyAddTitle contentText">Сайт:</p>
        <p class="infoCompanyDescription"><a class="linkContact" href="{{ company.web }}">{{ company.web }}</a></p>
        <p class="infoCompanyAddTitle contentText">Skype:</p>
        <p class="infoCompanyDescription"><a class="linkContact" href="skype:{{ company.skype }}?chat">{{ company.skype }}</a></p>
        <p class="infoCompanyAddTitle contentText">E-mail:</p>
        <p class="infoCompanyDescription"><a class="linkContact" href="mailto:{{ company.email }}">{{ company.email }}</a></p>
    </div>
    <ul class="infoCompanySocialNet">
        {% if company.linkTW %}
        <li class="infoCompanySocialNetItem">
            <a href="http://twitter.com/{{ company.linkTW }}" target="_blank"><i class="twit-blue"></i>Twitter</a>
        </li>
        {% endif %}
        {% if company.linkFB %}
        <li class="infoCompanySocialNetItem">
            <a href="http://facebook.com/{{ company.linkFB }}" target="_blank"><i class="facebook-blue"></i>Facebook</a>
        </li>
        {% endif %}
        {% if company.linkVK %}
        <li class="infoCompanySocialNetItem">
            <a href="http://vk.com/{{ company.linkVK }}" target="_blank"><i class="vk-blue"></i>Вконтакте</a>
        </li>
        {% endif %}
    </ul>
</div>
</div>
<div class="rightContent">
    <a href="{{ path('content_company_feedbacks_add', { 'id' : company.id }) }}" class="addPhotoBtn bttn" {% if not app.user %}data-reveal-id="not-loged-in"{% endif %}>Оставить отзыв<i class="writeReview"></i></a>
    {% if isManager %}
        <a href="{{ path("content_company_edit", {'id': company.id}) }}" class="addPhotoBtn bttn" style="margin-top:10px;">Редактировать</a>
    {% endif %}
</div>
