<div class="row-fluid">
    <div class="span8">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
{% for item in 1..3 %}
                <div class="item">
                    <img src="http://placehold.it/494x280" alt="">
                </div>
{% endfor %}
                <div class="item active">
                    <img src="http://placehold.it/494x280" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
        <div class="row-fluid">
            <div class="span9">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="thumbnail">
                            <img src="http://placehold.it/243x145">
                            <p>{{ company.address }}</p>
                        </div>
                    </div>
                    <div class="span6">
{% for phone in company.phones %}
{% if loop.first %}
                                <h5>{{ phone.description }}</h5>
                                <h2>{{ phone.phone }}</h2>
{% if company.phones|length > 1 %}
                                    <dl>
{% endif %}
{% else %}
                                <dt>{{ phone.description }}</dt>
                                <dd>{{ phone.phone }}</dd>
{% if loop.last %}
                                    </dl>
{% endif %}
{% endif %}
{% endfor %}
                    </div>
                </div>
            </div>
            <div class="span3">
                <dl>
                    <dt>Сайт</dt>
                    <dd><a href="{{ company.web }}">{{ company.web }}</a></dd>
                    <dt>Скайп</dt>
                    <dd><a href="skype:{{ company.skype }}?chat">{{ company.skype }}</a></dd>
                    <dt>Эл.почта</dt>
                    <dd><a href="mailto:{{ company.email }}">{{ company.email }}</a></dd>
                    <dt>&nbsp;</dt>
                    <dd>
                        <img src="http://placehold.it/25x25&text=F">
                        <img src="http://placehold.it/25x25&text=V">
                        <img src="http://placehold.it/25x25&text=T">
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <div class="row-fluid">
                    <h4>Специализация и услуги</h4>
                    <div class="accordion" id="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <center><img src="http://placehold.it/44x46"></center>
                                    </div>
                                    <div class="span10">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">СТО</a>
                                        <p>Независимый мультибрендовый</p>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <center><img src="http://placehold.it/32x33"></center>
                                        </div>
                                        <div class="span10">
                                            <h5>Техническое обслуживание (ТО)</h5>
                                            <p>Еще Траут показал, что рекламное сообщество порождает PR, полагаясь на инсайдерскую информацию. Молодежная аудитория продуцирует стратегический пресс-клиппинг, используя опыт предыдущих кампаний.</p>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <center><img src="http://placehold.it/32x33"></center>
                                        </div>
                                        <div class="span10">
                                            <h5>Кузовной ремонт</h5>
                                            <p>Молодежная аудитория продуцирует стратегический пресс-клиппинг, используя опыт предыдущих кампаний. Интеграция подсознательно порождает целевой трафик, используя опыт предыдущих кампаний.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <center><img src="http://placehold.it/44x46"></center>
                                    </div>
                                    <div class="span10">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">Мойка</a>
                                        <p>Автоматическая портальная</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <center><img src="http://placehold.it/44x46"></center>
                                    </div>
                                    <div class="span10">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">Автосалон</a>
                                        <p>Независимый мультибрэндовый</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h4>Дополнительные услуги</h4>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <div class="span6"><img src="http://placehold.it/32x32"> Бесплатный Wi-Fi</div>
                            <div class="span6"><img src="http://placehold.it/32x32"> Комната отдыха</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6"><img src="http://placehold.it/32x32"> Выдача авто на время ремонта</div>
                            <div class="span6"><img src="http://placehold.it/32x32"> Детская зона</div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h4>О компании</h4>
                    <p>{{ company.description }}</p>
                </div>
{% if company.managers %}
                <div class="row-fluid">
                    <div class="well">
                        <h4>Менеджеры компании</h4>
                        <div class="row-fluid">
{% for manager in company.managers %}
                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <img src="http://placehold.it/36x36">
                                    </div>
                                    <div class="span10">
                                        <p>{{ manager.firstName ~' '~ manager.lastName }}</p>
                                        <h6>{{ manager.phoneNumber }}</h6>
                                    </div>
                                </div>
                            </div>
{% endfor %}
                        </div>
                    </div>
                </div>
{% endif %}
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <h4>Часы работы</h4>
                    <p>09:00-21:00 (пн-пт)</p>
                    <p>09:00-20:00 (сб-вс)</p>
                </div>
                <div class="row-fluid">
                    <h4>Обслуживаемые бренды</h4>
                    <div class="row-fluid">
                        <div class="span6">Honda</div>
                        <div class="span6">Toyota</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">Mazda</div>
                        <div class="span6">Infiniti</div>
                    </div>
                </div>
                <div class="row-fluid">
                    <h4>Опыт работы</h4>
                    <p>5 лет</p>
                </div>
                <div class="row-fluid">
                    <h4>Нормочас</h4>
                    <p>{{ company.hourPrice }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <a class="btn btn-large btn-block" href="{{ path('content_company_feedbacks_add', { 'id' : company.id }) }}">Оставить отзыв</a>
        <a class="btn btn-large btn-block" href="{% if app.user %} # {% else %} {{ path('fos_user_security_login') }}{% endif %}">Добавить фото</a>
        <div class="thumbnail">
            <img src="http://placehold.it/240x400">
        </div>
    </div>
</div>
