        <thead>
            <tr>
                <th width="280">Марка / модель</th>
                <th width="50">Кол-во дверей</th>
                <th width="80">Объем двигат.</th>
                <th width="80">Мощность</th>
                <th width="80">Макс. скорость</th>
                <th width="60">Тип кузова</th>
                <th width="70">Начало выпуска</th>
                <th width="70">Оконч. выпуска</th>
                <th width="50"></th>
            </tr>
        </thead>
        <tbody>
{% for item in catalog %}
            <tr>
                <td class="name">{{ item.name }}</td>
{% if item.numberOfDoors %}
                <td>{{ item.numberOfDoors }}</td>
{% else %}
                <td>---</td>
{% endif %}
{% if item.engine %}
                <td>{{ item.engine }}</td>
{% else %}
                <td>---</td>
{% endif %}
{% if item.power %}
                <td>{{ item.power }}</td>
{% else %}
                <td>---</td>
{% endif %}
{% if item.fullSpeed %}
                <td>{{ item.fullSpeed }}</td>
{% else %}
                <td>---</td>
{% endif %}
{% if item.bodyType %}
                <td>{{ item.bodyType }}</td>
{% else %}
                <td>---</td>
{% endif %}
{% if item.startOfProduction %}
                <td>{{ item.startOfProduction }}</td>
{% else %}
                <td>---</td>
{% endif %}
{% if item.closingOfProduction %}
                <td>{{ item.closingOfProduction }}</td>
{% else %}
                <td>---</td>
{% endif %}
                <td>
                    <a href="{{ path('admin_catalog_edit', { 'level': level, 'id' : item.id }) }}" class="icon-edit" title="Редактировать"></a>
                    <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{item.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
                </td>
            </tr>
{% endfor %}
        </tbody>
