{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Редактирование данных пользователя{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(edit_form.username) }}
            {{ form_row(edit_form.plainPassword.password, {'label': 'Пароль', 'render_optional_text' : false}) }}
            {{ form_row(edit_form.plainPassword.confirm_password, {'label': 'Подтвердите пароль', 'render_optional_text' : false}) }}
            {#{ form_row(edit_form.enabled) }#}
        </div>
        <div class="span6">
            <div class="controls">
{% if entity.avatarUrl and not form_errors(edit_form.avatar) %}
                <img data-image="avatar" src="{{ vich_uploader_asset(entity,'avatar') | imagine_filter('user_photo_filter') }}"  class="img-circle"/>
{% else %}
                <img data-image="avatar" src="{{ asset('bundles/stocore/images/notimage.png') | imagine_filter('user_photo_filter') }}" class="img-circle"/>
{% endif %}
            </div>
            {{ form_row(edit_form.avatar, {'label_render': false}) }}
        </div>
    </div>
    <div class="row-fluid">
        {{ form_row(edit_form.description) }}
    </div>
    <hr style="margin: 0 0 20px 0;">
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(edit_form.firstName) }}
            {{ form_row(edit_form.lastName) }}
            {{ form_row(edit_form.gender) }}
            {{ form_row(edit_form.birthDate) }}
        </div>
        <div class="span6">
            {{ form_row(edit_form.email) }}
            {{ form_row(edit_form.phoneNumber) }}
            {{ form_row(edit_form.groups) }}
            {{ form_row(edit_form.ratingGroup) }}
        </div>
    </div>
    <hr style="margin: 0 0 20px 0;">
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(edit_form.linkVK) }}
            {{ form_row(edit_form.linkFB) }}
        </div>
        <div class="span6">
            {{ form_row(edit_form.linkGP) }}
            {{ form_row(edit_form.autoProfilesLinks) }}
        </div>
    </div>
    <hr style="margin: 0 0 20px 0;">
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(edit_form.rating) }}
            {{ form_row(edit_form.city) }}
        </div>
        <div class="span6">
            {{ form_row(edit_form.linkGarage) }}
        </div>
    </div>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.edit'|trans({}) }}"/>
        <a class="btn" href="{{ path('admin_user') }}">{{ 'form.cancel'|trans({}) }}</a>
    </div>
</form>
{% endblock %}

{% block foot_script %}
{{ parent() }}
{% javascripts
    'bundles/stocore/js/select2.js'
    'bundles/stocore/js/bootstrap-inputmask.js'
    'bundles/stoadmin/js/script.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript" >
    var birth = $('input[data-form=datepicker]');

    birth.datepicker({
        onRender: function(date) {
            var lowLimit = new Date().getFullYear() - 99 + '-01-01';
            return date.valueOf() <= ( lowLimit ) ? 'disabled' : '';
        }
    }).on('show', function(ev){
        if (birth.val()  == '')
            birth.datepicker('setValue', ev.date.getFullYear() - 30 + '-01-01');
    });

    $(".select2").select2({
        placeholder: "Выберите группу"
    });
</script>
{% endblock %}
