{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Редактирование данных пользователя{% endblock %}

{% block header %}<h3>{{ block('title') }}</h3>{% endblock %}

{% block content %}
<form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="control-group">
        <div class="controls">
{% if entity.avatarUrl %}
            <img src="/../{{ storage_path }}/user_photo/{{ entity.avatarUrl }}?{{ random() }}" width="160"/>
{% else %}
            <img src="holder.js/160x140" width="160" class="img-polaroid"/>
{% endif %}
        </div>
    </div>
    {{ form_widget(edit_form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.edit'|trans({}) }}"/>
        <a class="btn" href="{{ path('admin_user') }}">{{ 'form.cancel'|trans({}) }}</a>
    </div>
</form>
{% endblock %}

{% block foot_script %}
{{ parent() }}
{% javascripts
    '@StoCoreBundle/Resources/public/js/bootstrap-inputmask.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
