<section class="contentMain  row">
    <div class="content">
        <ul class="stepRegistration">
            <li class="stepRegistrationItem firstStepActive"><a href="{{ path('fos_user_profile_edit') }}" class="stepLink">Общая информация</a></li>
            <li class="stepRegistrationItem endStep"><a href="{{ path('profile_edit_step2') }}" class="stepLink">Дополнительно</a></li>
        </ul>
        <form action="{{ path('fos_user_profile_edit') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ form_row(form.firstName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.birthDate) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.description) }}
            {{ form_row(form.avatar) }}
            <div style="display: none">
                {{ form_row(form.city) }}
                {{ form_row(form.linkVK) }}
                {{ form_row(form.vkontakteId) }}
                {{ form_row(form.autoProfilesLinks) }}
                {{ form_row(form.linkFB) }}
                {{ form_row(form.linkGP) }}
                {{ form_row(form.rating) }}
                {{ form_row(form.ratingGroup) }}
            </div>
            {{ form_widget(form) }}
        </form>
        <div class="bottomContent">
            <span class="btnNext addPhotoBtn" id="submitRegisterForm">Сохранить</span>
        </div>
    </div>
</section>
