<section class="contentMain row tabs" style="margin: 16px auto 0 auto;">
    <ul class="tabNavigation">
        <li>
            <a href="#information">Общая информация</a>
        </li>
        <li>
            <a href="#aditional">Дополнительно</a>
        </li>
    </ul>

    <form action="{{ path('fos_user_profile_edit') }}" method="post" {{ form_enctype(form) }}>
        <div class="content" data-tab-id="#information">
            {{ form_row(form.firstName) }}
            <div>
                {{ form_label(form.email) }}
                <p class="hint-text">Данный емайл используется для входа на сайт и не отображается в вашем профиле.</p>
                {{ form_widget(form.email) }}
            </div>
            {{ form_row(form.phoneNumber) }}
            <p class="contentLabel clear">
                {{ form_label(form.birthDate) }}
                <div id="datetimepicker1" class="input-append">
                    {{ form_widget(form.birthDate) }}
                </div>
            </p>
            {{ form_row(form.gender) }}
            {{ form_row(form.description) }}
            {{ form_row(form.avatar) }}
            <div class="bottomContent">
                <button type="submit" class="btnNext addPhotoBtn">Сохранить</button>
            </div>
        </div>
        <div class="content" data-tab-id="#aditional">
            <div class="cityChoicer">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
            </div>
            <div class="contentLabel rightContaktItem">
                <label>DRIVE2</label>
                <p class="maskInput"><span>www.drive2.ru/users/</span>
                    {{ form_widget(form.autoProfilesLinks) }}
                </p>
            </div>
            {{ form_row(form.autoProfilesLinks) }}
            <div class="contentLabel rightContaktItem">
                <label>VKontakte</label>
                <p class="maskInput"><span>www.vk.com/</span>
                    {{ form_widget(form.linkVK) }}
                </p>

            </div>
            <div class="contentLabel rightContaktItem">
                <label>Google+</label>
                <p class="maskInput"><span>plus.google.com/</span>
                    {{ form_widget(form.linkGP) }}
                </p>
            </div>
            <div class="contentLabel rightContaktItem">
                <label>Facebook</label>
                <p class="maskInput"><span>www.facebook.com/</span>
                    {{ form_widget(form.linkFB) }}
                </p>
            </div>
            <div class="contentLabel rightContaktItem" id="contact_emails">
                <label>Email для отображения в профиле</label>
                <p class="hint-text">Вы можете указть email адрес, который будет отображаться в вашем профиле на сайте.</p>
                {{ form_widget(form.contactEmail) }}
            </div>

            {% if user.vkontakteAccessToken %}
            <div class="contentLabel rightContaktItem" id="contact_profiles">
                <label>Привязанные аккаунты соц сетей</label>
                <div class="unsubscribeSocial">
                    <a href="http://vk.com/id{{ user.vkontakteId }}" alt="Вконтакте" title="Vkontakte" class="vk-blue enterSocialIconItem">Вконтакте</a>
                    <a href="{{ path('vk_unsubscribe_account') }}" class="unsubscribeLink">Отвязать</a>
                </div>
            </div>
            {% endif %}

            <div class="bottomContent">
                <button type="submit" class="btnNext addPhotoBtn">Сохранить</button>
            </div>
            {{ form_rest(form) }}
        </div>
    </form>
</section>
