<section class="contentMain row tabs">
    <!-- Это сами вкладки -->
    <ul class="tabNavigation">
        <li>
            <a class="" href="#information">Информация</a>
        </li>
        <li>
            <a class="" href="#feedbacks">Отзывы {{ user.feedbacks|length }}</a>
        </li>
    </ul>
    <!-- Это контейнеры содержимого -->
    <div class="content" data-tab-id="#information">
        <div class="profilExpertLeftCont">
            <div class="profilExpertImg">
                {%- if user.avatarUrl %}
                    <img src="{{ vich_uploader_asset(user, 'avatar') }}" />
                {% else %}
                    {% if user.gender == 'female' %}
                        <img src="{{ asset('/bootstrap/img/default_user_avatar_female.png') }}" alt="фото пользователя" />
                    {% else %}
                        <img src="{{ asset('/bootstrap/img/default_user_avatar.png') }}" alt="фото пользователя" />
                    {% endif -%}
                {% endif %}
            </div>
            <p class="titleImg"><span>Ваше фото</span><a href="{{ path('fos_user_profile_edit') }}"><i class="editIcon"></i></a></p>
        </div>
        <div class="profilExpertRightCont">
            {% if user.gallery and user.gallery | length > 0 %}
                <div class="slider">
                    <div class="img__prev__wrap">
                        <ul id="thumbnail" class="slide-wrap">
                            {% for item in user.gallery %}
                                <li class="slide-item">
                                    <p class="nameActionP">{{ item.name }}</p>
                                    <a href="#" data-reveal-id="add-photo-modal"><i class="editIconAdd"></i></a>
                                    <a href="{{ path('profile_user_gallery_remove', { "id": item.id }) }}"><i class="editIconDel"></i></a>
                                    <img src="{{ vich_uploader_asset(item, 'image') | imagine_filter('deals_carusel_photos') }}"  alt="" />
                                </li>
                            {% endfor %}
                        </ul>
                        <span name="prev" class="navy prev-slide"></span>
                        <span name="next" class="navy next-slide"></span>
                    </div>
                </div>
            {% else %}
                <div class="photoAddEmptyGallery">
                    <a href="#" data-reveal-id="add-photo-modal"><i class="iconPhotoAdd"></i><span>Добавить фотографию</span></a>
                </div>
            {% endif %}

            <div class="infoProfilExpertWrap">
                <h4 class="contactData"><span>Контактные данные</span><a href="{{ path('fos_user_profile_edit') }}"><i class="editIcon"></i></a></h4>
                <div class="infoProfilItem">
                    {% if user.email %}
                        <p class="infoCompanyAddTitle contentText">E-mail:</p>
                        <p class="infoCompanyDescription"><a class="linkContact" href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                    {% endif %}
                    {% if user.phoneNumber %}
                        <p class="infoCompanyAddTitle contentText">Телефон:</p>
                        <p class="infoCompanyDescription">{{ user.phoneNumber }}</p>
                    {% endif %}
                    {% if user.contactEmails %}
                        <p class="infoCompanyAddTitle contentText">Публичные e-mail:</p>
                        {%- for email in user.contactEmails %}
                            <p class="infoCompanyDescription"><a class="linkContact" href="mailto:{{ email }}">{{ email }}</a></p>
                        {% endfor -%}
                    {% endif %}
                    {% if user.linkVK %}
                        <p class="infoCompanyAddTitle contentText">VKontakte:</p>
                        <p class="infoCompanyDescription"><a class="linkContact" href="http://vk.com/{{ user.linkVK }}" target="_blank">{{ user.linkVK }}</a></p>
                    {% endif %}
                    {% if user.linkFB %}
                        <p class="infoCompanyAddTitle contentText">Facebook:</p>
                        <p class="infoCompanyDescription"><a class="linkContact" href="http://facebook.com/{{ user.linkFB }}" target="_blank">{{ user.linkFB }}</a></p>
                    {% endif %}
                    {% if user.linkGP %}
                        <p class="infoCompanyAddTitle contentText">Google+:</p>
                        <p class="infoCompanyDescription"><a class="linkContact" href="http://plus.google.com/{{ user.linkGP }}" target="_blank">{{ user.linkGP }}</a></p>
                    {% endif %}
                    {% if user.autoProfilesLinks %}
                        <p class="infoCompanyAddTitle contentText">Авто профиль:</p>
                        <p class="infoCompanyDescription"><a class="linkContact" href="{{ user.autoProfilesLinks }}" target="_blank">{{ user.autoProfilesLinks }}</a></p>
                    {% endif %}
                    {% if user.contacts|length %}
                        {% for contact in user.contacts %}
                            <p class="infoCompanyAddTitle contentText">{{ contact.type.name }}:</p>
                            <p class="infoCompanyDescription"><a class="linkContact" href="{{ contact.type.prefix }}{{ contact.value }}">{{ contact.value }}</a></p>
                        {% endfor %}
                    {% endif %}
                </div>
                <h4 class="contactData"><span>Привязанные аккаунты:</span></h4>
                <div class="infoProfilItem">
                    {% if user.vkontakteId == null %}
                        <ul class="enterCocialIcon">
                            <li class="enterCocialIconItem">
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Войти через Вконтакте" title="Sign in with Vkontakte" class="vk-blue">Вконтакте</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="enterCocialIcon">
                            <li class="enterCocialIconItem">
                                <a href="http://vk.com/id{{ user.vkontakteId }}" alt="Вконтакте" title="Vkontakte" class="vk-blue">Вконтакте</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="aboutUsProfilExpertWrap">
                <h4 class="contactData"><span>О себе</span><a href="{{ path('fos_user_profile_edit') }}"><i class="editIcon"></i></a></h4>
                {% if user.description %}
                    <p class="aboutCompanyCont contentText">
                        {{ user.description | nl2br }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content" data-tab-id="#feedbacks">
        <div class="leftContent">
            {% render controller('StoContentBundle:Feedback:sortAndFilterForm') %}
            <p class="showTotal">
                Показано: <span class="parametShow" id="showedFeedbacks">{{ user.feedbacks|length }}</span> отзыва
            </p>
            <input type="hidden" data-type="profile" id="sortDataType">
            <div data-x-container="feedbacks" id="data-x-container-feedbacks">
                {{ render(controller('StoContentBundle:Feedback:profileFeedbacks', {'id':user.id})) }}
            </div>
            <script>function getEntityId(){ return {{ user.id }}; }</script>
        </div>
        <div class="rightContent">
            <div class="bannerImg"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $('.popUpPrimary').hide();
        $('.complainAlert').hide();
        $('.complain').click(function() {
            $('.complainAlert').show();
        });
        $('.complainAlert').click(function() {
            $('.popUpPrimary').show();
        });
        $('.popUpPrimary li').click(function() {
            $('.popUpPrimary').hide();
            $('.complainAlert').hide();
        });
    });
</script>

<div id="add-photo-modal" class="reveal-modal resetting-modal">
    <a href="#" class="close-reveal-modal"></a>
    <p class="popUpTitle">Добавить фотографию</p>
    <div id="resetting-container">
        <p class="infoText">Вы можете использовать изображение в формате JPG, GIF или PNG размером не более 10Мб</p>
        {{ render(controller('StoContentBundle:User:addGallery')) }}
    </div>
</div>
