{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

<section class="contentMain  row tabs">
    <!-- Это сами вкладки -->
    <ul class="tabNavigation">
        <li>
            <a class="" href="#first">Информация</a>
        </li>
        <li>
            <a class="" href="#second">Отзывы <span class="newPost">{{ user.feedbacks|length }}</span></a>
        </li>
    </ul>
    <!-- Это контейнеры содержимого -->
    <div id="first" class="content">
        <div class="profilExpertLeftCont">
            <div class="profilExpertImg">
                {% if user.avatar %}
                    <img src="{{ vich_uploader_asset(user, 'avatar') }}" />
                {% else %}
                    <img src="{{ asset('bundles/stocore/images/user_avatar.jpg') }}" />
                {% endif %}
            </div>
            <p class="titleImg"><span>Ваше фото</span><a href="{{ path('fos_user_profile_edit') }}"><i class="editIcon"></i></a></p>
        </div>
        <div class="profilExpertRightCont">
            {% if user.gallery and user.gallery | length > 0 %}
            <div class="slider">
                <div class="img__prev__wrap">
                    <ul id="thumbnail" class="slide-wrap">
                        {% for item in user.gallery %}
                        <li class="slide-item">
                            <p class="nameActionP">{{ item.name }}</p>
                            <i class="editIconAdd"></i><i class="editIconDel"></i>
                            <img src="{{ vich_uploader_asset(item, 'image') }}"  alt="" />
                        </li>
                        {% endfor %}
                    </ul>
                    <span name="prev" class="navy prev-slide"></span>
                    <span name="next" class="navy next-slide"></span>
                </div>
            </div>
            {% endif %}

            <div class="infoProfilExpertWrap">
                <h4 class="contactData"><span>Контактные данные</span><a href="{{ path('fos_user_profile_edit') }}"><i class="editIcon"></i></a></h4>
                {% if user.contacts|length %}
                <div class="infoProfilItem">
                    {% for contact in user.contacts %}
                        <p class="infoCompanyAddTitle contentText">{{ contact.type.name }}:</p>
                        <p class="infoCompanyDescription"><a class="linkContact" href="#">{{ contact.value }}</a></p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="aboutUsProfilExpertWrap">
                <h4 class="contactData"><span>О себе</span><a href="{{ path('fos_user_profile_edit') }}"><i class="editIcon"></i></a></h4>
                {% if user.description %}
                <p class="aboutCompanyCont contentText">
                    {{ user.description }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="second" class="content">
        <div class="leftContent">
            <div class="contentSelect">
                <div class="assortSelect">
                    <span>Сортировать по:</span>
                    <div class="parametrAssort">
                        <div class="lineForm">
                            <select class="styled1">
                                <option value="">рейтингу</option>
                                <option value="">дате</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="showSelect">
                    <span>Показать по:</span>
                    <div class="parametrAssort">
                        <div class="lineForm">
                            <select class="styled1">
                                <option value="">все</option>
                                <option value="">положительные</option>
                                <option value="">отрицательные</option>
                                <option value="">полезные</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <p class="showTotal">
                Показано:
                <span class="parametShow">{{ user.feedbacks|length }}</span>
                отзыва
            </p>
            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.collapsCont').hide();
                                    $('.collapsText').click(function() {
                                        $('.collapsCont').show();
                                        $('.collapsText').hide();
                                    });
                                });
            </script>
            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.popUpPrimary').hide();
                                    $('.complainAlert').hide();
                                    $('.complain').click(function() {
                                        $('.complainAlert').show();
                                    });
                                    $('.complainAlert').click(function() {
                                        $('.popUpPrimary').show();
                                    });
                                    $('.popUpPrimary li').click(function() {
                                        $('.popUpPrimary').hide();
                                        $('.complainAlert').hide();
                                    });
                                });
            </script>
            {% for feedback in user.feedbacks %}
            <div class="reviewContentItem">
                <div class="reviewAccount">
                    <div  class="reviewAccountImg">
                        <a href="#">
                            <img src="bootstrap/img/userimg.jpg" alt="фото пользователя" />
                        </a>
                    </div>
                    <span>153</span>
                </div>
                <div class="reviewWrap">
                    <div class="reviewTop">
                        <p class="reviewNick"><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.username }}</a></p>
                        <p class="reviewName"><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.lastName }} {{ feedback.user.firstName }}</a></p>
                        <p class="reviewRang">{% if feedback.user.ratingGroup %}{{ feedback.user.ratingGroup.name }}{% endif %}</p>
                        <span class="reviewData">{{ feedback.date|date("d.m.Y") }}</span>
                    </div>
                    <div class="reviewCont">
                        <div class="reviewContTop">
                            <!--http://habrahabr.ru/post/132807/-->
                            <div class="vote-wrap">
                                <div class="vote-hover">
                                    <div class="vote-block">
                                        <div class="vote-stars">
                                        </div>
                                        <div class="vote-active">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="levelPrice">Цена:<i class="levelPriceImg"></i></span>
                            <span class="negativReview"><i class="negativReviewI"></i>{{ feedback.minuses }}</span>
                            <span class="positivReview"><i class="positivReviewI"></i>{{ feedback.pluses }}</span>
                            <p class="reviewContText">
                                {{ feedback.content|raw }}
                            </p>
                            <span class="primaryLink reply" id="reply1">Ответить</span>
                            <span class="primaryLink complain">Пожаловаться</span>
                            <i class="complainAlert"></i>
                            <div class="popUpPrimary">
                                <div id="myCanvasTop" class="myCanvasTop"></div>
                                <ul>
                                    <li><span class="primaryLink">Скрыть</span></li>
                                    <li><span class="primaryLink">Редактировать</span></li>
                                    <li><span class="primaryLink">Удалить</span></li>
                                    <li><span class="primaryLink">Снять жалобу</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="writeReviewWrap" id="writeReview_reply1">
                            <div class="writeReviewCont">
                                <textarea class="textareaWriteReview" name="text"></textarea>
                            </div>
                            <div class="writeReviewSubmit">
                                <span class="btnReview addPhotoBtn">Ответить</span>
                                <span class="primaryLink cancelBtn">Отмена</span>
                            </div>
                        </div>
                        <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.writeReviewWrap').hide();
                                    $('.reply').click(function() {
                                        $('#writeReview_' + this.id).show();
                                        $(this).hide();
                                    });
                                    $('.cancelBtn').click(function() {
                                        $('.writeReviewWrap').hide();
                                        $('.reply').show();
                                    });
                                });
                        </script>
                        {% if feedback.feedbackAnswer %}
                        <div class="responseReviewCont">
                            <div class="reviewContBottomText">
                                <p class="reviewContText">
                                    {{ feedback.feedbackAnswer.answer|raw }}
                                </p>
                            </div>
                            <div class="reviewContBottomAccount">
                                <div  class="responseReviewAccountImg">
                                    <img src="bootstrap/img/userimg.jpg" alt="фото пользователя" />
                                </div>
                                <span class="responseReviewData">18.02.2013</span>
                                <p class="responseReviewName">{{feedback.feedbackAnswer.owner.lastName}} {{feedback.feedbackAnswer.owner.firstName}}</p>
                                <p class="responseReviewRang">Менеджер</p>
                                <p class="bottomReview">
                                <span class="negativReview"><i class="negativReviewI"></i>53</span>
                                <span class="positivReview"><i class="positivReviewI"></i>15</span>
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="rightContent">
            <span class="writeReviewBtn">Оставить отзыв<i class="writeReview"></i></span>
            <span class="addPhotoBtn">Я пойду<i class="acctBtn">241</i></span>
            <div class="bannerImg">
                <img src="bootstrap/img/banner.jpg" alt="фото пользователя" />
            </div>
        </div>
    </div>
    <script>
    $(function () {
        var tabContainers = $('.tabs > div'); // получаем массив контейнеров
        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
        // далее обрабатывается клик по вкладке
        $('.tabs ul.tabNavigation a').click(function () {
            tabContainers.hide(); // прячем все табы
            tabContainers.filter(this.hash).show(); // показываем содержимое текущего
            $('.tabs ul.tabNavigation a').removeClass('selected'); // у всех убираем класс 'selected'
            $(this).addClass('selected'); // текушей вкладке добавляем класс 'selected'
            return false;
        }).filter(':first').click();
    });
    </script>
    <script>
    $(function () {
        var tabContainers = $('.tabs2 > div'); // получаем массив контейнеров
        tabContainers.hide().filter(':first').show(); // прячем все, кроме первого
        // далее обрабатывается клик по вкладке
        $('.tabs2 ul.tabNavigation2 a').click(function () {
            tabContainers.hide(); // прячем все табы
            tabContainers.filter(this.hash).show(); // показываем содержимое текущего
            $('.tabs2 ul.tabNavigation2 a').removeClass('selectedCountry'); // у всех убираем класс 'selected'
            $(this).addClass('selectedCountry'); // текушей вкладке добавляем класс 'selected'
            return false;
        }).filter(':first').click();
    });
    </script>
</section>
