{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

<div class="row-fluid">
    <div class="span2">
        <h1 class="pull-right">Вы:</h1>
    </div>
    <div class="span8">
        <div class="row-fluid">
            <h2 style="margin-bottom: 0px;">
                <span id="user-name">{{ user.firstName }} {{ user.lastName }}, {{ user.username }}</span>
                <a href="#" id="personal-edit" class="icon-b4c-edit" data-placement="bottom"></a>
            </h2>
        </div>
        <div class="row-fluid">
            <span>{% if user.ratingGroup %}{{ user.ratingGroup.name }}{% endif %} - </span>
            <span id="user-city">{{ user.city.name }}</span>,
            <span id="user-years"> {{ user.years }}</span> год(а)
        </div>
    </div>
    <div class="span2">
        <div class="row-fluid">
            <span>Ваш рейтинг:</span><br />
        </div>
        <div class="row-fluid">
            <h2><i class="icon-b4c-star"></i> {{ user.rating }}</h2>
        </div>
    </div>
</div>
<hr style="margin: 5px 0;" />
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active" style="margin-left:80px;">
                <a href="#personal">
                    <i class="icon-b4c-user"></i> Профиль
                </a>
            </li>
            <li>
                <a href="#feedbacks">
                    <i class="icon-b4c-comment"></i> Отзывы <span class="badge badge-warning">{{ user.feedbacks|length }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="personal">
       {% include 'StoUserBundle::Profile/tabs/personal.html.twig' %}
    </div>
    <div class="tab-pane" id="feedbacks">
       {% include 'StoUserBundle::Profile/tabs/feedbacks.html.twig' %}
    </div>
</div>
<div id="personal-data-edit" style="display:none;">
    <form>
        <label>Имя</label>
        <input type="text" name="firstName" required="required" value="{{ user.firstName }}"/>
        <label>Фамилия</label>
        <input type="text" name="lastName" required="required" value="{{ user.LastName }}"/>
        <label>Псевдоним</label>
        <input type="text" name="userName" required="required" value="{{ user.username }}"/>
        <label>Возраст</label>
        <input class="dp" type="text" name="birthDate" value="{% if user.birthDate %}{{ user.birthDate|date('d.m.Y') }}{% endif %}"/>
        <label>Город</label>
        <select name="city"></select>
        <input type="button" id="save-personal-data" class="btn btn-primary" value="ОК"/>
        <a id="abort-personal-data" class="btn" href="#">Отмена</a>
    </form>
</div>
