{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Члены рейтинговой группы{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<h4>Пользователи</h4>
<table class="table table-hover table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <th width="80">Логин</th>
            <th width="80">ФИО</th>
            <th width="50"></th>
        </tr>
    </thead>
    <tbody>
    {% for user in entity.users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>
                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="icon-pencil" title="{{ 'form.edit'|trans({}) }}"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
