{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, session_flash %}

{% block html_tag %}
<html lang="ru">
{% endblock %}

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block head_style %}
{% stylesheets filter='cssrewrite'
    'bundles/stocore/css/bootstrap.css'
    'bundles/stocore/css/font-awesome.css'
    'bundles/stocontent/css/style.css'
    'bundles/stocontent/css/fontello.css'

    'bundles/stocore/css/bootstrap-responsive.css'
    '@MopaBootstrapBundle/Resources/public/less/eyecon-bootstrap-datepicker.less'
%}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}

<style type="text/css">
    #previous-page {
        position:absolute;
        top: 42px;
        /*left: px;*/
        height: 67px;
        /*z-index: 2000;*/
    }
</style>

{% endblock %}
{% block head_script %}
{% javascripts
    'http://code.jquery.com/jquery-1.8.3.min.js'
%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
{% endjavascripts %}
{% endblock %}
        <title>BEST4CAR &middot; {% block title 'BEST4CAR' %}</title>
    </head>
{% endblock %}

{% block body_tag '<body>' %}

{% block body %}
        <div id="wrap">
            <div class="well span1" id="previous-page">
                <a href="#" onclick="history.back(); return false;">
                    <center><br /> Назад</center>
                </a>
            </div>
{% block navbar_container %}
{% block navbar %}{{ mopa_bootstrap_navbar('frontendNavbar') }}{% endblock %}
{% include "StoContentBundle:City:city.html.twig" %}
{% include "StoContentBundle:User:registration_type.html.twig" %}
{% endblock %}
            <div id="header" class="row-fluid">
                <div class="container">
                {% block header %}{% endblock %}
                <hr style="margin:0;">
                </div>
            </div>
            {% block aside %}{% endblock %}
            <div {% block content_tag 'class="container"' %} >
                {% block search %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
            <div id="push"></div>
        </div>
{% block footer %}
        <div id="footer">
            <div class="container">
                <p class="muted credit">
                    <div class="row">
                        <div class="span4">
                            &copy; 2013, BEST4CAR <a href="{{ path('info_rules_2_use') }}">Условия использования сайта</a>
                        </div>
                        <div class="span5">
                            <a href="{{ path('info_about') }}">О проекте</a>
                            <a href="{{ path('info_advertisers') }}">Рекламодателям</a>
                            <a href="{{ path('info_help') }}">Помощь</a>
                            <a href="{{ path('info_tur') }}">Тур</a>
                            <a href="{{ path('info_contact') }}">Обратная связь</a>
                        </div>
                        <div class="span3">
                            Мы в социальных сетях:
                             <a href="#"><i class="icon-b4c-vkontakte"></i></a>
                             <a href="#"><i class="icon-b4c-facebook"></i></a>
                             <a href="#"><i class="icon-b4c-twitter"></i></a>
                             <a href="#"><i class="icon-b4c-googleplus"></i></a>
                        </div>
                    </div>
                </p>
            </div>
        </div>
{% endblock %}
{% block foot_script %}
{% javascripts
    'bundles/stocore/js/bootstrap.js'
    'bundles/stocore/js/holder.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" type="text/javascript"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
    $('#registration-link > a').on('click', function(){
        $('#registrationModal').modal('toggle');
        return false;
    });
</script>
{% endblock %}
{% endblock %}
