{% extends 'StoContentBundle::layout.html.twig' %}

{% block title %}Мои подписки — управление{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/styleCompany.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/style-card-action.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}

{% block search %}{% endblock %}

{% block pageTitle %}
    <div class="back">
        <a href="{{ path('subscription_list') }}" class="btnBack"><i class="btnBackIcon"></i></a>
    </div>
    <div id="nameCompanyHeaderWrap">
        <div class="nameCompanyHeader">
            <div class="titles"><h1 class="titleNameCompany">Ваши подписки</h1></div>
        </div>
        <div class="indexCompany">
            <p>Рейтинг:</p>
            <span class="indexbg"></span>
            <span class="indexLevel">{{ user.rating }}</span></br>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="contentMain row subscriptions">
        <div class="content">
            <div class="leftContent">
                <p class="introduction">
                    Подпишитесь на уведомления о новых акциях и появлении новых компаний,
                    связанных с интересующими вас марками автомобилей — включая,
                    но не ограничиваясь теми, которые указаны у вас в гараже.
                </p>
                <div class="add-block">
                    <h3>Подписки на компании</h3>
                    <ul id="company-list">
                        {% for subscription in companySubscriptions %}
                            <li>
                                {{ subscription.mark.name }}
                            </li>
                        {% endfor %}
                    </ul>
                    <div id="company-modal" class="reveal-modal"><!-- popUp firstReg-->
                        <a href="#" class="close-reveal-modal closeModal"></a>
                        {% render(controller('StoContentBundle:Subscription:renderCompanySubscriptionForm', {subscriptions: companySubscriptions})) %}
                        <div class="bottomContent modificationBottomContent">
                            <a href="#" class="closeModal btnBottomContent addPhotoBtn bttn saveBttn">Сохранить</a>
                        </div>
                    </div>
                    <a class="addSubscription addPhotoBtn bttn" href="#" data-type="company"><i class="plusIconWhite"></i>Добавить</a>
                </div>
                <div class="add-block">
                    <h3>Подписки на акциии</h3>
                    <ul id="deal-list">
                        {% for subscription in dealSubscriptions %}
                            <li>
                                {{ subscription.mark.name }}
                            </li>
                        {% endfor %}
                    </ul>
                    <div id="deal-modal" class="reveal-modal"><!-- popUp firstReg-->
                        <a href="#" class="close-reveal-modal closeModal"></a>
                        {% render(controller('StoContentBundle:Subscription:renderDealSubscriptionForm', {subscriptions: dealSubscriptions })) %}
                        <div class="bottomContent modificationBottomContent">
                            <a href="#" class="closeModal btnBottomContent addPhotoBtn bttn saveBttn">Сохранить</a>
                        </div>
                    </div>
                    <a class="addSubscription addPhotoBtn bttn" href="#" data-type="deal"><i class="plusIconWhite"></i>Добавить</a>
                </div>
            </div>
        </div>
        <div class="rightContent"></div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.addSubscription').each(function(i, el) {
                var $t = $(el),
                    type = $t.data('type'),
                    modal = $('#' + type + '-modal');

                $t.on('click', function (e) {
                    e.preventDefault();
                    modal.reveal({dismissmodalclass: 'closeModal'});
                });

                modal.on('click', '.saveBttn', function (e) {
                    e.preventDefault();

                    var form = modal.find('form').first(),
                        data = form.serialize();

                    $.ajax({
                        url: "{{ path('subscription_store') }}",
                        method: 'POST',
                        data: data,
                        success: function(data) {
                            $('#' + type + '-list').append(data.html);
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
