{% if app.user is not null and is_granted("ROLE_USER") %}
    <div class="accountCont">
    <a class="userImg btnUser" href="#">
    {%- if user.avatarUrl %}
        {% set userPhoto = 'storage/images/user_photo/' ~ user.avatarUrl %}
        <img src="{{ userPhoto | imagine_filter('user_login_avatar') }}" alt="фото пользователя" />
    {% else %}
        <img src="{{ '/bootstrap/img/default_user_avatar.png' | imagine_filter('user_login_avatar') }}" alt="фото пользователя" />
    {% endif -%}
    </a>
    <p class="userName btnUser">{{ user.firstName }}</p>
    <p class="userInfo">{{ user.ratingGroup }}<span class="userInfoLevel"><span class="indexbg"></span>{{ user.rating }}</span></p>
    <div class="userDropdown">
        <div id="myCanvasTop" class="myCanvasTop"></div>
        <p class="popUpTitle">Ваш личный профиль</p>
        <ul class="userProfilCont">
            <li class="userProfilItem">
                <i class="iconProfilGray"></i>
                <a href="{{ path('fos_user_profile_show') }}" class="google-blue">Профиль</a>
            </li>
            <li class="userProfilItem">
                <i class="iconRemovReviewGray"></i>
                <a href="{{ path('fos_user_profile_show') }}#feedbacks" class="facebook-blue">Ответы на отзыв</a>
                <span class="amountProfil">{{ user.feedbackAnswers|length }}</span>
            </li>
        </ul>
        {% if user.companyManager is not empty %}
            {% for company in user.companyManager %}
                <p class="popUpTitle">{{ company.company.name }}</p>
                <ul class="userProfilCont">
                    <li class="userProfilItem">
                        <i class="iconProfilGray"></i>
                        <a href="{{ path('content_company_show', { "id": company.company.id }) ~ '#information' }}" class="google-blue">Профиль</a>
                    </li>
                    <li class="userProfilItem">
                        <i class="iconReviewGray"></i>
                        <a href="{{ path('content_company_show', { "id": company.company.id }) ~ '#feedbacks' }}" class="facebook-blue">Отзывы</a>
                    </li>
                    <li class="userProfilItem">
                        <i class="iconActionGray"></i>
                        <a href="{{ path('content_company_show', { "id": company.company.id }) ~ '#deals' }}" class="facebook-blue">Акции</a>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
        <p class="userDropBot"><a href="{{ path('fos_user_security_logout') }}" class="btnExit primaryLink regisrationLink">Выйти</a></p>
    </div>
</div>
{% else %}
<div id="accountUnIdentified" class="accountCont">
    <span class="enter">Войти в профиль<i class="iconarrow"></i></span>
    <a href="#" class="registration regisrationLink" data-reveal-id="registration-popup">Регистрация</a>
    <div id="loginFormWrapper">{% render controller('StoUserBundle:User:userLogin') %}</div>
</div>
<script>
    $(document).ready(function(){
        $('#accountUnIdentified').on('submit', 'form', function(e){
            e.preventDefault();
            var $this = $(this),
                $loginFormWrapper = $('#loginFormWrapper');

            $.ajax({
                type: "POST",
                url: $this.attr('action'),
                data: $this.serialize(),
                success: function(responce) {
                    if (responce.indexOf('<!DOCTYPE HTML>') == 0) {
                        window.location.reload();
                    } else {
                        $loginFormWrapper.html(responce);
                    }
                }
            });
        });
    });
</script>
{% endif %}
