{% extends 'StoContentBundle::layout.html.twig' %}
{% form_theme form with 'StoContentBundle::formTheming.html.twig' %}
{% from 'StoContentBundle::flash.html.twig' import flash %}

{% block title %}
    {{ parent() }}
     - регистрация компании
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/styleCompany.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/style-registration-company.css') }}"/>
{% endblock %}

{% block pageTitle %}
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        <h1 class="titleNameCompany">Регистрация компании</h1>
    </div>
</div>
{% endblock %}
{% block search %}{% endblock %}

{% block content %}
<section class="contentMain  row">
    <div class="content">
        <ul class="stepRegistration">
            <li class="stepRegistrationItem firstStepActive"><a href="#" class="stepLink">Личные данные</a></li>
            <li class="stepRegistrationItem centerStep"><a href="#" class="stepLink">Общие сведения </a></li>
            <li class="stepRegistrationItem centerStep"><a href="#" class="stepLink">Профиль деятельности</a></li>
            <li class="stepRegistrationItem centerStep"><a href="#" class="stepLink">Контактные данные</a></li>
            <li class="stepRegistrationItem endStep"><a href="#" class="stepLink">Фотографии</a></li>
        </ul>
        <div class="leftRegistrationCompany">
            <h2 class="titleRegistrationCompany">Зарегистрировать профиль на best4car.ru</h2>
            <form name="register-form" action="{{ path('registration_company_owner_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" id="registerForm">
                {{ form_row(form.firstName, { attr: {class: "inputFormEnter span6" } }) }}
                {{ form_row(form.lastName, { attr: {class: "inputFormEnter span6" } }) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.city) }}
                {{ form_row(form.captcha) }}
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="rightRegistrationCompany">
            {% if app.user %}
                <p class="popUpTitle">Войти на best4car.ru</p>
                <div class="blockEnter">
                    <p class="popUpTitle">Вы уже авторизованы на сайте</p>
                    <a href="{{ path('add_company') }}" class="btnEnter">Продолжить</a>
                </div>
            {% else %}
                <p class="popUpTitle">Войти на best4car.ru</p>
                <div class="blockEnter">
                    <form action="{{ path("content_register_company_with_owner") }}" method="post">
                        {% if errorFlag is defined and errorFlag %}
                            {{ flash('error', errors|trans, false, true) }}
                        {% endif %}
                        <p class="contentLabel">
                            <label>Email</label>
                            <input type="text" class="inputFormEnter" id="username" name="_username" value="{% if last_username is defined %}{{last_username}}{% endif %}" />
                        </p>
                        <p class="contentLabel">
                            <label>Пароль</label>
                            <input type="password" class="inputFormEnter" id="password" name="_password" />
                        </p>
                        <button class="btnEnter" type="submit">Войти</button>
                        <p class="secondaryLink forgotPass">Забыли пароль?</p>
                    </form>
                </div>
                <p class="popUpTitle">Войти используя аккаунт соц. сетей</p>
                <ul class="infoCompanySocialNet">
                    <li class="infoCompanySocialNetItem">
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte', 'email':'papvann@gmail.com' }) }}" alt="Войти через Вконтакте" title="Sign in with Vkontakte"><i class="vk-blue"></i>Вконтакте</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="bottomContent">
            <span class="btnNext addPhotoBtn" id="submitRegisterForm">Продолжить</span>
        </div>
    </div>
</section>
{% endblock %}
