{% extends 'StoContentBundle::layout.html.twig' %}

{% form_theme cForm with 'StoContentBundle::formTheming.html.twig' %}

{% block title %}
    {{ parent() }}
     - регистрация компании
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/styleCompany.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/style-registration-company.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/custom.validation.js') }}"></script>
{% endblock %}

{% block pageTitle %}
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        <h1 class="titleNameCompany">Регистрация компании</h1>
    </div>
</div>
{% endblock %}
{% block search %}{% endblock %}

{% block content %}
<section class="contentMain  row">
    <div class="content">
        <form name="register-form" action="{{ path('registration_company_create', {'id':user}) }}" method="post" {{ form_enctype(cForm) }} class="form-horizontal">
        <ul class="stepRegistration" id="stepRegistration">
            <li class="stepRegistrationItem firstStep"><span class="stepLink">Личные данные</span></li>
            <li class="stepRegistrationItem centerStep active"><a href="#general-data" data-content="#general-data" data-toggle="tab" class="stepLink">Общие сведения</a></li>
            <li class="stepRegistrationItem centerStep" id="business-profile-tab"><a href="#business-profile" data-content="#business-profile" data-toggle="tab" class="stepLink">Профиль деятельности</a></li>
            <li class="stepRegistrationItem centerStep" id="contact-info-tab"><a href="#contact-info" data-content="#contact-info" data-toggle="tab" class="stepLink">Контактные данные</a></li>
            <li class="stepRegistrationItem endStep" id="photo-tab"><a href="#photos" data-content="#photos" data-toggle="tab" class="stepLink">Фотографии</a></li>
        </ul>

    <div class="tab-content">
        {# General data #}
        <div class="tab-pane active" id="general-data">
            <div class="row-fluid">
                <div class="span10">
                    {{ form_row(cForm.fullName) }}
                    {{ form_errors(cForm.fullName) }}
                    {{ form_row(cForm.name) }}
                    {{ form_errors(cForm.name) }}
                    {{ form_row(cForm.slogan) }}
                    {{ form_errors(cForm.slogan) }}
                    <div class="contentLabel clear">
                        {{ form_label(cForm.createtDate) }}
                        <div id="datetimepicker1" class="input-append">
                            {{ form_widget(cForm.createtDate) }}
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                </i>
                            </span>
                        </div>
                    </div>
                    {{ form_errors(cForm.createtDate) }}
                    <div class="contentLabelNoOverflow">
                        {{ form_label(cForm.city) }}
                        {{ form_widget(cForm.city) }}
                    </div>
                    <br>
                    <div class="addLogo clear">
                        {{ form_label(cForm.logo) }}
                        <div class="addLogoImgWrap">
                            <div class="addLogoImg" id='picture-preview-wrapper'></div>
                        </div>
                        <div class="adminBlockImg span6">
                            {{ form_widget(cForm.logo) }}
                            <span class="addPhotoBtn">Загрузить изображение<i class="addPhoto"></i></span>
                            <p class="additionalInfo">Формат: JPEG, PNG, GIF не более 1Мб</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomContent">
                <span class="alertSelect hide">Необходимо заполнить все обязательные поля</span>
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn" data-next="#business-profile">Продолжить</a>
            </div>
        </div>
        {# EOF General data #}
        {# Buisinesss profile #}
        <div class="tab-pane" id="business-profile">
            <div class="contentLabel clear contentLabelNoOverflow">
                {{ form_label(cForm.specialization) }}
                <div class="basket__cont__body__bottom__paper">
                    {{ form_widget(cForm.specialization) }}
                </div>
            </div>
            <div class="contentLabel clear contentLabelNoOverflow">
                {{ form_label(cForm.services) }}
                <div class="basket__cont__body__bottom__paper">
                    {{ form_widget(cForm.services) }}
                </div>
            </div>
            <div class="contentLabel marginBottom clear">
                {{ form_label(cForm.additionalServices) }}
                <ul class="additionalServ">
                {% for service in cForm.additionalServices %}
                    <li class="additionalServItem span3">
                        {{ form_widget(service) }}
                        <span></span>{{ form_label(service) }}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="bottomBlock">
                <div class="contentLabel costHour" id="costHour">
                    {{ form_label(cForm.hourPrice) }}
                    {{ form_widget(cForm.hourPrice) }}
                    <div class="lineForm costSelect">
                        {{ form_widget(cForm.currency) }}
                    </div>
                </div>
                <div class="addDescriptionInfo">
                    <div class="contentLabel contentLabelNoOverflow">
                        {{ form_errors(cForm.notes) }}
                        {{ form_label(cForm.notes) }}
                        {{ form_widget(cForm.notes) }}
                    </div>
                </div>
            </div>
            <div class="bottomContent">
                <span class="alertSelect hide">Необходимо заполнить все обязательные поля</span>
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn" data-next="#contact-info">Продолжить</a>
                <a href="#" data-toggle="tab" class="btnNext btnPrev addPhotoBtn" data-next="#general-data">Назад</a>
            </div>
        </div>
        {# EOF Buisinesss profile #}
        {# Contact info #}
        <div class="tab-pane" id="contact-info">
            <div class="leftContaktDate">
                <div class="contentLabel marginBottom">
                    {{ form_label(cForm.address) }}
                    {{ form_widget(cForm.address) }}
                </div>
                <div class="contentLabel marginBottom">
                    {{ form_label(cForm.gps) }}
                    {{ form_widget(cForm.gps) }}
                    <a href="#" class="linkUnder" id="activateMap" data-reveal-id="yandexMapModal">Установить отметку на карте</a>
                </div>
                <div class="contentLabel marginBottom">
                    <label>Контактные телефоны</label>
                    <div id="phoneAddWrapper" data-prototype="{{ form_widget(cForm.phones.vars.prototype)|e }}"></div>
                    {{ form_row(cForm.phones) }}
                    <script>
                        var phoneCollectionHolder = $('#phoneAddWrapper');
                        var $phoneAddTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                        var $phoneNewLink = $('<div class="contactDate"></div>').append($phoneAddTagLink);
                        jQuery(document).ready(function() {
                            phoneCollectionHolder.append($phoneNewLink);
                            phoneCollectionHolder.data('index', phoneCollectionHolder.find(':input').length);

                            $phoneAddTagLink.on('click', function(e) {
                                e.preventDefault();
                                addTagForm(phoneCollectionHolder, $phoneNewLink, true);
                            });
                        });
                    </script>
                </div>
                <div class="contentLabel marginBottom">
                    <label>Время работы</label>
                    <p class="additionalInfo">Укажите дни и время работы в них. Если у вас разные режимы в разные дни - добавьте несколько условий.</p>
                    <div id="workTimeAddWrapper" data-prototype="{{ form_widget(cForm.workingTime.vars.prototype)|e }}"></div>
                    {{ form_row(cForm.workingTime) }}
                    <script>
                        var collectionHolder = $('#workTimeAddWrapper');
                        var $addTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                        var $newLink = $('<div class="contactDate"></div>').append($addTagLink);
                        jQuery(document).ready(function() {
                            collectionHolder.on('click', '.deleteElement', function() {
                                alert('хуялерт')
                                $(this).parents('.contactDate').remove();
                            });
                            collectionHolder.append($newLink);
                            collectionHolder.data('index', collectionHolder.find(':input').length);

                            $addTagLink.on('click', function(e) {
                                e.preventDefault();
                                $deleteLink = $('<i class="icon-remove-circle deleteElement"></i>')
                                addTagForm(collectionHolder, $newLink, false, $deleteLink);
                            });
                        });
                    </script>
                </div>
                <div class="contentLabel marginBottom">
                    <label>Менеджеры компании</label>
                    <p class="additionalInfo">Вы можете указать других менеджеров компании. Они должны быть зарегестрированны на сайте.</p>
                    <div id="managerAddWrapper" data-prototype="{{ form_widget(cForm.companyManager.vars.prototype)|e }}"></div>
                    {{ form_row(cForm.companyManager) }}
                    <script>
                        var managerCollectionHolder = $('#managerAddWrapper');
                        var $managerAddTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>');
                        var $managerNewLink = $('<div class="contactDate"></div>').append($managerAddTagLink);
                        jQuery(document).ready(function() {
                            managerCollectionHolder.append($managerNewLink);
                            managerCollectionHolder.data('index', managerCollectionHolder.find(':input').length + 1);

                            $managerAddTagLink.on('click', function(e) {
                                e.preventDefault();
                                addTagForm(managerCollectionHolder, $managerNewLink, true);
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="rightContaktDate">
                <p class="contentLabel rightContaktItem">
                    <label>Сайт</label>
                    {{ form_widget(cForm.web) }}
                </p>
                <p class="contentLabel rightContaktItem">
                    <label>Skype</label>
                    {{ form_widget(cForm.skype) }}
                </p>
                <p class="contentLabel rightContaktItem">
                    <label>Email</label>
                    {{ form_widget(cForm.email) }}
                </p>
                <div class="contentLabel rightContaktItem">
                    <label>VKontakte</label>
                    <p class="maskInput rightMask"><span>www.vk.com/</span>
                        {{ form_widget(cForm.linkVK) }}
                    </p>
                </div>
                <div class="contentLabel rightContaktItem">
                    <label>Twitter</label>
                    <p class="maskInput rightMask"><span>www.twitter.com/</span>
                        {{ form_widget(cForm.linkTW) }}
                    </p>
                </div>
                <div class="contentLabel rightContaktItem">
                    <label>Facebook</label>
                    <p class="maskInput rightMask"><span>www.facebook.com/</span>
                        {{ form_widget(cForm.linkFB) }}
                    </p>
                </div>
            </div>
            <div class="bottomContent">
                <span class="alertSelect hide">Необходимо заполнить все обязательные поля</span>
                <a href="#" data-toggle="tab" class="btnNext addPhotoBtn" data-next="#photos">Продолжить</a>
                <a href="#" data-toggle="tab" class="btnNext btnPrev addPhotoBtn" data-next="#business-profile">Назад</a>
            </div>
        </div>
        {# EOF Contact info #}
        <div class="tab-pane" id="photos">
            <p class="additionalInfo">Хорошие фотографии вашего офиса, цехов и персонала помогут привлечь внимание посетителей к вашей компании.</p>
            <p class="additionalInfo">Тип файла JPG или PNG, размер не более 3 Мб, соотношение сторон 16:9</p>
            <div id="photoAddWrapper" data-prototype="{{ form_widget(cForm.gallery.vars.prototype)|e }}"></div>
            {{ form_row(cForm.gallery) }}
            <script>
                var photoCollectionHolder = $('#photoAddWrapper'),
                    $photoAddTagLink = $('<span class="addImg">Добавить<i class="icon-ok-sign"></i></span>'),
                    $photoNewLink = $('<div class="photoDateItem"></div>').append($photoAddTagLink);

                jQuery(document).ready(function() {
                    photoCollectionHolder.append($photoNewLink);
                    photoCollectionHolder.data('index', photoCollectionHolder.find(':input').length);

                    $photoAddTagLink.on('click', function(e) {
                        e.preventDefault();
                        $deleteLink = $('<i class="icon-remove-circle deleteElement"></i>')
                        addTagForm(photoCollectionHolder, $photoNewLink, true, $deleteLink);
                    });
                });

                jQuery(document).ready(function() {
                    $('#photoAddWrapper').on('click', '.deleteElement', function(){
                        $(this).parent().remove();
                    });
                });

                $(document).ready(function(){
                    $('#photoAddWrapper').on('change', 'input[type="file"]', function(){
                        var reader = new FileReader(),
                            $this = $(this);

                        reader.onload = function (e) {
                            if ($this.prev('.photoDateImg')) {
                                $this.prev('.photoDateImg').remove();
                                $this.removeClass('hiddenFotoUpload');
                            }
                            wrapper = $('<div class="photoDateImg"><img src="'+e.target.result+'"><i class="editImg"></i></div>');
                            $this.before(wrapper);
                            $this.addClass('hiddenFotoUpload');
                        };

                        reader.readAsDataURL($(this)[0].files[0]);
                    });
                });
            </script>
            <div class="bottomContent">
                <button type="submit" class="btnNext addPhotoBtn">Завершить</button>
                <a href="#" data-toggle="tab" class="btnNext btnPrev addPhotoBtn" data-next="#contact-info">Назад</a>
            </div>
        </div>
    </div>
    <div id="sepcializationModal" class="reveal-modal sepcializationModal">
        <a href="#" class="close-reveal-modal"></a>
        <p class="popUpTitle">Основная специализация</p>
        <div class="wrapper" data-type="specialization">
            {{ form_widget(cForm.specialization) }}
        </div>
        <a href="#" class="btnNext addPhotoBtn" id="specializationSave" data-container="specializationContainer">Сохранить</a>
    </div>
    <div id="serviceModal" class="reveal-modal serviceModal">
        <a href="#" class="close-reveal-modal"></a>
        <p class="popUpTitle">Услуги</p>
        <div class="wrapper" data-type="service">
            {{ form_widget(cForm.services) }}
        </div>
        <a href="#" class="btnNext addPhotoBtn" id="serviceSave" data-container="serviceContainer">Сохранить</a>
    </div>
    <div id="yandexMapModal" class="reveal-modal yandexMapModal"><!-- popUp firstReg-->
        <a href="#" class="close-reveal-modal"></a>
        <div class="slidCont">
            <div id="myMap" style="height:400px;width:670px;left:5px" ></div>
        </div>
        <span class="btnNext addPhotoBtn" id="saveMapCoordinates">Выбрать</span>
    </div>
    <script>
        $(document).ready(function(){
            (function(){
                $('.chzn-select').chosen();
                $('.chosen-multiple').chosen();
            })();

            ymaps.ready(init);
            var gCollection;
            var gps;
            var addressName = '';
            function init() {
                mapCompany = new ymaps.Map ("myMap", {
                    center: [59.933373, 30.357903],
                    zoom: 10,
                    behaviors: ["default", "scrollZoom"]
                });
                attachReverseGeocode(mapCompany);
                function attachReverseGeocode(myMap) {
                    myMap.events.add('click', function (e) {
                        var coords = e.get('coordPosition');
                        if (gCollection != null) { myMap.geoObjects.remove(gCollection);};
                        ymaps.geocode(coords).then(function (res) {
                            var names = [];
                            res.geoObjects.each(function (obj) {
                                names.push(obj.properties.get('name'));
                            });
                            gCollection = new ymaps.Placemark(coords, {
                                    iconContent: names[0],
                                    balloonContent: names.reverse().join(', ')
                                },
                                {preset:'twirl#redStretchyIcon', balloonMaxWidth:'250'}
                            );
                            myMap.geoObjects.add(gCollection);
                            gps = coords;

                            addressName = '';
                            for (key in names){
                                if (2 != key) {
                                    addressName = addressName + names[key] + ", "
                                }
                            }
                            addressName = $.trim(addressName);
                            lastIndex = addressName.lastIndexOf(',');
                            if (lastIndex == addressName.length - 1) {
                                addressName = addressName.substring(0, lastIndex);
                            }
                        });
                    });
                }
            }

            $('#saveMapCoordinates').on('click', function(){
                $(this).parent().trigger('reveal:close');
                $('#sto_content_company_registration_gps').val(gps);
                $('#sto_content_company_registration_gps').trigger('change');
                $('#activateMap').html('Изменить отметку на карте');
            });
        });

        function addTagForm(collectionHolder, $newLink, isUnwrap, deleteLink) {

            deleteLink = typeof deleteLink !== 'undefined' ? deleteLink : false;

            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            var $newForm = $('<div class="contactDate"></div>');
            if (isUnwrap) {
                var newestForm = $(newForm).find('.contentLabel').children().unwrap();
                newestForm.each(function(){
                    $newForm.append($(this));
                });
            } else {
                var newestForm = $(newForm);
                newestForm.find('p.contentLabel').children().unwrap();
                newestForm.find('.inputTime').wrap('<div class="input-append dateLeft" />').after('<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-time"></i></span>');
                $newForm.append(newestForm);
                timeInput = $newForm.find('.dateLeft');
                timeInput.each(function(index, element){
                    $(element).datetimepicker({
                        pickDate: false
                    });
                });
            }

            if (deleteLink) {
                $newForm.append(deleteLink);
                $newForm.append($('<div class="clear">'));
            }

            collectionHolder.data('index', index + 1);
            $newLink.before($newForm);
        }
    </script>
    {{ form_rest(cForm) }}
    </form>
</div>
</section>

<script>
    $(function() {
        var additionalServices = {};
        {% for service in additionalServiceTypes %}
            {% if service.iconNameSmall %}
                additionalServices[{{ service.id }}] = '/storage/images/company_icon/{{ service.iconNameSmall }}';
            {% endif %}
        {% endfor %}

        $('.additionalServItem').each(function() {
            var service_id = $(this).find('input').val();
            if (additionalServices[service_id])
                $(this).find('span').css('background', 'none').html('<img src="'+ additionalServices[service_id] + '"/>');
        });

    });
</script>
{% endblock %}
