{% form_theme form with 'StoContentBundle::captchaTheming.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }}>
    <p class="contentLabel">
        {{ form_label(form.firstName) }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName) }}
    </p>
    <p class="contentLabel">
        {{ form_label(form.lastName) }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName) }}
    </p>
    <p class="contentLabel">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </p>
    <p class="contentLabel">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </p> 
    <p class="contentLabel">{{ form_row(form.plainPassword) }}</p>
    <p class="contentLabel">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </p>
    <p class="contentLabel">
        {{ form_label(form.captcha) }}
        {{ form_errors(form.captcha) }}
        {{ form_widget(form.captcha) }}
    </p>
    <p class="contentLabel">{{ form_widget(form) }}</p>
    <p class="contentLabel">{{ form_row(form.lastName) }}</p>
    <p class="contentLabel">{{ form_row(form.username) }}</p>
    <p class="contentLabel">{{ form_row(form.email) }}</p>
    <p class="contentLabel">{{ form_row(form.plainPassword) }}</p>
    <p class="contentLabel">{{ form_row(form.city) }}</p>
    <p class="contentLabel">{{ form_row(form.captcha) }}</p>
    <p class="contentLabel">{{ form_widget(form) }}</p>
    <div>
        <button class="btnEnter" type="submit">Войти</button>
        <p class="attentionReg">Регистрируясь, вы соглашаетесь </br>с <a href="#">условиями использования сайта</a></p>
    </div>
</form>
