{% extends 'StoContentBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}регистрация компании{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<style type="text/css">
    a.disabled {
        color: gray;
    }
</style>
<form name="register-form" action="{{ path('registration_company_create', {'id':user}) }}" method="post" {{ form_enctype(cForm) }} class="form-horizontal">
<ul class="nav nav-tabs" id="registerTab">
    <li style="padding: 8px 10px;">
        <span>Личные данные</span>
    </li>
    <li class="active">
        <a href="#general-data" data-content="#general-data" data-toggle="tab">
{% if form_errors(cForm.fullName) or form_errors(cForm.name) or form_errors(cForm.slogan) or form_errors(cForm.createtDate) or form_errors(cForm.logo) or form_errors(cForm.city) or form_errors(cForm.gps) %}
                <i class="icon-b4c-cancel" style="color:red;"></i>
{% endif %}
            Общие сведения
        </a>
    </li>
    <li>
        <a href="#business-profile" data-content="#business-profile" data-toggle="tab">
{% if form_errors(cForm.specialization) or form_errors(cForm.services) or form_errors(cForm.additionalServices) or form_errors(cForm.hourPrice) or form_errors(cForm.currency) or form_errors(cForm.notes) %}
                <i class="icon-b4c-cancel" style="color:red;"></i>
{% endif %}
            Профиль деятельности
        </a>
    </li>
    <li>
        <a href="#contact-info" data-content="#contact-info" data-toggle="tab">
{% if form_errors(cForm.address) or form_errors(cForm.phones) or form_errors(cForm.workingTime) or form_errors(cForm.web) or form_errors(cForm.email) or form_errors(cForm.skype) %}
                <i class="icon-b4c-cancel" style="color:red;"></i>
{% endif %}
            Контактные данные
        </a>
    </li>
    <li><a href="#photos" data-content="#photos" data-toggle="tab">Фотографии</a></li>
</ul>
<div class="tab-content">
    <div class="row-fluid">
{% if form_errors(cForm) %}
        <div class="span10 alert alert-error">
            {{ form_errors(cForm) }}
        </div>
{% endif %}
    </div>
    <div class="tab-pane active" id="general-data">
            <div class="row-fluid">
                <div class="span10">
                    {{ form_row(cForm.fullName) }}
                    {{ form_errors(cForm.fullName) }}
                    {{ form_row(cForm.name) }}
                    {{ form_errors(cForm.name) }}
                    {{ form_row(cForm.slogan) }}
                    {{ form_errors(cForm.slogan) }}
                    {{ form_row(cForm.web) }}
                    {{ form_errors(cForm.web) }}
                    {{ form_row(cForm.createtDate) }}
                    {{ form_errors(cForm.createtDate) }}
                    {{ form_row(cForm.city) }}
                    {{ form_errors(cForm.city) }}
                    {{ form_row(cForm.logo) }}
                    {{ form_errors(cForm.logo) }}
                    {{ form_row(cForm.gps) }}
                    {{ form_errors(cForm.gps) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <a href="#business-profile" class="btn pull-right" data-toggle="tab">Следующий шаг</a>
                </div>
            </div>
        </div>
        {# EOF General data #}
        {# Buisinesss profile #}
        <div class="tab-pane" id="business-profile">
            <div class="row-fluid">
                <div class="span10">
                    <div class="row-fluid">
                        <div class="span12">
                            {{ form_row(cForm.specialization) }}
                            {{ form_errors(cForm.specialization) }}
                            {{ form_row(cForm.services) }}
                            {{ form_errors(cForm.services) }}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            {{ form_row(cForm.additionalServices) }}
                            {{ form_errors(cForm.additionalServices) }}
                        </div>
                        <div class="span6">
                            {{ form_row(cForm.hourPrice) }}
                            {{ form_errors(cForm.hourPrice) }}
                            {{ form_row(cForm.currency) }}
                            {{ form_errors(cForm.currency) }}
                            {{ form_row(cForm.notes) }}
                            {{ form_errors(cForm.notes) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <a href="#contact-info" class="btn pull-right" data-toggle="tab">Следующий шаг</a>
                    <a href="#general-data" class="btn pull-right" data-toggle="tab">Назад к предыдущему шагу</a>
                </div>
            </div>
        </div>
        {# EOF Buisinesss profile #}
        {# Contact info #}
        <div class="tab-pane" id="contact-info">
            <div class="row-fluid">
                <div class="span6">
                    <h4>Адрес:</h4>
                    {{ form_widget(cForm.address) }}
                    {{ form_errors(cForm.address) }}
                    <h4>Контактные телефоны:</h4>
                    {{ form_row(cForm.phones) }}
                    {{ form_errors(cForm.phones) }}
                    <h4>Время работы:</h4>
                    <span>Укажите дни и время работы в них. Если у вас разные режимы в разные дни — добавьте несколько условий</span>
                    {{ form_row(cForm.workingTime) }}
                    {{ form_errors(cForm.workingTime) }}
                </div>
                <div class="span6 form-horizontal">
                    <h4>Интернет-контакты:</h4>
                    {{ form_row(cForm.linkVK) }}
                    {{ form_errors(cForm.linkVK) }}
                    {{ form_row(cForm.linkFB) }}
                    {{ form_errors(cForm.linkFB) }}
                    {{ form_row(cForm.linkTW) }}
                    {{ form_errors(cForm.linkTW) }}
                    {{ form_row(cForm.skype) }}
                    {{ form_errors(cForm.skype) }}
                    {{ form_row(cForm.web) }}
                    {{ form_errors(cForm.web) }}
                    {{ form_row(cForm.email) }}
                    {{ form_errors(cForm.email) }}
                    {{ form_row(cForm.contacts) }}
                    {{ form_errors(cForm.contacts) }}
                    <h4>Менеджеры компании:</h4>
                    <span>Вы можете указать других (кроме себя) менеджеров компании. Они должны уже быть зарегистрированы на сайте.</span>
                    {{ form_row(cForm.companyManager) }}
                    {{ form_errors(cForm.companyManager) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <a href="#photos" class="btn pull-right" data-toggle="tab">Следующий шаг</a>
                    <a href="#business-profile" class="btn pull-right" data-toggle="tab">Назад к предыдущему шагу</a>
                </div>
            </div>
        </div>
        {# EOF Contact info #}
        <div class="tab-pane" id="photos">
            <div class="row-fluid">
                <div class="span10">
                    <span>Хорошие фотографии вашего офиса, цехов и персонала помогут привлечь внимание посетителей к вашей компании</span>
                    {{ form_row(cForm.gallery) }}
                    {{ form_errors(cForm.gallery) }}
                    {{ form_widget(cForm) }}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <input type="submit" class="btn pull-right" value="Зарегистрироваться" />
                    <a href="#contact-info" class="btn pull-right" data-toggle="tab">Назад к предыдущему шагу</a>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<div id="myModal" class="modal hide fade" style = "width:720px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body ">
      <div id="myMap" style="height:400px;width:670px ;left:5px" ></div>
    </div>
    <div class="modal-footer" >
        <a href="#" id="save_madal"  class="btn btn-primary">Save</a>
    </div>
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
{% javascripts
    'bundles/stocore/js/select2.js'
    'bundles/stocore/js/bootstrap-inputmask.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var gCollection;
    var gps;
    function init() {
        mapCompany = new ymaps.Map ("myMap", {
            center: [59.933373, 30.357903],
            zoom: 10,
            behaviors: ["default", "scrollZoom"]
        });
        attachReverseGeocode(mapCompany);
        function attachReverseGeocode(myMap) {
            myMap.events.add('click', function (e) {
                var coords = e.get('coordPosition');
                if (gCollection != null) { myMap.geoObjects.remove(gCollection);};
                ymaps.geocode(coords).then(function (res) {
                    var names = [];
                    res.geoObjects.each(function (obj) {
                        names.push(obj.properties.get('name'));
                    });
                    gCollection = new ymaps.Placemark(coords, {
                            iconContent: names[0],
                            balloonContent: names.reverse().join(', ')
                        },
                        {preset:'twirl#redStretchyIcon', balloonMaxWidth:'250'}
                    );
                    myMap.geoObjects.add(gCollection);
                    gps = coords;
                });
            });
        }
    }

    $("#save_madal").click(function () {
        document.getElementById("sto_content_company_registration_gps").value =gps
        $('#myModal').modal('hide');
    });

    $(".select2").select2();
    $('#registerTab a:first').tab('show');
    $('a.disabled').click(function () {
        return false;
    });

    /*$('#sto_content_company_registration_specialization').change(function () {
        var specialization = $(this).val();
        $.getJSON("{{ path('company_specialization') }}", {'specialization': specialization},
            function (data) {
                $("#sto_content_company_registration_services").empty();
                $('.select2').select2("destroy")
                $(".select2").select2({});
                $.each(data, function (key, val) {
                    name = val['name']
                    id = val['id']
                    $("#sto_content_company_registration_services").append('<option value="'+id+'">'+name+'</option>');
                });
            }
        )
    });*/

    $('a[data-toggle="tab"]').click(function () {
        $('div.control-group').attr('class', 'control-group');
        var next_tab_name = $(this).attr('href').substring(1, $(this).attr('href').length);
        var tab = $('ul#registerTab li.active a').data('content');
        var current_tab = tab.substring(1, tab.length);
        var errorFlag = false;

        $('div#'+current_tab+' input').each(function (n, element) {
            console.log($(element).attr('name')+': ', $(element).val());
            var flag = false;
            if ($(element).attr('required')=='required' && $(element).val().length<1) {
                if (!flag) $(element).focus();
                flag = true;
                var elem_id = $(element).attr('id');
                $('div#'+elem_id+'_control_group').attr('class', 'control-group error');
                errorFlag = true;
            }
        });
        $('div#'+current_tab+' select').each(function (n, element) {
            if ($(element).attr('required')=='required' && $(element).val()==null) {
                var elem_id = $(element).attr('id');
                $('div#'+elem_id+'_control_group').attr('class', 'control-group error');
                errorFlag = true;
            }
        });
        if (!errorFlag) {
             $('ul#registerTab a[data-content="#'+next_tab_name+'"]').tab('show');
        }

        return false;
    });
</script>
{% endblock %}

{% block head_style %}
{{parent()}}
{% stylesheets filter='cssrewrite'
    'bundles/stocore/css/select2.css'
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock %}
