{% form_theme form with 'StoContentBundle::formTheming.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }} id="register-form">
    {{ form_errors(form) }}
    <div class="contentLabel rowColumns">
        {{ form_row(form.firstName) }}
    </div>
    <p class="contentLabel">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </p>
    <p class="contentLabel">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </p>
    <div class="contentLabel rowColumns">{{ form_row(form.plainPassword) }}</div>
    <p class="contentLabel">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </p>
    <p class="contentLabel">
        {{ form_label(form.captcha) }}
        {{ form_errors(form.captcha) }}
        {{ form_widget(form.captcha, {attr: {class: 'addFloat'}}) }}
    </p>
    {{ form_rest(form) }}
    <div>
        <button class="btnEnter" type="submit">Войти</button>
        <p class="attentionReg">Регистрируясь, вы соглашаетесь </br>с <a href="{{ path('info_show', { "name": 'useRules' }) }}">условиями использования сайта</a></p>
    </div>
</form>
<div class="enterCocial">
    <span class="popUpTitle2">Зарегистрироваться используя аккаунт соц. сетей</span>
    <ul class="enterCocialIcon">
        <li class="enterCocialIconItem">
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Войти через Вконтакте" title="Sign in with Vkontakte" class="vk-blue">Вконтакте</a>
        </li>
    </ul>
</div>
