<form id="personal-data-form">
    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName) }}
    {{ form_widget(form.username) }}
    {{ form_widget(form.birthDate) }}
    {{ form_widget(form.city) }}
</form>
