{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Список отзывов{% endblock %}

{% block header %}<h3>{{ block('title') }}</h3>{% endblock %}

{% block content %}
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

<form action="{{ path('feedback_filter') }}" method="post" id="filter-form" class="form-inline">
    <div class="row-fluid">
        <div class="span3">
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-plus icon-white"></i> Создать новый отзыв
                    <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('feedbacks_new', {'feedback':'company'}) }}">Создать новый отзыв компании</a></li>
                <li><a href="{{ path('feedbacks_new', {'feedback':'deal'}) }}">Создать новый отзыв акции</a></li>
              </ul>
            </div>
        </div>
        <div class="span3">
            <label>Что оцениваем:</label>
            <select name="filter_company" id="filter_parent" class="btn-small span7" onchange="$('#filter-form').submit();">
                <option value="-1" >{{ 'form.all'|trans({}) }}</option>
                {% for company in parents %}
                    <option value="{{ company.id }}"{% if app.session.get('filter_company') and app.session.get('filter_company') == company.id %} selected{% endif %}>
                        {{ company.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="span3">
            <label>Опубликован:</label>
            <select name="filter_published" id="filter_published" class="btn-small span7" onchange="$('#filter-form').submit();">
                <option value="-1" >{{ 'form.all'|trans({}) }}</option>
                <option value="1"{% if app.session.get('filter_published') and app.session.get('filter_published') == 1 %} selected{% endif %}>Да</option>
                <option value="2"{% if app.session.get('filter_published') and app.session.get('filter_published') == 2 %} selected{% endif %}>Нет</option>
            </select>
        </div>
        <div class="span3">
            <label>Ответ на отзыв:</label>
            <select name="filter_answer" id="filter_answer" class="btn-small span7" onchange="$('#filter-form').submit();">
                <option value="-1" >{{ 'form.all'|trans({}) }}</option>
                <option value="1"{% if app.session.get('filter_answer') and app.session.get('filter_answer') == 1 %} selected{% endif %}>Присутствует</option>
                <option value="2"{% if app.session.get('filter_answer') and app.session.get('filter_answer') == 2 %} selected{% endif %}>Отсутствует</option>
            </select>
        </div>
    </div>
</form>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th width="80">Дата посещения</th>
            <th width="95">Имя мастера</th>
            <th width="100">Автомобиль</th>
            <th width="90">Гос. номер</th>
            <th width="100">Номер заказа-наряда</th>
            <th width="140">Автор отзыва</th>
            <th width="70">Оценка отзыва</th>
            <th width="80">Что оцениваем</th>
            <th width="75">Опубликован</th>
            <th width="75">Ответ на отзыв</th>
            <th width="50"></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.visitDate %}{{ entity.visitDate|date('d.m.Y') }}{% endif %}</td>
            <td>{{ entity.mastername }}</td>
            <td>{{ entity.car }}</td>
            <td>{{ entity.statenumber }}</td>
            <td>{{ entity.orderNumber }}</td>
            <td>{{ entity.user.lastname }} {{ entity.user.firstname }}</td>
            <td>{{ entity.feedbackRating|number_format(1) }}</td>
            <td>{% if entity.company is defined and entity.company %}{{ entity.company.name }}
                {% elseif entity.deal is defined and entity.deal %}{{ entity.deal.name }}{% else %}Компанию в целом{% endif %}</td>
            <td>{% if entity.published %}Да{% else %} Нет  {% endif %}</td>
            <td>{% if entity.feedbackAnswer %}Присутствует{% else %} Отсутствует  {% endif %}</td>
            <td>
                <a href="{{ path('feedbacks_show', { 'id': entity.id }) }}" class="icon-eye-close" title="Просмотр"></a>
                <a href="{{ path('feedbacks_edit', { 'id': entity.id }) }}" class="icon-pencil" title="{{ 'form.edit'|trans({}) }}"></a>
                <a href="{{ path('feedbacks_delete', { 'id': entity.id }) }}" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{entity.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
{% endblock %}
