{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Отзыв{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}

<table class="table table-hover table-condensed table-bordered table-striped">
    <tbody>
        <tr>
            <th width="220">Отзыв</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>Дата посещения</th>
            <td>{{ entity.visitDate|date('d.m.Y') }}</td>
        </tr>
        <tr>
            <th>Имя мастера</th>
            <td>{{ entity.mastername }}</td>
        </tr>
        <tr>
            <th>Автомобиль</th>
            <td>{{ entity.car }}</td>
        </tr>
        <tr>
            <th>Гос. номер автомобился</th>
            <td>{{ entity.statenumber }}</td>
        </tr>
        <tr>
            <th>Номер заказа-наряда</th>
            <td>{{ entity.orderNumber }}</td>
        </tr>
        <tr>
            <th>Автор отзыва</th>
            <td>{{ entity.user.lastName }} {{ entity.user.firstName }}</td>
        </tr>
        <tr>
            <th>Оценка отзыва</th>
            <td>{{ entity.feedbackRating|number_format(2) }}</td>
        </tr>
        <tr>
            <th>Положительных оценок</th>
            <td>{{ entity.pluses }}</td>
        </tr>
        <tr>
            <th>Отрицательных оценок</th>
            <td>{{ entity.minuses }}</td>
        </tr>
        <tr>
            <th>Что оцениваем</th>
            <td>
                    {% if entity.company is defined and entity.company %}
                        {{ entity.company.name }}
                    {% elseif entity.deal is defined and entity.deal %}
                        {{ entity.deal.name }}
                    {% else %}Компанию в целом{% endif %}
            </td>
        </tr>
        <tr>
            <th>Публичный</th>
            <td>{% if entity.published %} Да {% else %} Нет {% endif %}</td>
        </tr>
        <tr>
            <th>IP адрес</th>
            <td>{{ entity.ip }}</td>
        </tr>
    </tbody>
</table>

<h4>Ответ на отзыв</h4>
<hr />
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if entity.feedbackAnswer %}
    {% include 'StoAdminBundle:FeedbackAnswer:edit.html.twig' with {'entity': entity.feedbackAnswer, 'feedback_id':entity.id} %}
{% else %}
    {% include 'StoAdminBundle:FeedbackAnswer:new.html.twig' with {'feedback_id': entity.id} %}
{% endif %}
{% endblock %}
