    <thead>
        <tr>
            <th>{{ "dict.fields.name"|trans({}) }}</th>
            <th width="35">{{ "dict.fields.actions"|trans({}) }}</th>
        </tr>
    </thead>
    <tbody>
    {% set level = 0 %}
    {{ include ('StoAdminBundle::Dictionary/content/__autoService_recurse.html.twig', {'dictionaries': dictionaries, 'level':level}) }}
    {#% for row in dictionaries %}
        <tr id="row_{{ row.id }}">
{% if row.parent is null %}
            <td>
                <b><a href="#" class="name" data-type="text" data-pk="{{ row.id }}" data-inputclass="input-xxlarge">{{ row.name }}</a></b>
            </td>
            <td>
                <center>
                    <a href="{{ path('dictionary_edit', { 'id': row.id, 'dictionary': dictionary}) }}" class="icon-edit"></a>
                </center>
            </td>
{% else %}
            <td style="padding-left:{{ level * 15 }}px">
                <a href="#" class="name" data-type="text" data-pk="{{ row.id }}" data-inputclass="input-xxlarge">{{ row.name }}</a>
            </td>
            <td>
                <center>
                    <a href="{{ path('dictionary_edit', { 'id': row.id, 'dictionary': dictionary}) }}" class="icon-edit"></a>
                    <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{row.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
                </center>
            </td>
{% endif %}
        </tr>
    {% endfor %#}
    </tbody>
