    <thead>
        <tr>
            <th width="65">Иконка</th>
            <th width="65">Код</th>
            <th>{{ "dict.fields.name"|trans({}) }}</th>
            <th>Страна</th>
            <th width="35">{{ "dict.fields.actions"|trans({}) }}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in dictionaries %}
        <tr id="row_{{ row.id }}">
            <td>
                <center>
{% if row.iconName %}
                <img src="/../{{ storage_path }}/countries/{{ row.iconName }}" alt="{{ row.name }}" width="30"/>
{% else %}
                <img src="http://placehold.it/30x20" alt="Изображение отсутствует" width="30"/>
{% endif %}
                </center>
            </td>
            <td>
                {{ row.shortName }}
            </td>
            <td>
                <a href="#" class="name" data-type="text" data-pk="{{ row.id }}" data-inputclass="input-xxlarge">{{ row.name }}</a>
            </td>
            <td>
                {{ row.parent.name }}
            </td>
            <td>
                <center>
                    <a href="{{ path('dictionary_edit', { 'id': row.id, 'dictionary': dictionary}) }}" class="icon-edit"></a>
                    <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{row.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
                </center>
            </td>
        </tr>
    {% endfor %}
    </tbody>
