<thead>
    <tr>
        <th>{{ "dict.fields.name"|trans({}) }}</th>
        <th>{{ "dict.fields.description"|trans({}) }}</th>
        <th width="35">{{ "dict.fields.actions"|trans({}) }}</th>
    </tr>
</thead>
<tbody>
{% for row in dictionaries %}
    <tr id="row_{{ row.id }}">
        <td>
            <a href="#" class="name" data-type="text" data-pk="{{ row.id }}" data-inputclass="input-xxlarge">{{ row.name }}</a>
        </td>
        <td>
            <a href="#" class="name" data-type="text" data-pk="{{ row.id }}" data-inputclass="input-xxlarge">{{ row.description }}</a>
        </td>
        <td>
            <center>
                <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{row.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
            </center>
        </td>
    </tr>
{% endfor %}
</tbody>
