{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Автокаталог{% endblock %}

{% block head_style %}
{{ parent() }}
<style>
    .table thead tr th {
        text-align: center;
        vertical-align: middle;
    }
    .table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }
    .table tbody tr td.name {
        text-align: left;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
{% if parent %}
<p><a class="btn btn-info btn-small" href="{{ path('admin_catalog_with_parent_new', { 'level': level, 'parent' : parent }) }}"><i class="icon-plus icon-white"></i> Добавить</a></p>
{% else %}
<p><a class="btn btn-info btn-small" href="{{ path('admin_catalog_new', { 'level': level }) }}"><i class="icon-plus icon-white"></i> Добавить</a></p>
{% endif %}
{% if catalog.items %}
<table class="table table-hover table-condensed">
{% if level == 'mark' %}
    {% include 'StoAdminBundle::Catalog/content/_default.html.twig' %}
{% elseif level == 'model' %}
    {% include 'StoAdminBundle::Catalog/content/_models.html.twig' %}
{% else %}
    {% include 'StoAdminBundle::Catalog/content/_modification.html.twig' %}
{% endif %}
</table>
<div class="navigation">
    {{ knp_pagination_render(catalog) }}
</div>
<form action="#" method="post" id="delete-form"></form>
{% else %}
{{ flash(true, 'Данные отсутствуют.', false, true) }}
{% endif %}
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
(function($) {
    var url = "{{ path('admin_catalog') }}{level}/{id}/delete";
    var deleteModal = function (formId, message, action) {
        action = action || '{{ "form.delete"|trans({}) }}'

        var del = function () {
            document.getElementById(formId).submit();
        };

        var html = '<div class="modal hide fade"><div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
            '<h3>'+ action +'</h3></div>' +
            '<div class="modal-body"><p>' + message + '</p></div>' +
            '<div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">{{ "form.cancel"|trans({}) }}</a>' +
            '<a href="#" class="btn btn-danger">'+ action +'</a></div></div>';

        var elem = $(html);
        elem.find('.btn-danger').click(del);
        $('body').append(elem);
        elem.modal();
    }

    $('[data-delete-form]').on('click', function(e) {
        $('form#delete-form').attr('action', url.replace('{id}', $(this).data('delete-item')).replace('{level}', '{{ level }}'));
        deleteModal($(this).data('delete-form'), $(this).data('delete-message'), $(this).data('delete-action'));
    });

    $('[data-send-form]').on('click', function(e) {
        document.getElementById($(this).attr('data-send-form')).submit();
    });
})(jQuery);
</script>
{% endblock %}
