{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ "dict.title.new"|trans({}) }}{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
{% if parent %}
<form action="{{ path('admin_catalog_with_parent_create', { 'level': level, 'parent' : parent.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
{% else %}
<form action="{{ path('admin_catalog_create', { 'level': level }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
{% endif %}
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.edit'|trans({}) }}"/>
{% if parent %}
        <a class="btn" href="{{ path('admin_catalog_with_level', { 'level': level, 'parent' : parent.id }) }}">{{ 'form.cancel'|trans({}) }}</a>
{% else %}
        <a class="btn" href="{{ path('admin_catalog') }}">{{ 'form.cancel'|trans({}) }}</a>
{% endif %}
    </div>
</form>
{% endblock %}
