{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ "city.title.edit"|trans({}) }}{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<form action="{{ path('city_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.code) }}
    {% if entity.iconName %}
    <div class="control-group">
        <div class="controls">
            <img src="/../{{ storage_path }}/cities/{{ entity.iconName }}?{{ random() }}" width="160"/>
        </div>
    </div>
    {% endif %}
    {{ form_row(edit_form.icon) }}
    {# TODO file exist check #}
    {% if entity.imageName %}
    <div class="control-group">
        <div class="controls">
            <img src="/../{{ storage_path }}/cities/{{ entity.imageName }}?{{ random() }}" width="160"/>
        </div>
    </div>
    {% endif %}
    {{ form_rest(edit_form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.edit'|trans({}) }}"/>
        <a class="btn" href="{{ path('city') }}">{{ 'form.cancel'|trans({}) }}</a>
    </div>
</form>
{% endblock %}
