<div class="leftContent">
    <div class="no-deals">
        {% if car.images|length > 0 %}
        <div class="car-photos">
            <img class="main-image" src="{{ vich_uploader_asset(car.images.first, 'image') | imagine_filter('car_show_image') }}"  alt="" />
            <div class="photo-select">
                {% for image in car.images %}
                <div data-full-image-path="{{ vich_uploader_asset(image, 'image') | imagine_filter('car_show_image') }}" class="item {% if loop.first %}current{% endif %}">
                    <img src="{{ vich_uploader_asset(image, 'image') | imagine_filter('car_show_image_preview') }}"  alt="" />
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
        {% endif %}
        <div class="car-show">
            <div class="left-column">
                <div class="car-model">{{ car.name }}</div>
                <div class="car-modification">{{ car.modification.nameWithYear }} {{ car.transmissionName }}</div>
                <div class="divider"></div>
                {% if car.vin %}
                <div class="vin-label">VIN-номер</div>
                {{ car.vin|upper }}
                {% endif %}
                {% if car.drive2 %}
                <a class="drive2-link" href="{{ car.drive2 }}"><img src="{{ asset('/bootstrap/img/drive2-icon.png') }}" alt="D2" /> Бортовой журнал Drive2</a>
                {% endif %}
            </div>
            <div class="right-column">
                <div><span>Трансмиссия</span> {{ car.transmissionHuman }}</div>
                <!-- <div><span>Двигатель</span> dsadsadsa</div> -->
                <!-- <div><span>Привод</span> dsadsadsa</div> -->
                <div><span>Тип кузова</span> {{ car.modification.bodyType }}</div>
            </div>
        </div>
    </div>
</div>
<div class="rightContent">
    <a href="{{ path('garage_new') }}" class="addPhotoBtn bttn addCarBtn" style="margin-top:10px;">Добавить автомобиль<i class="plusIconWhite"></i></a>
    <a href="{{ path('garage_edit', {id: car.id}) }}" class="addPhotoBtn bttn addCarBtn" style="margin-top:10px;">Редактировать<i class="pencilIcon"></i></a>
    <div class="bannerImg"></div>
</div>