<table class="table table-hover table-condensed" id="{{ dictionary }}">
{% if dictionary == 'country' %}
    {% include 'StoAdminBundle::Dictionary/content/_country.html.twig' %}
{% elseif dictionary == 'company' %}
    {% include 'StoAdminBundle::Dictionary/content/_company.html.twig' %}
{% elseif dictionary == 'currency' %}
    {% include 'StoAdminBundle::Dictionary/content/_currency.html.twig' %}
{% elseif dictionary == 'city' %}
    {% include 'StoAdminBundle::Dictionary/content/_city.html.twig' %}
{% else %}
    {% include 'StoAdminBundle::Dictionary/content/_default.html.twig' %}
{% endif %}
</table>
<form action="#" method="post" id="delete-form"></form>

{% javascripts
    'bundles/stocore/js/jquery.datatables.js'
    'bundles/stocore/js/bootstrap-datatables.js'
    'bundles/stocore/js/bootstrap-editable.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $('.name').editable({
        "mode" : "inline",
        url: "{{ path('dictionary_change_field') }}",
    });
    $('#{{dictionary}}').dataTable( {
        "sDom": "<'row-fluid form-inline'<'span6'l><'span6'<'pull-right'f>>r>t<'row-fluid'<'span6'i><'span6'<'pull-right'p>>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ записей на странице"
        },
        "iDisplayLength": 15,
        "aLengthMenu": [ 15, 30, 45 ],
        "bSort": false,
    });

    var url = "{{ path('dictionary') }}{itemId}/delete";
    var deleteModal = function (formId, message, action, id) {
        action = action || '{{ "form.delete"|trans({}) }}'
        var del = function () {
            $.ajax({
                type: 'POST',
                url: "{{ path('dictionary_delete_ajax') }}",
                data: {'id': id},
                success: function() {
                    $('#row_' + id).remove();
                    $('ul.nav-tabs > li.active > a').click();
                    elem.modal('hide');
                },
                error: function(e) {
                    console.log(e.message);
                    elem.modal('hide');
                }
            });
        };

        var html = '<div class="modal hide fade"><div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
            '<h3>'+ action +'</h3></div>' +
            '<div class="modal-body"><p>' + message + '</p></div>' +
            '<div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">{{ "form.cancel"|trans({}) }}</a>' +
            '<a href="#" class="btn btn-danger">'+ action +'</a></div></div>';

        var elem = $(html);

        elem.find('.btn-danger').click(del);
        $('body').append(elem);
        elem.modal();
    }

    $('[data-delete-form]').on('click', function(e) {
        $('form#delete-form').attr('action', url.replace('{itemId}', $(this).data('delete-item')));
        deleteModal($(this).data('delete-form'), $(this).data('delete-message'), $(this).data('delete-action'), $(this).data('delete-item'));
    });

    $('.dir_search').on('click', function(e) {
        var a_id =  $('ul.nav-tabs > li.active > a').attr('id');
        var tab_id = a_id.replace('a_', '');
        $.ajax({
            type: 'POST',
            url: "{{ path('dictionary_content') }}",
            data: {'filter_dict_name': $('#' + tab_id + ' .filter_dict_name').val()},
            success: function(html) {
                var a_id =  $('ul.nav-tabs > li.active > a').attr('id');
                var tab_id = a_id.replace('a_', '');
                $('#' + tab_id).html(html);
            },
            error: function(e) {
                console.log(e.message);
            }
        });
    });
</script>
