    {% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ "dict.title.list"|trans({}) }}{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/stocore/css/bootstrap-datatables.css'
        'bundles/stocore/css/bootstrap-editable.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="form-inline">
        <div class="span3">
            <a id="btn-new" class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> {{ "dict.btn.create_new"|trans({}) }}</a>
        </div>
        <div class="span9">
            <div class="pull-right">
                <ul id="dictionary-menu" class="nav nav-pills">
                    <li class="active"><a id="a_tab0" href="#tab0" data-toggle="tab" data-dictionary="company">Типы организаций</a></li>
                    <li><a id="a_tab5" href="#tab5" data-toggle="tab" data-dictionary="deal">Типы акций</a></li>
                    <li><a id="a_tab1" href="#tab1" data-toggle="tab" data-dictionary="service">Дополнительные услуги</a></li>
                    <li><a id="a_tab2" href="#tab2" data-toggle="tab" data-dictionary="work">Действия / работы</a></li>
                    <li><a id="a_tab3" href="#tab3" data-toggle="tab" data-dictionary="country">Страны / Города</a></li>
                    <li><a id="a_tab4" href="#tab4" data-toggle="tab" data-dictionary="currency">Валюты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="tab0">
        <center><i class="icon-spinner icon-spin icon-4x"></i></center>
    </div>
    <div class="tab-pane" id="tab1">
        <center><i class="icon-spinner icon-spin icon-4x"></i></center>
    </div>
    <div class="tab-pane" id="tab2">
        <center><i class="icon-spinner icon-spin icon-4x"></i></center>
    </div>
    <div class="tab-pane" id="tab3">
        <center><i class="icon-spinner icon-spin icon-4x"></i></center>
    </div>
    <div class="tab-pane" id="tab4">
        <center><i class="icon-spinner icon-spin icon-4x"></i></center>
    </div>
    <div class="tab-pane" id="tab5">
        <center><i class="icon-spinner icon-spin icon-4x"></i></center>
    </div>
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
(function($) {
    $("#a_tab0").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'dictionary': 'company' },
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab0').html(html);
            }
        });
    });
    $("#a_tab1").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'dictionary': 'service' },
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab1').html(html);
            }
        });
    });
    $("#a_tab2").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'dictionary': 'work' },
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab2').html(html);
            }
        });
    });
    $("#a_tab3").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'dictionary': 'country' },
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab3').html(html);
            }
        });
    });
    $("#a_tab4").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'dictionary': 'currency' },
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab4').html(html);
            }
        });
    });
    $("#a_tab5").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'dictionary': 'deal' },
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab5').html(html);
            }
        });
    });
    $("#a_tab0").click();
    $("#btn-new").on('click', function (e) {
        document.location.href="{{path('dictionary')}}" + "new/" + $("ul#dictionary-menu > li.active > a").data('dictionary');
    });
})(jQuery);
</script>
{% endblock %}
