{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ "dict.title.list"|trans({}) }}{% endblock %}

{% block header %}<h3>{{ block('title') }}</h3>{% endblock %}

{% block content %}




<div class="tabbable"> <!-- Only required for left/right tabs -->

    <ul class="nav nav-tabs">
        <li class="active"><a id="a_tab0" href="#tab0" data-toggle="tab">Типы организаций</a></li>
        <li><a id="a_tab1" href="#tab1" data-toggle="tab">Дополнительные услуги</a></li>
        <li><a id="a_tab2" href="#tab2" data-toggle="tab">Действия / работы</a></li>
        <li><a id="a_tab3" href="#tab3" data-toggle="tab">Currencies</a></li>
        <li><a id="a_tab4" href="#tab4" data-toggle="tab">City</a></li>
        <li><a id="a_tab5" href="#tab5" data-toggle="tab">Country</a></li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="tab0">
            <center><img src="/bundles/stoadmin/images/preloader.gif" alt="" /></center>
        </div>
        <div class="tab-pane" id="tab1">
            <center><img src="/bundles/stoadmin/images/preloader.gif" alt="" /></center>
        </div>
        <div class="tab-pane" id="tab2">
            <center><img src="/bundles/stoadmin/images/preloader.gif" alt="" /></center>
        </div>
        <div class="tab-pane" id="tab3">
            <center><img src="/bundles/stoadmin/images/preloader.gif" alt="" /></center>
        </div>
        <div class="tab-pane" id="tab4">
            <center><img src="/bundles/stoadmin/images/preloader.gif" alt="" /></center>
        </div>
        <div class="tab-pane" id="tab5">
            <center><img src="/bundles/stoadmin/images/preloader.gif" alt="" /></center>
        </div>

    </div>

</div>




{% endblock %}

{% block foot_script %}
{{ parent() }}

{% javascripts
        '@StoAdminBundle/Resources/public/js/bootstrap-editable.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">



(function($) {


    // additional job list
    $("#a_tab0").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'filter_parent': 1 }, // HARDCODE
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab0').html(html);
            }
        }); // ajax
    });

    // additional job list
    $("#a_tab1").on('click', function(e){

        $.ajax({
            // statusCode: {
            //     403: function() {
            //       alert("page not found");
            //     }
            // },
            type: 'POST',
            data: {'filter_parent': 2 }, // HARDCODE
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab1').html(html);
            }
        }); // ajax
    });

    // job list
    $("#a_tab2").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'filter_parent': 3 }, // HARDCODE
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab2').html(html);
            }
        }); // ajax
    });

    // currencies
    $("#a_tab3").on('click', function(e){
        $.ajax({
            type: 'POST',
            data: {'filter_parent': 4 }, // HARDCODE
            url: "{{ path('dictionary_content') }}",
            success: function(html) {
                $('#tab3').html(html);
            }
        }); // ajax
    });

    // country
    $("#a_tab5").on('click', function(e){
        $.ajax({
            type: 'GET',
            url: "{{ path('country') }}",
            success: function(html) {
                $('#tab5').html(html);
            }
        }); // ajax
    });

    // city
    $("#a_tab4").on('click', function(e){
        $.ajax({
            type: 'GET',
            url: "{{ path('city') }}",
            success: function(html) {
                $('#tab4').html(html);
            }
        }); // ajax
    });

    $("#a_tab0").click();




})(jQuery);
</script>
{% endblock %}
