{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ "dict.title.new"|trans({}) }}{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<form action="{{ path('dictionary_create', {'dictionary': dictionary}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.name) }}
        </div>
        {% if form.parent  %}
        <div class="span6">
            {{ form_row(form.parent) }}
        </div>
        {% endif %}
    </div>
{% if form.icon is defined %}
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.icon) }}
        </div>
        <div class="span6">
             <img data-image="icon" src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:70px" class="img-polaroid"/>
        </div>
    </div>
{% endif %}
{% if form.image is defined %}
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.image) }}
        </div>
        <div class="span6">
             <img data-image="image" src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:100px" class="img-polaroid"/>
        </div>
    </div>
{% endif %}
{% if form.iconMap is defined %}
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.iconMap) }}
        </div>
        <div class="span6">
             <img data-image="iconMap" src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:70px" class="img-polaroid"/>
        </div>
    </div>
{% endif %}
{% if form.iconSmall is defined %}
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.iconSmall) }}
        </div>
        <div class="span6">
             <img data-image="iconSmall" src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:100px" class="img-polaroid"/>
        </div>
    </div>
{% endif %}

{% if form.iconLarge is defined %}
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.iconLarge) }}
        </div>
        <div class="span6">
             <img data-image="iconLarge" src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:200px" class="img-polaroid"/>
        </div>
    </div>
{% endif %}

    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.create'|trans({}) }}"/>
        <a class="btn" href="{{ path('dictionary') }}">{{ 'form.cancel'|trans({}) }}</a>
    </div>
</form>
{% endblock %}

{% block foot_script %}
{{ parent() }}
{% if form.iconMap is defined  or form.iconSmall is defined or form.iconLarge is defined or form.icon is defined or form.image is defined %}
    <script type="text/javascript" src="{{ asset('bundles/stoadmin/js/script.js') }}"></script>
{% endif %}
{% endblock %}
