{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, session_flash %}

{% block html_tag %}
<html lang="ru">
{% endblock %}

{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/stocore/css/bootstrap.css'
        'bundles/stocore/css/font-awesome.css'
        'bundles/stoadmin/css/*.css'
        'bundles/stocore/css/bootstrap-responsive.css'
        'bundles/stocore/css/select2.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% endblock %}
    {% block head_script %}
    {% javascripts
        'http://code.jquery.com/jquery-1.8.2.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
    <title>BEST4CAR &middot; Панель администратора &middot; {% block title %}Главная{% endblock title %}</title>
    {% block head_bottom %}
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
{% endblock %}

{% block body %}
    <div class="container-narrow">
    <header class="header">
{% block navbar_container %}
        <nav class="navigation">
{% block navbar %}
            {{ mopa_bootstrap_navbar('adminNavbar') }}
{% endblock %}
        </nav>
{% endblock %}
    <div class="row-fluid">
    {% block header %}{% endblock %}
    </div>
    </header>
    <div class="content-block">
        <div class="flash">
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row-fluid">
                <div class="span12">
                {{ session_flash() }}
                </div>
            </div>
            {% endif %}
        {% endblock flashes %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    <div style="clear:both"></div>
    {% block footer %}
    <hr>
    <div class="footer">
        <p>STO &copy; 2012</p>
    </div>
    {% endblock %}
    </div>
    </div>
    {% block foot_script %}
    {% javascripts
        'bundles/stocore/js/bootstrap.js'
        'bundles/stocore/js/holder.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
{% endblock %}
