{% extends 'StoContentBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
     - регистрация компании
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/styleCompany.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/style-registration-company.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.ui.timepicker.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.datepicker-ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.timepicker.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.limit-1.2.js') }}"></script>
    <script src="{{ asset('bootstrap/js/custom.validation.js') }}"></script>
    <script src="{{ asset('bootstrap/js/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/custom.date-time-pickers.js') }}"></script>
{% endblock %}

{% block pageTitle %}
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        <h1 class="titleNameCompany">Регистрация компании</h1>
    </div>
</div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
    <section class="contentMain row">
    <div class="content">
        {% block links %}{% endblock %}
        <div class="row-fluid">
            {% if form_errors(form) %}
                <div class="span10 alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        </div>
        <form name="register-form" {% block form_path %}{% endblock %} method="post" {{ form_enctype(form) }} class="form-horizontal">
            <div class="tab-content">
                <div class="row-fluid">
                    <div class="span10">
                        {% block form_content %}{% endblock %}
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="bottomContent">
                    <span class="alertSelect hide">Необходимо заполнить все обязательные поля</span>
                    <button class="btnNext addPhotoBtn">Продолжить</button>
                </div>
            </div>
        </form>
    </div>
    </section>
{% endblock %}
