{% extends 'StoContentBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
     - регистрация компании
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/styleCompany.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/style-registration-company.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/jquery.ui.timepicker.css') }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.datepicker-ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.ui.timepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.limit-1.2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/custom.validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.jstree.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/custom.date-time-pickers.js') }}"></script>
    <script src="{{ asset('bootstrap/js/geolocation-button.js') }}"></script>
{% endblock %}

{% block pageTitle %}
<div id="nameCompanyHeaderWrap">
    <div class="nameCompanyHeader">
        {% set title = 'Регистрация компании' %}
        {% if company.isRegistredFully %}
            {% set title = 'Редактирование компании – ' ~ company.name %}
        {% endif %}
        <h1 class="titleNameCompany">{{ title }}</h1>
    </div>
</div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
    <section class="contentMain row">
    <div class="content">
        {% block links %}{% endblock %}
        <div class="row-fluid">
            {% if form_errors(form) %}
                <div class="span10 alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        </div>
        <form name="register-form" {% block form_path %}{% endblock %} method="post" {{ form_enctype(form) }} class="form-horizontal">
            <div class="tab-content">
                {% block form_content %}{% endblock %}
                {{ form_widget(form._token) }}
                <div class="bottomContent">
                    <span class="alertSelect hide">Необходимо заполнить все обязательные поля</span>
                    <button class="btnNext addPhotoBtn">Продолжить</button>
                    {% block back_link %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
    </section>

{% block modal %}{% endblock %}
{% block form_scripts %}
<script>
    $(document).ready(function(){
        (function(){
            $('.chzn-select').chosen();
            $('.chosen-multiple').chosen();
        })();

        ymaps.ready(init);
        var gCollection;
        var gps;
        var addressName = '';
        function init() {
            mapCompany = new ymaps.Map ("myMap", {
                center: [59.933373, 30.357903],
                zoom: 10,
                behaviors: ["default", "scrollZoom"]
            });
            var buttonMyPlace = new GeolocationButton({
                data : {
                    image : "{{ asset('bootstrap/img/wifi.png') }}",
                    plsImage : "{{ asset('bootstrap/img/man.png') }}",
                    lImage : "{{ asset('bootstrap/img/loader.gif') }}",
                    title : 'Определить мое местоположение'
                },
                geolocationOptions: {
                    enableHighAccuracy : true
                }
            },{
                selectOnClick: false
            });

            mapCompany.controls.add('zoomControl');
            mapCompany.controls.add('mapTools');
            mapCompany.controls.add(buttonMyPlace, { top : 40, left : 5 });
            attachReverseGeocode(mapCompany);
            function attachReverseGeocode(myMap) {
                myMap.events.add('click', function (e) {
                    var coords = e.get('coordPosition');
                    if (gCollection != null) { myMap.geoObjects.remove(gCollection);};
                    ymaps.geocode(coords).then(function (res) {
                        var names = [];
                        res.geoObjects.each(function (obj) {
                            names.push(obj.properties.get('name'));
                        });
                        gCollection = new ymaps.Placemark(coords, {
                                iconContent: names[0],
                                balloonContent: names.reverse().join(', ')
                            },
                            {preset:'twirl#redStretchyIcon', balloonMaxWidth:'250'}
                        );
                        myMap.geoObjects.add(gCollection);
                        gps = coords;

                        addressName = '';
                        for (key in names){
                            if (2 != key) {
                                addressName = addressName + names[key] + ", "
                            }
                        }
                        addressName = $.trim(addressName);
                        lastIndex = addressName.lastIndexOf(',');
                        if (lastIndex == addressName.length - 1) {
                            addressName = addressName.substring(0, lastIndex);
                        }
                    });
                });
            }
        }

        if ($('#sto_company_register_contacts_gps').val() !== '') {
            $('#activateMap').html('Изменить отметку на карте');
        }

        $('#saveMapCoordinates').on('click', function(){
            $(this).parent().trigger('reveal:close');
            $('#sto_company_register_contacts_gps').val(gps);
            $('#sto_company_register_contacts_gps').trigger('change');
            $('#activateMap').html('Изменить отметку на карте');
        });
    });

    function addTagForm(collectionHolder, $newLink, isUnwrap, deleteLink) {

        deleteLink = typeof deleteLink !== 'undefined' ? deleteLink : false;

        var prototype = collectionHolder.data('prototype');
        var index = collectionHolder.data('index');
        var newForm = prototype.replace(/__name__/g, index);
        var $newForm = $('<div class="contactDate"></div>');
        if (isUnwrap) {
            var newestForm = $(newForm).find('.contentLabel').children().unwrap();
            newestForm.each(function(){
                $newForm.append($(this));
            });
        } else {
            var newestForm = $(newForm);
            newestForm.find('p.contentLabel').children().unwrap();
            newestForm.find('.inputTime').each(function(i, element){
                $(element).data('input-index', index + '-' + i);
                $(element).wrap('<div class="input-append dateLeft" />').after('<span class="add-on init-time" id="b' + index + '-' + i + '"><i data-time-icon="icon-time" class="icon-time"></i></span>');
            });
            $newForm.append(newestForm);
        }

        if (deleteLink) {
            $newForm.append(deleteLink);
            $newForm.append($('<div class="clear">'));
        }

        collectionHolder.data('index', index + 1);
        $newLink.before($newForm);

        return $newForm;
    }
</script>
{% endblock %}

{% endblock %}
