{% extends 'StoContentBundle:CompanyRegister:_newCompany.html.twig' %}

{% form_theme form with 'StoContentBundle::formTheming.html.twig' %}

{% block title %}
    Best4Car – Редактирование компании – Общие сведения
{% endblock %}

{% block links %}
    <ul class="stepRegistration" id="stepRegistration">
    {% if company.isRegistredFully %}
        <li class="stepRegistrationItem firstStep active"><span data-content="#general-data" class="stepLink">Общие сведения</span></li>
        <li class="stepRegistrationItem centerStep"><a href="{{ path('company_edit_business_profile', { "id": company.id }) }}" class="stepLink">Профиль деятельности</a></li>
        <li class="stepRegistrationItem centerStep"><a href="{{ path('company_edit_contacts', { "id": company.id }) }}" class="stepLink">Контактные данные</a></li>
        <li class="stepRegistrationItem endStep"><a href="{{ path('company_edit_gallery', { "id": company.id }) }}" class="stepLink">Фотографии</a></li>
    {% else %}
        <li class="stepRegistrationItem firstStep active"><span data-content="#general-data" class="stepLink">Общие сведения</span></li>
        <li class="stepRegistrationItem centerStep"><span class="stepLink">Профиль деятельности</span></li>
        <li class="stepRegistrationItem centerStep"><span class="stepLink">Контактные данные</span></li>
        <li class="stepRegistrationItem endStep"><span class="stepLink">Фотографии</span></li>
    {% endif %}
    </ul>
{% endblock %}

{% block form_path %}
    {% if company.id %}
        action="{{ path('company_edit_base', {id: company.id}) }}"
    {% else %}
        action="{{ path('registration_company_base') }}"
    {% endif %}
{% endblock %}

{% block form_content %}
<p class="contentLabel">
    {{ form_label(form.fullName) }}
    {{ form_errors(form.fullName) }}
    <span class="hint-text">Полное наименование юр.лица, например: ООО «Авто Эксперт»</span>
    {{ form_widget(form.fullName) }}
</p>
<p class="contentLabel">
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    <span class="hint-text">Общеупотребимое название компании, например: BEST4CAR</span>
    {{ form_widget(form.name) }}
</p>
<p class="contentLabel">
    {{ form_label(form.slogan) }}
    {{ form_errors(form.slogan) }}
    <span class="hint-text">Например: Автоэксперты рекомендуют. Лучшее для вашего авто! Максимум 85 символов (<span id="chleft"></span>).</span>
    {{ form_widget(form.slogan) }}
    <script>
        $(document).ready(function(){
            var textarea = $('.description-textarea');
            var length = textarea.data('length');
            $('.description-textarea').limit(length, '#chleft');
        });
    </script>
</p>
<div class="contentLabel clear datePickerInput">
    {{ form_label(form.createtDate) }}
    {{ form_errors(form.createtDate) }}
    {{ form_widget(form.createtDate) }}
</div>
<div class="contentLabelNoOverflow">
    {{ form_label(form.city) }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city) }}
</div>
<br>
<div class="addLogo clear">
    {{ form_label(form.logo) }}
    {{ form_errors(form.logo) }}
    <div class="addLogoImgWrap" id="addLogoImgWrap">
        <div class="addLogoImg" id='picture-preview-wrapper'>
            {% if company.logo %}
                <img style="max-width: 200px; margin-top: 10px;" src="{{ vich_uploader_asset(company, 'logo') }}" alt="">
            {% endif %}
        </div>
        {% if company.logo %}
            <a class="deleteImg clear" id="deleteImg">Удалить<i class="icon-remove-circle"></i></a>
        {% endif %}
    </div>
    <div class="adminBlockImg span6">
        {{ form_widget(form.logo) }}
        {{ form_widget(form.adminLogoDelete) }}
        <span class="addPhotoBtn">Загрузить изображение<i class="addPhoto"></i></span>
        <p class="additionalInfo">
            Логотип должен быть вписан в квадрат с белым или прозрачным фоном. <br/>
            Формат: JPEG, PNG, GIF не более 1Мб
        </p>
    </div>
</div>
{% endblock %}
