{% extends 'StoContentBundle:CompanyRegister:_newCompany.html.twig' %}

{% form_theme form with 'StoContentBundle::formTheming.html.twig' %}

{% block title %}
    {{ parent() }}
    – Галерея фотографий
{% endblock %}

{% block links %}
    <ul class="stepRegistration" id="stepRegistration">
        <li class="stepRegistrationItem firstStep"><a href="{{ path('company_edit_base', { "id": company.id }) }}" class="stepLink">Общие сведения</a></li>
        <li class="stepRegistrationItem centerStep"><a href="{{ path('company_edit_business_profile', { "id": company.id }) }}" class="stepLink">Профиль деятельности</a></li>
        <li class="stepRegistrationItem centerStep"><a href="{{ path('company_edit_contacts', { "id": company.id }) }}" class="stepLink">Контактные данные</a></li>
    {% if company.isRegistredFully %}
        <li class="stepRegistrationItem endStep active"><a href="{{ path('company_edit_gallery', { "id": company.id }) }}" class="stepLink">Фотографии</a></li>
    {% else %}
        <li class="stepRegistrationItem endStep active"><span class="stepLink">Фотографии</span></li>
    {% endif %}
    </ul>
{% endblock %}

{% block form_path %}action="{{ path('company_edit_gallery', {id: company.id}) }}"{% endblock %}

{% block form_content %}
    <p class="additionalInfo">Хорошие фотографии вашего офиса, цехов и персонала помогут привлечь внимание посетителей к вашей компании.</p>
    <p class="additionalInfo">Тип файла JPG или PNG, размер не более 3 Мб, соотношение сторон 16:9</p>
    {{ form_errors(form.gallery) }}
    <div id="photoAddWrapper" data-prototype="{{ form_widget(form.gallery.vars.prototype)|e }}">
        {% for photo in form.gallery %}
            <div class="contactDate">
                {{ form_errors(photo.image) }}
                {{ form_widget(photo.image) }}
                {{ form_widget(photo.name) }}
                {{ form_widget(photo.imageName) }}
                {{ form_widget(photo.visible) }}
            </div>
        {% endfor %}
    </div>

    <script>
        var photoCollectionHolder = $('#photoAddWrapper'),
            $photoAddTagLink = $('<span class="addImg"><span class="linkContact">Добавить</span><i class="icon-plus-sign"></i></span>'),
            $photoNewLink = $('<div class="photoDateItem"></div>').append($photoAddTagLink);

        jQuery(document).ready(function() {
            photoCollectionHolder.append($photoNewLink);
            photoCollectionHolder.data('index', photoCollectionHolder.find(':input').length);

            $photoAddTagLink.on('click', function(e) {
                e.preventDefault();
                $deleteLink = $('<i class="icon-remove-circle deleteElement"></i>')
                addTagForm(photoCollectionHolder, $photoNewLink, true, $deleteLink);
            });
        });

        jQuery(document).ready(function() {
            $('#photoAddWrapper').on('click', '.deleteElement', function(){
                $(this).parent().remove();
            });
        });

        $(document).ready(function(){
            $('#photoAddWrapper').on('change', 'input[type="file"]', function(){
                var reader = new FileReader(),
                    $this = $(this);

                reader.onload = function (e) {
                    if ($this.prev('.photoDateImg')) {
                        $this.prev('.photoDateImg').remove();
                        $this.removeClass('hiddenFotoUpload');
                    }
                    wrapper = $('<div class="photoDateImg"><img src="'+e.target.result+'"><i class="editImg"></i></div>');
                    $this.before(wrapper);
                    $this.addClass('hiddenFotoUpload');
                };

                reader.readAsDataURL($(this)[0].files[0]);
            });
        });
    </script>
{% endblock %}

{% block back_link %}
<a href="{{ path('company_edit_contacts', { "id": company.id }) }}" class="btnNext btnPrev addPhotoBtn">Назад</a>
{% endblock %}
