<form action="{{ path('fos_user_registration_register') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <input type="hidden" name="_target_path" value="add_company" />
    <div class="row-fluid">
        <div class="span6 offset3">
            {{ form_row(form.firstName) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            <table>
                <tr><td>
            {{ form_row(form.plainPassword) }}
                </td><td valign="top">
                    <a id="toggle-pass" href="#" class="" onclick="togglePass();" >Показать пароль</a>
                </td></tr>
            </table>
            {{ form_row(form.city) }}
            {{ form_row(form.captcha) }}
            {{ form_widget(form) }}
            <div class="form-actions row-fluid">
                <div class="span4">
                    <input type="submit" class="btn btn-primary" value="Зарегистрироваться"/>
                </div>
                <div class="span4">
                    <p style="font-size: 10px;">Регистрируясь, вы соглашаетесь с <a href="#" target="_blank">условиями использования сайта</a></p>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('input[type="password"]').removeClass('input-xlarge').addClass('input-medium');
    function togglePass() {
        if($('#fos_user_registration_form_plainPassword_first').attr('type')=='password'){
            $('#fos_user_registration_form_plainPassword_first').get(0).type = 'textbox';
            $('#fos_user_registration_form_plainPassword_second').parent().parent().hide();
            $('#toggle-pass').html("Скрыть пароль");
            // document.getElementById("fos_user_registration_form_plainPassword_first").type = 'textbox';
        } else {
            $('#fos_user_registration_form_plainPassword_first').get(0).type = 'password';
            $('#fos_user_registration_form_plainPassword_second').parent().parent().show();
            $('#toggle-pass').html("Показать пароль");
            // $('#fos_user_registration_form_plainPassword_first').attr('type','password');
        }
    }
</script>
