<div class="fos_user_group_show">
    <h4>Пользователи</h4>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Имя и фамилия</th>
                <th width="65">Действия</th>
            </tr>
        </thead>
        <tbody>
{% for user in group.users %}
            <tr>
                <td>{{ user.username }} </td>
                <td>{{ user.firstName }} {{user.lastName}}</td>
                <td>
                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="icon-pencil" title="{{ 'form.edit'|trans({}) }}"></a>
                    <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{user.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <h4>Компании</h4>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Название</th>
                <th>Ссылка</th>
                <th width="65">Действия</th>
            </tr>
        </thead>
        <tbody>
{% for user in group.companies %}
            <tr>
                <td>{{ user.name }} </td>
                <td><a href="{{user.web}}">{{ user.web }}</a></td>
                <td>
                    <a href="{{ path('company_edit', { 'id': user.id }) }}" class="icon-pencil" title="{{ 'form.edit'|trans({}) }}"></a>
                    <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{user.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
