<div class="row-fluid">
    <div class="span8">
        <div class="span12">
            Сортировать:
            <a href="#">по дате</a>
            <a href="#">по рейтингу</a>
            <div class="pull-right">
                Показывать:
                <a href="#">все</a>
                <a href="#">положительные</a>
                <a href="#">отрицательные</a>
                <a href="#">полезные</a>
            </div>
            <hr />
        </div>
        <p class="span12" style="font-size:12px;">
            Показано <b>{{ deal.feedbacks|length }}</b> отзывов
        </p>
        {% for item in deal.feedbacks %}
            <div class="row-fluid">
                <div class="span2">
                    <div class="thumbnail">
                        <img src="http://placehold.it/64x64">
                        <p><center>556</center></p>
                    </div>
                </div>
                <div class="span10">
                    <p>{{ item.user.username }}</p>
                    <h3>{{ item.user.lastName }} {{ item.user.firstName }}</h3>
                    <p class="row-fluid">
                        <span class="span8">
                            {% if item.user.ratingGroup %}{{ item.user.ratingGroup.name }}{% endif %}
                        </span>
                        <span class="span4">
                            Дата: {{ item.date|date("d.m.Y") }}
                        </span>
                    </p>
                    <blockquote>
                        <div class="row-fluid">
                            <div class="span4">
                                <input class="star fb-{{ item.id }}" type="radio" value="1" disabled="disabled" {% if item.feedbackRating == 1 %} checked="checked" {% endif %}/>
                                <input class="star fb-{{ item.id }}" type="radio" value="2" disabled="disabled" {% if item.feedbackRating == 2 %} checked="checked" {% endif %}/>
                                <input class="star fb-{{ item.id }}" type="radio" value="3" disabled="disabled" {% if item.feedbackRating == 3 %} checked="checked" {% endif %}/>
                                <input class="star fb-{{ item.id }}" type="radio" value="4" disabled="disabled" {% if item.feedbackRating == 4 %} checked="checked" {% endif %}/>
                                <input class="star fb-{{ item.id }}" type="radio" value="5" disabled="disabled" {% if item.feedbackRating == 5 %} checked="checked" {% endif %}/>
                            </div>
                            <div class="span4">
                            </div>
                            <div class="span4">
                                <p class="pull-right">
                            <a href="#" data-like="link" data-feedback="{{item.id}}"><i class="icon-b4c-thumbs-up"></i></a> <span data-like="count">{{ item.pluses }}</span>
                            <a href="#" data-dislike="link" data-feedback="{{item.id}}"><i class="icon-b4c-thumbs-down"></i></a> <span data-dislike="count">{{ item.minuses }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <p>{{ item.content|raw }}</p>
                            {% if app.security.isGranted('ROLE_MODERATOR') %}
                            <a href="{{ path('content_deal_feedbacks_edit',{'id':deal.id,'feedbackId':item.id}) }}">Редактировать</a>
                            {% endif %}
                        </div>
                    </blockquote>
{% if item.feedbackAnswer %}
                    <div class="row-fluid">
                        <blockquote class="well">
                            <div class="row-fluid">
                                <div class="span7">
                                    <p>{{ item.feedbackAnswer.answer|raw }}</p>
                                </div>
                                <div class="span5">
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <center><img src="http://placehold.it/39x39"></center>
                                        </div>
                                        <div class="span8">
                                            <h5>{{item.feedbackAnswer.owner.lastName}} {{item.feedbackAnswer.owner.firstName}}</h5>
                                            <p><small>{{ item.feedbackAnswer.owner.ratingGroup.name }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
{% endif %}
                </div>
            </div>
        {% endfor %}
        <center><a href="#" class="btn">Показать еще</a></center>
    </div>
    <div class="span4">
        <a href="{{ path("content_deal_feedbacks_add", {'id':deal.id}) }}" class="btn btn-large" style="width:200px;margin-top:10px;">Оставить отзыв <span class="pull-right">{{ deal.feedbacks | length }}</span></a>
        <a href="#"><img src="" style="background: #000000; width:240px; height:400px; margin-top: 10px;" /></a>
    </div>
</div>
