<div class="leftContent">
    <div class="slider">
        <div class="img__prev__wrap">
            <ul id="thumbnail" class="slide-wrap">
                {% for auto in deal.auto %}
                    <li class="slide-item">
                        <a href="#" class="linh__img__prev">
                            <p class="nameActionP">{{ auto.name }}</p>
                            <img src="http://placehold.it/500x279" alt="{{ auto.name }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <span name="prev" class="navy prev-slide"></span>
            <span name="next" class="navy next-slide"></span>
        </div>
    </div>
    <div class="servicesSpecialisationWrap">
    {% if deal.description %}
        <p class="servicesSpecialisationTitle titleH2">Об акции</p>
        <p class="aboutCompanyCont contentText">{{ deal.description }}</p>
    {% endif %}
    {% if deal.terms %}
        <p class="servicesSpecialisationTitle titleH2">Условия</p>
        <p class="aboutCompanyCont contentText">{{ deal.terms }}</p>
    {% endif %}
    {% if deal.contactInformation %}
        <p class="servicesSpecialisationTitle titleH2">Контакты:</p>
        <div class="managerCompany">
            {{ deal.contactInformation }}
        </div>
    {% endif %}
    </div>
    <div class="infoCompanyWrap">
        {% if deal.startDate and deal.endDate %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Сроки проведения:</p>
                <p class="infoCompanyDescription">{{ deal.startDate|date("d.m.Y") }} – {{ deal.endDate|date("d.m.Y") }}</p>
            </div>
        {% endif %}
        {% if deal.startTime and deal.endTime %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Время проведения:</p>
                <p class="infoCompanyDescription">{{ deal.startTime|date("H:i") }} – {{ deal.endTime|date("H:i") }}</p>
            </div>
        {% endif %}
        {% if deal.place %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Адрес:</p>
                <p class="infoCompanyDescription"><a href="#">{{ deal.place }}</a></p>
            </div>
        {% endif %}
    </div>
</div>
