<div class="leftContent">
    <div class="slider">
        <div class="img__prev__wrap">
            <ul id="thumbnail" class="slide-wrap">
                {% set titles = [] %}
                {% for auto in deal.auto %}
                    {% set titles = titles|merge([auto.name]) %}
                {% endfor %}
                {% if deal.imageName %}
                <li class="slide-item">
                    <a href="#" class="linh__img__prev">
                        <p class="nameActionP">{{ titles ? random(titles) : deal.name }}</p>
                        <img src="{{ vich_uploader_asset(deal,'image') | imagine_filter('deals_carusel_photos') }}" alt="{{ titles ? random(titles) : deal.name }}">
                    </a>
                </li>
                {% endif %}
                {% if deal.imageName2 %}
                <li class="slide-item">
                    <a href="#" class="linh__img__prev">
                        <p class="nameActionP">{{ titles ? random(titles) : deal.name }}</p>
                        <img src="{{ vich_uploader_asset(deal,'image2') | imagine_filter('deals_carusel_photos') }}" alt="{{ titles ? random(titles) : deal.name }}">
                    </a>
                </li>
                {% endif %}
                {% if deal.imageName3 %}
                <li class="slide-item">
                    <a href="#" class="linh__img__prev">
                        <p class="nameActionP">{{ titles ? random(titles) : deal.name }}</p>
                        <img src="{{ vich_uploader_asset(deal,'image3') | imagine_filter('deals_carusel_photos') }}" alt="{{ titles ? random(titles) : deal.name }}">
                    </a>
                </li>
                {% endif %}
            </ul>
            <span name="prev" class="navy prev-slide"></span>
            <span name="next" class="navy next-slide"></span>
        </div>
    </div>
    <div class="servicesSpecialisationWrap">
    {% if deal.description %}
        <p class="servicesSpecialisationTitle titleH2">Об акции</p>
        <p class="aboutCompanyCont contentText">{{ deal.description | nl2br }}</p>
    {% endif %}
    {% if deal.terms %}
        <p class="servicesSpecialisationTitle titleH2">Условия</p>
        <p class="aboutCompanyCont contentText">{{ deal.terms }}</p>
    {% endif %}
    {% if deal.contactInformationName or deal.contactInformationPhone %}
        <p class="servicesSpecialisationTitle titleH2">Контакты:</p>
        <div class="managerCompany">
            {% if deal.contactInformationName %}
                <p class="nameManager">{{ deal.contactInformationName }}</p>
            {% endif %}

            {% if deal.contactInformationPhone %}
                <p class="phoneManager">{{ deal.contactInformationPhone }}</p>
            {% endif %}
        </div>
    {% endif %}
    </div>
    <div class="infoCompanyWrap">
        {% if deal.startDate and deal.endDate %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Сроки проведения:</p>
                <p class="infoCompanyDescription">{{ deal.startDate | localizeddate('medium', 'none', 'ru_RU.UTF-8', 'Europe/Moscow', 'd MMMM YYYY') }} &ndash; {{ deal.endDate | localizeddate('medium', 'none', 'ru_RU.UTF-8', 'Europe/Moscow', 'd MMMM YYYY') }}</p>
            </div>
        {% endif %}
        {% if deal.startTime and deal.endTime %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Время проведения:</p>
                <p class="infoCompanyDescription">{{ deal.startTime|date("H:i") }} &ndash; {{ deal.endTime|date("H:i") }}</p>
            </div>
        {% endif %}
        {% if deal.place %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Адрес:</p>
                <p class="infoCompanyDescription"><a href="#">{{ deal.place }}</a></p>
            </div>
        {% endif %}
    </div>
</div>
