<div class="leftContent">
    <div class="slider">
        <div class="img__prev__wrap">
            <ul id="thumbnail" class="slide-wrap">
                {% for imageNumber in 1..3 %}
                {% if imageNumber == 1 %}
                    {% set imageNumber = '' %}
                {% endif %}
                {% set imageName = 'imageName' ~ imageNumber %}
                {% set image = "/" ~ storage_path ~ "/deal_image/" ~ deal.imageName %}
                <li class="slide-item">
                    <a class="linh__img__prev" href="#">
                        <p class="nameActionP">{{ deal.name }}</p>
                        <img src="{{ image | imagine_filter('deals_carusel_photos') }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            <span name="prev" class="navy prev-slide"></span>
            <span name="next" class="navy next-slide"></span>
        </div>
    </div>
    <div class="servicesSpecialisationWrap">
    {% if deal.description %}
        <p class="servicesSpecialisationTitle titleH2">Об акции</p>
        <p class="aboutCompanyCont contentText">{{ deal.description }}</p>
    {% endif %}
    {% if deal.terms %}
        <p class="servicesSpecialisationTitle titleH2">Условия</p>
        <p class="aboutCompanyCont contentText">{{ deal.terms }}</p>
    {% endif %}
    {% if deal.contactInformation %}
        <p class="servicesSpecialisationTitle titleH2">Контакты:</p>
        <div class="managerCompany">
            {{ deal.contactInformation }}
        </div>
    {% endif %}
    </div>
    <div class="infoCompanyWrap">
        {% if deal.startDate and deal.endDate %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Сроки проведения:</p>
                <p class="infoCompanyDescription">{{ deal.startDate|date("d.m.Y") }} – {{ deal.endDate|date("d.m.Y") }}</p>
            </div>
        {% endif %}
        {% if deal.startTime and deal.endTime %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Время проведения:</p>
                <p class="infoCompanyDescription">{{ deal.startTime|date("H:i") }} – {{ deal.endTime|date("H:i") }}</p>
            </div>
        {% endif %}
        {% if deal.place %}
            <div class="infoCompanyItem">
                <p class="infoCompanyTitle titleH3">Адрес:</p>
                <p class="infoCompanyDescription"><a href="#">{{ deal.place }}</a></p>
            </div>
        {% endif %}
    </div>
</div>
