{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Автокаталог{% endblock %}

{% block header %}<h3>{{ block('title') }}</h3>{% endblock %}

{% block content %}
{% if app.session.hasFlash('notice') %}
<div class="flash-notice">
    {{ app.session.flash('notice') }}
</div>
{% endif %}
<p><a class="btn btn-info btn-small" href="{{ path('autocatalog_new') }}"><i class="icon-plus icon-white"></i> Добавить</a></p>
<table class="table table-hover table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <th width="50">№</th>
            <th>Название</th>
            <th width="50">Видим</th>
            <th width="70">Действия</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                <a href="{{ path('admin_autocatalog_show_model', { 'id': entity.id }) }}">{{ entity.name }}</a>
            </td>
            <td>{% if entity.visible %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
            <td>
                <a href="{{ path('autocatalog_edit', { 'id': entity.id }) }}" class="icon-pencil" title="Редактировать"></a>
                <a href="{{ path('autocatalog_delete', { 'id': entity.id }) }}" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{entity.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
