{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Автокаталог{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<p><a class="btn btn-info btn-small" href="#"><i class="icon-plus icon-white"></i> Добавить</a></p>
{% if catalog.items %}
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Название</th>
            <th width="50">Видим</th>
            <th width="60"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in catalog %}
        <tr>
            <td>
{% if level == 'items' %}
                <a href="{{ path('admin_catalog_items_show', { 'parent' : item.id }) }}">{{ item.name }}</a>
{% else %}
                <a href="{{ path('admin_catalog_with_level', { 'level': level, 'parent' : item.id }) }}">{{ item.name }}</a>
{% endif %}
            </td>
            <td><center>{% if item.visible %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</center></td>
            <td>
                <center>
                    <a href="#" class="icon-edit" title="Редактировать"></a>
                    <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{item.id}}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
                </center>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(catalog) }}
</div>
{% else %}
{{ flash(true, 'Данные отсутствуют.', false, true) }}
{% endif %}
{% endblock %}
