{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Автокаталог{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<p><a class="btn btn-info btn-small" href="#"><i class="icon-plus icon-white"></i> Добавить</a></p>

{% for item in items %}
<div class="row-fluid">
    <h4>{{ item.name }}</h4>
    <table class="table table-hover table-condensed span10 offset1">
        <thead>
            <tr>
                <th width="280">Марка/модель</th>
                <th width="50">Кол-во дверей</th>
                <th width="80">Объем двигат.</th>
                <th width="80">Мощность</th>
                <th width="80">Макс. скорость</th>
                <th width="100">Тип кузова</th>
                <th width="75">Начало выпуска</th>
                <th width="75">Оконч. выпуска</th>
            </tr>
        </thead>
{% for row in item.children %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.numberOfDoors }}</td>
                <td>{{ row.engine }}</td>
                <td>{{ row.power }}</td>
                <td>{{ row.fullSpeed }}</td>
                <td>{{ row.bodyType }}</td>
                <td>{{ row.startOfProduction }}</td>
                <td>{{ row.closingOfProduction }}</td>
            </tr>
{% endfor %}
        <tbody>
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}
