{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Deal list{% endblock %}

{% block header %}<h3>{{ block('title') }}</h3>{% endblock %}

{% block content %}
<p><a href="{{ path('deal_new') }}" class="btn btn-small btn-info"><i class="icon-plus icon-white"></i> Create a new deal</a></p>
{% if deals is not empty %}
<table class="table table-hover">
    <thead>
        <tr>
            <th width="120">Company</th>
            <th width="140">Name</th>
            <th width="140">Services</th>
            <th width="70">Date</th>
            <th width="70">Time</th>
            <th width="200">Place</th>
            <th width="120">Type</th>
            <th width="30"></th>
        </tr>
    </thead>
    <tbody>
    {% for deal in deals %}
        <tr>
            <td>{{ deal.company }}</td>
            <td>{{ deal.name }}</td>
            <td>{{ deal.services }}</td>
            <td>{% if deal.startDate %}{{ deal.startDate|date('Y-m-d') }}{% endif %} {% if deal.endDate %}{{ deal.endDate|date('Y-m-d') }}{% endif %}</td>
            <td>{{ deal.startTime|date('H:i') ~ ' - ' ~ deal.endTime|date('H:i') }}</td>
            <td>{{ deal.place }}</td>
            <td>{{ deal.type }}</td>
            <td>
                <a href="{{ path('deal_edit', { 'id': deal.id }) }}" class="icon-pencil" title="{{ 'form.edit'|trans({}) }}"></a>
                <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{ deal.id }}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(deals) }}
</div>
<form action="#" method="post" id="delete-form"></form>
{% else %}
{{ flash(true, 'No data to display.', false, true) }}
{% endif %}
{% endblock %}
{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
(function($) {
    var url = "{{ path('deals') }}{itemId}/delete";
    var deleteModal = function (formId, message, action) {
        action = action || '{{ "form.delete"|trans({}) }}'
        var del = function () {
            document.getElementById(formId).submit();
        };
        var html = '<div class="modal hide fade"><div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
            '<h3>'+ action +'</h3></div>' +
            '<div class="modal-body"><p>' + message + '</p></div>' +
            '<div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">{{ "form.cancel"|trans({}) }}</a>' +
            '<a href="#" class="btn btn-danger">'+ action +'</a></div></div>';
        var elem = $(html);
        elem.find('.btn-danger').click(del);
        $('body').append(elem);
        elem.modal();
    }

    $('[data-delete-form]').on('click', function(e) {
        $('form#delete-form').attr('action', url.replace('{itemId}', $(this).data('delete-item')));
        deleteModal($(this).data('delete-form'), $(this).data('delete-message'), $(this).data('delete-action'));
    });
    $('[data-send-form]').on('click', function(e) {
        document.getElementById($(this).attr('data-send-form')).submit();
    });
})(jQuery);
</script>
{% endblock %}
