{% set notLogedinLink = '' %}
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    {% set notLogedinLink = "data-reveal-id=not-loged-in" %}
{% endif %}

{% for feedback in feedbacks %}
{% if feedback.isHidden and not (app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR')) %}{% else %}
<div class="reviewContentItem" data-feedback-block="{{ feedback.id }}">
    {% if feedback.feedbackNumber %}
    <a id="feedbacks-{{ feedback.feedbackNumber }}"></a>
    {% endif %}
    <div class="reviewAccount">
        <div class="reviewAccountImg">
            <a href="{{ path('user_profile', {'id': feedback.user.id}) }}">
                {% if feedback.user.avatar %}
                <img data-image="avatar" id="avatar" src="{{ vich_uploader_asset(feedback.user, 'avatar') }}">
                {% elseif feedback.user.avatarVk %}
                <img data-image="avatar" id="avatar" src="{{ feedback.user.avatarVk }}" />
                {% else %}
                <img data-image="avatar" src="{{ asset('bundles/stocore/images/user_avatar.jpg') }}" />
                {% endif %}
            </a>
        </div>
        <span>{{ feedback.user.rating + feedback.user.ratingBonus}}</span>
    </div>
    <div class="reviewWrap">
        <div class="reviewTop">
            <p class="reviewNick"><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.username }}</a></p>
            <p class="reviewName"><a href="{{ path('user_profile', {'id': feedback.user.id}) }}">{{ feedback.user.lastName }} {{ feedback.user.firstName }}</a></p>
            <p class="reviewRang">{% if feedback.user.ratingGroup %}{{ feedback.user.ratingGroup.name }}{% endif %}</p>
            <span class="reviewData">{{ feedback.date|date("d.m.Y") }} {% if feedback.feedbackNumber %}<a href="#feedbacks-{{ feedback.feedbackNumber }}">#{{ feedback.feedbackNumber }}</a>{% endif %}</span>
        </div>
        <div class="reviewCont">
            <div class="reviewContTop">
                <div class="vote-wrap" data-rating="{{ feedback.feedbackRating }}">
                    {% for i in 1..5 %}
                        <input type="radio" name="star{{ feedback.id }}" class="star" title="{{ i }}">
                    {% endfor %}
                </div>


                {% if feedback.priceLevel is defined %}
                    {% if feedback.priceLevel %}<span class="levelPrice">Цена:<i class="levelPriceImg {{ feedback.priceLevel.shortName }}"></i></span>{% endif %}
                {% endif %}
                <a {% if is_granted('IS_AUTHENTICATED_FULLY') %}data-dislike="company" data-dislike-feedback="{{feedback.id}}"{% endif %} class="negativReview" {{ notLogedinLink }}><i class="negativReviewI"></i><span data-dislike="count">{{ feedback.minuses }}</span></a>
                <a {% if is_granted('IS_AUTHENTICATED_FULLY') %}data-like="company" data-like-feedback="{{feedback.id}}"{% endif %} class="positivReview" {{ notLogedinLink }}><i class="positivReviewI"></i><span data-like="count">{{ feedback.pluses }}</span></a>

                {% set style = '' %}
                {% set showAll = false %}
                {% if feedback.content|length > 500 %}
                    {% set style = "style='height: 72px; overflow: hidden;'" %}
                    {% set showAll = true %}
                {% endif %}
                <div class="reviewContText"{{ style|raw }}>
                    {{ feedback.content|raw }}
                </div>
                {% if showAll %}
                    <a href="#" class="read-all">...читать дальше</a>
                {% endif %}

                <div class="reviewButtonsWrapper">
                    <div class="left">
                        {% if (isManager or app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR')) and not feedback.feedbackAnswer %}
                            <a href="#" data-feedback="{{ feedback.id }}" class="reply">Ответить</a>
                        {% endif %}
                    </div>

                    <div class="center">
                        {% if feedback.visitDate or feedback.car or feedback.orderNumber or feedback.mastername or feedback.stateNumber %}
                            <a href="#" class="reviewAdditionalInfoButton">Показать дополнительную информацию</a>
                        {% endif %}
                    </div>

                    <div class="right">
                        {% if app.security.isGranted('ROLE_USER') %}
                            {% if feedback.minutes <= 15 and app.user.Id == feedback.userId %}
                                {% if feedback.company is not defined %}
                                    <a class="primaryLink complain" href="{{ path('content_deal_feedbacks_edit', {'id': feedback.deal.id, 'feedbackId': feedback.id}) }}" >Редактировать</a>
                                {% else %}
                                    <a class="primaryLink complain" href="{{ path('content_company_feedbacks_edit', {'id': feedback.id}) }}" >Редактировать</a>
                                {% endif %}
                            {% elseif app.user.Id != feedback.userId %}
                                {% if not feedback.complain %}
                                    <a href="#" data-action="complain" data-feedback-id="{{ feedback.id }}" class="primaryLink complain">Пожаловаться</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if feedback.complain and (app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR')) %}
                            {% set feedbackType = 'company' %}
                            {% set dealDataId = '' %}
                            {% if feedback.company is not defined %}
                                {% set feedbackType = 'deal' %}
                                {% set dealDataId = 'data-deal-id=' ~ feedback.deal.id %}
                            {% endif %}
                            <div class="moderatorsWrapper">
                                <i class="complainAlert active" data-admin-complain-menu="true" data-feedback-id="{{ feedback.id }}"></i>
                                {% if feedback.isHidden %}
                                    <span class="badge badge-warning" data-feedback-id="{{ feedback.id }}">скрыт</span>
                                {% endif %}
                                <div class="popUpPrimary" data-feedback-id="{{ feedback.id }}">
                                    <div id="myCanvasTop" class="myCanvasTop"></div>
                                    <ul>
                                        <li><span class="primaryLink" data-modal-action="hide" data-field="Hidden" data-value="1" data-feedback-id="{{ feedback.id }}">Скрыть / Показать</span></li>
                                        <li><span class="primaryLink" data-modal-action="edit" data-type="{{ feedbackType }}" data-feedback-id="{{ feedback.id }}" {{ dealDataId }}>Редактировать</span></li>
                                        <li><span class="primaryLink" data-modal-action="delete" data-feedback-id="{{ feedback.id }}">Удалить</span></li>
                                        <li><span class="primaryLink" data-modal-action="no_complain" data-field="Complain" data-value="false" data-feedback-id="{{ feedback.id }}">Снять жалобу</span></li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="reviewAdditionalInfo">
                    <table>
                        <tr>
                            <td>
                                <span>Дата посещения:</span>
                                {% if feedback.visitDate %}{{ feedback.visitDate|date("d.m.Y") }}{% else %}Не указано{% endif %}
                            </td>
                            <td>
                                <span>Автомобиль:</span>
                                {% if feedback.car %}{{ feedback.car }}{% else %}Не указано{% endif %}
                            </td>
                            <td>
                                <span>Номер заказа (чека):</span>
                                {% if feedback.orderNumber %}{{ feedback.orderNumber }}{% else %}Не указано{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Мастер:</span>
                                {% if feedback.mastername %}{{ feedback.mastername }}{% else %}Не указано{% endif %}
                            </td>
                            <td>
                                <span>Гос. номер:</span>
                                {% if feedback.stateNumber %}{{ feedback.stateNumber }}{% else %}Не указано{% endif %}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if (isManager or app.security.isGranted('ROLE_ADMIN') or app.security.isGranted('ROLE_MODERATOR')) and not feedback.feedbackAnswer %}
                <div class="responseReviewCont" style="display:none;" data-answerform="{{ feedback.id }}">
                    <blockquote class="well">
                        <form method="POST" name="form{{ feedback.id }}" action="">
                            <input type="hidden" name="feedback_id" value="{{ feedback.id }}" />
                            <div class="row-fluid">
                                <div class="span10">
                                    <textarea name="answer" rows="4" style="width:460px"></textarea>
                                </div>
                                <div class="span2">
                                    <input class="btn" data-submit-form="{{ feedback.id }}" type="submit" value="Отправить" style="margin-right: -3px;" />
                                    <br><br>
                                    <a href="#" class="btn" data-abort-answer="{{ feedback.id }}" style="padding-left: 21px; padding-right: 21px;">Отмена</a>
                                </div>
                            </div>
                        </form>
                    </blockquote>
                </div>
            {% endif %}

            {% if feedback.feedbackAnswer %}
            <div class="responseReviewCont">
                <div class="reviewContBottomText">
                    <p class="reviewContText">
                        {{ feedback.feedbackAnswer.answer|raw|nl2br }}
                    </p>
                </div>
                <div class="reviewContBottomAccount">
                    <div  class="responseReviewAccountImg">
                        {%- if feedback.feedbackAnswer.owner.avatarUrl %}
                            {% set userPhoto = 'storage/images/user_photo/' ~ feedback.feedbackAnswer.owner.avatarUrl %}
                            <img src="{{ userPhoto|imagine_filter('user_login_avatar') }}" alt="фото пользователя" />
                        {% else %}
                            <img src="{{ asset('/bootstrap/img/default_user_avatar.png'|imagine_filter('user_login_avatar')) }}" alt="фото пользователя" />
                        {% endif -%}
                    </div>
                    <span class="responseReviewData">{{ feedback.feedbackAnswer.date|date('d.m.Y') }}</span><br>
                    <a href="{{ path('user_profile', { "id": feedback.feedbackAnswer.owner.id }) }}" class="responseReviewName">{{feedback.feedbackAnswer.owner.firstName}}</a>
                    <p class="responseReviewRang">Менеджер</p>
                </div>
            </div>
            {% endif %}
        </div>
        {% if profile is defined and feedback.feedbackType == 'company' and feedback.company %}
        <a href="{{ path('content_company_show', { "id": feedback.company.id }) }}" class="dottedLink feedbackToCompanyLink">Посмотреть карточку компании</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

<script>
(function(){
    $('.read-all').on('click', function(e){
        e.preventDefault();

        var $this = $(this),
            height = '100%',
            overflow = 'visible',
            text = 'свернуть';

        if ($this.hasClass('open')) {
            height = '65px';
            overflow = 'hidden';
            text = '...читать дальше';

            $this.removeClass('open');
        } else {
            $this.addClass('open');
        }

        $(this)
            .html(text)
            .prev('.reviewContText')
            .css('height', height)
            .css('overflow', overflow);
    });
})();
</script>
