<!-- Modal -->
<div id="modalChooseCity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style="  width: 750px; margin-left: -375px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ваш город</h3>
    </div>
    <div class="modal-body">
        <!-- Vertical tabs -->
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li><a href="#tab1" data-toggle="tab">Loading....</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                       <p>This is content on tab1</p>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- EOF Modal -->


<script type="text/javascript">
// cities list
    $(document).ready(function(){
        $.ajax({
                type: 'POST',
                url: "{{ path('get_user_city') }}",
                success: function(res) {
                    $('#choice-city a').text(res.user_city);
                }
        });
        $('#choice-city > a').on("click", function() {
            $('#modalChooseCity').modal('toggle');

            $.ajax({
                type: 'GET',
                url: "{{ path('api_country_all') }}",

                success: function(res) {
                    var root = $('#modalChooseCity .tabbable ul');
                    var tab_root = $('#modalChooseCity .tabbable .tab-content');
                    root.empty(); // clear on each call - @TODO instead of clear - check for empty
                    tab_root.empty();
                    res = eval(res);
                    console.log(res);

                    var frst_id = null;
                    $.each(res, function (index, country) {
                        if (index == 0)
                            frst_id = country.id;
                        root.append('<li><a href="#country-' + country.id  + '" id="a-country-' + country.id  + '" data-toggle="tab">' + country.name  + '</a></li>' );
                        tab_root.append( '<div class="tab-pane" id="country-' + country.id  + '">Loading...</div>' );
                    });

                    // add Onclick on Country
                    $('#modalChooseCity .tabbable ul li > a').on("click", function() {
                        var cid = this.id.split("-").pop();
                        $.ajax({
                            type: 'GET',
                            url: Routing.generate('api_city_all_by_country', { id: cid }),
                            success: function(res) {
                                res = eval(res);
                                var coun_area = $('#country-' + cid);
                                coun_area.empty();

                                $.each(res, function (index, city) {
                                    var img_src = null;
                                    if ( !city.image ) {
                                        img_src = "{{ asset('bundles/stocore/images/notimage.png') }}";
                                    } else {
                                        img_src = "/../{{ storage_path }}/company_icon/" + img_src;
                                    }
                                    coun_area.append(
                                        '<p>'+
                                        '<img src="' + img_src + '" style="width: 17px;height: 17px;">' +
                                        '<a href="#city-' + city.id  + '" id="a-city-' + city.id  + '" class="city-link">' + city.name  + '</a></li></p>'
                                        );
                                });
                            },
                            error: function(e) {
                                console.log(e.message);
                            }
                        });
                    });

                    $('#a-country-' + frst_id).click();

                },
                error: function(e) {
                    console.log(e.message);
                }
            });

        });
        $('a.city-link').live('click',function(){
            var route = "{{ url('city_ajax_save') }}?city="+$(this).html();
            $('#choice-city a').html($(this).html());
            $.ajax({
                type: 'POST',

                url: route,
                data: 'city/'+ $(this).html(),
                success: function(res) {
                    console.log('result', res);
                    $('#modalChooseCity').modal('hide');
                },
                error: function(e){
                    console.log('error', e.message);
                }
            });
            return false;
        });
    });
</script>
