{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

<div class="row-fluid">
{% if user.feedbacks %}
{% for feedback in user.feedbacks %}
    <div class="span10 offset1">
        <p class="row-fluid">
            <span class="span10">
{% if feedback.deal is defined %}
                Отзыв об акции "<a href="{{ path('content_deal_show', {'id':feedback.deal.id}) }}">{{ feedback.deal.name }}</a>" компании "<a href="{{ path('content_company_show', {'id':feedback.deal.company.id}) }}">{{ feedback.deal.company.name }}</a>"
{% else %}
                Отзыв о компании "<a href="{{ path('content_company_show', {'id':feedback.company.id}) }}">{{ feedback.company.fullName }}</a>"
{% endif %}
            </span>
            <span class="span2">
                Дата: {{ feedback.date|date("d.m.Y") }}
            </span>
        </p>
        <blockquote>
            <div class="row-fluid">
                <div class="span6">
                    <input class="star" type="radio" value="1" disabled="disabled" {% if feedback.feedbackRating == 1 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="2" disabled="disabled" {% if feedback.feedbackRating == 2 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="3" disabled="disabled" {% if feedback.feedbackRating == 3 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="4" disabled="disabled" {% if feedback.feedbackRating == 4 %} checked="checked" {% endif %}/>
                    <input class="star" type="radio" value="5" disabled="disabled" {% if feedback.feedbackRating == 5 %} checked="checked" {% endif %}/>
                </div>
                <div class="span6">
                    <p class="pull-right">
                        <i class="icon-b4c-thumbs-up"></i> <span data-like="count">{{ feedback.pluses }}</span>
                        <i class="icon-b4c-thumbs-down"></i> <span data-dislike="count">{{ feedback.minuses }}</span>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <p>{{ feedback.content|raw }}</p>
            </div>
        </blockquote>
{% if feedback.feedbackAnswer %}
        <div class="row-fluid">
            <blockquote class="well">
                <div class="row-fluid">
                    <div class="span7">
                        <p>{{ feedback.feedbackAnswer.answer|raw }}</p>
                    </div>
                    <div class="span5">
                        <div class="row-fluid">
                            <div class="span2">
                                <center><img src="http://placehold.it/39x39"></center>
                            </div>
                            <div class="span8">
                                <h5>{{feedback.feedbackAnswer.owner.lastName}} {{feedback.feedbackAnswer.owner.firstName}}</h5>
                                <p><small>Старший менеджер</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
{% endif %}
    </div>
{% endfor %}
{% else %}
        {{ advanced_flash(true, 'СКОРО!', 'Пользователь не оставлял отзывы.', false, true) }}
{% endif %}
</div>
