<div class="row-fluid">
    <div class="span4">
        <center>
{% if user.avatar %}
            <img data-image="avatar" id="avatar" src="{{ vich_uploader_asset(user, 'avatar') }}" style="width:200px" class="img-polaroid"/>
{% elseif user.avatarVk %}
            <img data-image="avatar" id="avatar" src="{{ user.avatarVk }}" style="width:200px" class="img-polaroid"/>
{% else %}
            <img data-image="avatar" src="{{ asset('bundles/stocore/images/user_avatar.jpg') }}" style="width:200px" class="img-polaroid"/>
{% endif %}
            <h4>Загрузить фото<a href="#laodPhoto" role="button" data-toggle="modal" class="icon-b4c-edit" id="edit-avatar"></a></h4>
            <br />
            <p>Соеденить аккаунт с:</p>
{% if user.vkontakteId == null %}
            <p>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Войти через Вконтакте" title="Sign in with Vkontakte"><i class="icon-b4c-vkontakte icon-2x"></i></a>
            </p>
{% endif %}
        </center>
    </div>
    <div class="span8">
        <center>
            {{ render(controller('StoContentBundle:User:showGallery')) }}
            <a href="#uploadGallery" role="button" data-toggle="modal" id="upload-user-gallery">Добавить фотографию</a>
        </center>
        <h5>Общая информация</h5>
        <div class="row-fluid">
            <div class="span12">
                <div class="profile-contacts">
                    <h4>Контактные данные <a href="#" class="pull-right icon-b4c-edit" id="edit-contacts"></a></h4>
                    <div class="contact-data">
{% if user.contacts %}
                        <dl class="dl-horizontal" id="contacts-list" style="block">
{% for contact in user.contacts %}
                            <dt style="text-align: left; width:80px;" data-pk="{{ contact.type.id }}" data-contact="{{ contact.id }}" data-prefix="{{ contact.type.prefix }}">{{ contact.type.name }}</dt>
                            <dd style="margin-left: 0;" data-type-pk="{{ contact.type.id }}">
                                <a class="x-editable-contacts" href="{% if contact.type.prefix != '' %}{{contact.type.prefix}}{% endif %}{{ contact.value }}" data-pk="2" data-type="text" data-name="email" target="_blank">{{ contact.value }}</a>
                            </dd>
{% endfor %}
                        </dl>
{% endif %}
                        <select id="all-types-select" style="display:none;"></select>
                        <div class="well contact-edit-form" style="display:none"></div>
                    </div>
                </div>
                <hr />
                <h4>О себе <a href="#" class="pull-right  icon-b4c-edit" id="edit-description"></a></h4>
{% if user.description %}
                <p id="description" data-type="textarea" data-pk="1" data-original-title="О себе" data-name="description">{{ user.description }}</p>
{% else %}
                <p id="description" data-type="textarea" data-pk="1" data-original-title="О себе" data-name="description">Пользователь не оставил информации о себе.</p>
{% endif %}
            </div>
        </div>
    </div>
</div>

<div id="loadPhoto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Смена фотографии. Выбор фото</h3>
    </div>
    <div class="modal-body">
        <p>Выберите свою фотографию. <br />Вы можете использовать изображение в формате JPG, GIF или PNG размером не более 10Мб</p>
         {{ render(controller('StoContentBundle:User:editAvatar')) }}
    </div>
    <div class="modal-footer">
        <a href="{{ path('profile_user_avatar_remove') }}">Удалить фотографию</a>
    </div>
</div>

<div id="uploadGallery" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Смена фотографии. Выбор фото</h3>
    </div>
    <div class="modal-body">
        <p>Выберите фотографию. <br />Вы можете использовать изображение в формате JPG, GIF или PNG размером не более 10Мб</p>
         {{ render(controller('StoContentBundle:User:addGallery')) }}
    </div>
    <div class="modal-footer">
        <a href="#">Удалить фотографию</a>
    </div>
</div>
