{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ image.name }}{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<form action="{{ path('company_update_image', {id: company.id, image_id:image.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="control-group">
        <div class="span12">
{% if not form_errors(form.image) %}
           <img data-image="image" title="{{ image.name }}" alt="{{ image.name }}"  src="/../{{ storage_path }}/company/company_gallery/{{ image.imageName }}" class="img-rounded" style="width: 260px;">
{% else %}
           <img data-image="image" title="{{ image.name }}" alt="{{ image.name }}"  src="{{ asset('bundles/stocore/images/notimage.png') }}" class="img-rounded" style="width: 260px;">
{% endif %}
        </div>
        <div class="span12">
            {{ form_row(form.image) }}
        </div>
        <div class="span12">
            {{ form_row(form.name) }}
        </div>
        <div class="span6">
            {{ form_row(form.visible) }}
        </div>
        {{ form_widget(form) }}
    <div>
    <div class="row"></div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.create'|trans({}) }}" />
        <a href="{{ path('company_gallery', {id: company.id}) }}" class="btn">{{ 'form.cancel'|trans({}) }}</a>
    </div>
</form>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/stoadmin/js/script.js') }}"></script>
{% endblock %}
