{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Список компаний{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}
<p><a href="{{ path('company_new') }}" class="btn btn-small btn-info"><i class="icon-plus icon-white"></i> Добавить новую компанию</a></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Название</th>
            <th>Специализация</th>
            <th>Время работы</th>
            <th>Адрес</th>
            <th>Рейтинг</th>
            <th></th>
            <th width="65"></th>
        </tr>
    </thead>
    <tbody>
{% for company in companies %}
        <tr>
            <td>
{% if company.logoName %}
                <img src="/../{{ storage_path }}/company_logo/{{ company.logoName }}" alt="{{company.name}}" width="22" />
{% endif %}
            </td>
            <td><a href="{{ path('company_edit', { 'id': company.id }) }}" >{{ company.name }}</a></td>
            <td>
{% for specialization in company.specialization %}
                <span class="badge badge-info">{{ specialization }}</span>
{% endfor %}
            </td>
            <td>
                {% if company.workingTime|length > 0 %}
                    {% for time in company.workingTime %}
                        {{ time.dayFrom }}-{{ time.dayTill }}: {{ time.from|date('H:i') }} - {{ time.till|date('H:i') }}
                        {% if loop.last != true %},{% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            <td>{{ company.address }}</td>
            <td><center>{{ company.rating }}</center></td>
            <td>
{% if company.visible %}
                <i class="icon-circle"></i>
{% else %}
                <i class="icon-circle-blank"></i>
{% endif %}
            </td>
            <td>
                <a href="{{ path('company_edit', { 'id': company.id }) }}" class="icon-edit" title="{{ 'form.edit'|trans({}) }}"></a>
                <a href="{{ path('company_gallery', { 'id': company.id }) }}" class="icon-picture" title="Фотогаллерея"></a>
                <a href="{{ path('company_managers', { 'id': company.id }) }}" class="icon-user" title="Менеджеры"></a>
                <a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{ company.id }}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
<form action="#" method="post" id="delete-form"></form>
<div class="navigation">
    {{ knp_pagination_render(companies) }}
</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
(function($) {
    var url = "{{ path('companies') }}{itemId}/delete";
    var deleteModal = function (formId, message, action) {
        action = action || '{{ "form.delete"|trans({}) }}'
        var del = function () {
            document.getElementById(formId).submit();
        };
        var html = '<div class="modal hide fade"><div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
            '<h3>'+ action +'</h3></div>' +
            '<div class="modal-body"><p>' + message + '</p></div>' +
            '<div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">{{ "form.cancel"|trans({}) }}</a>' +
            '<a href="#" class="btn btn-danger">'+ action +'</a></div></div>';
        var elem = $(html);
        elem.find('.btn-danger').click(del);
        $('body').append(elem);
        elem.modal();
    }

    $('[data-delete-form]').on('click', function(e) {
        $('form#delete-form').attr('action', url.replace('{itemId}', $(this).data('delete-item')));
        deleteModal($(this).data('delete-form'), $(this).data('delete-message'), $(this).data('delete-action'));
    });
    $('[data-send-form]').on('click', function(e) {
        document.getElementById($(this).attr('data-send-form')).submit();
    });
})(jQuery);
</script>
{% endblock %}
