{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Создание компании{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block head_style %}
    {{ parent() }}
    <style>
    div.collection-item div.control-group div.controls {
        margin-left: 1px;
    }
    </style>

{% endblock %}

{% block content %}
<form action="{{ path('company_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.name) }}

            <div class="row-fluid inline">
                {{ form_row(form.phones) }}
            </div>
            {{ form_row(form.address) }}
            {{ form_row(form.workingTime) }}
        </div>
        <div class="span6">
            <div class="controls">
                <img data-image="logo" src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:120px" class="img-circle"/>
            </div>
            {{ form_row(form.logo, {'label_render': false}) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.hourPrice) }}
            {{ form_row(form.services) }}
            {{ form_row(form.visible) }}
        </div>
        <div class="span6">
            {{ form_row(form.rating) }}
            {{ form_row(form.specialization) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{ form_row(form.fullName) }}
            {{ form_row(form.slogan) }}
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ 'form.create'|trans({}) }}" />
        <a href="{{ path('companies') }}" class="btn">{{ 'form.cancel'|trans({}) }}</a>
    </div>
</form>
{% endblock %}

{% block foot_script %}
{{ parent() }}
{% javascripts
    'bundles/stocore/js/select2.js'
    'bundles/stocore/js/bootstrap-inputmask.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript" >
    $(".select2").select2({
    });

    $('[data-image]').click().change(function () {
        if (this.files && this.files[0]) {
            var img_data = $(this).data('image');
            var reader = new FileReader();
            reader.onload = function (e) {
                $('[data-image="'+img_data+'"]').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
         }
     });

</script>
{% endblock %}
