{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}{{ company.name }}{% endblock %}

{% block header %}<h3>{{ block('title') }}</h3>{% endblock %}

{% block content %}
<form action="{{ path('company_save_image', {id: company.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="control-group">

        <div class="span12">
            {{ form_row(form.image) }}
        </div>
        <div class="span12">
            {{ form_row(form.name) }}
        </div>
        <div class="span6">
            {{ form_row(form.visible) }}
        </div>

        {{ form_widget(form) }}
    <div>
    <div class="row"></div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a href="{{ path('companies') }}" class="btn">Cancel</a>
    </div>
</form>
{% if company.gallery %}
        <ul class="thumbnails">
        {% for photo in company.gallery %}
            <li class="span3">
                <div class="thumbnail">
                    <a href="/../{{ storage_path }}/company/company_gallery/{{ photo.imageName }}">
                        <img title="{{ photo.name }}" alt="{{ photo.name }}"  src="/../{{ storage_path }}/company/company_gallery/{{ photo.imageName }}" class="img-rounded" style="width: 260px;">
                    </a>
                    <div class="caption">
                        <h4>{{ photo.name }}</h4>
                        {% if photo.visible %}
                            <i class="icon-eye-open" title="Visible"></i>Visible
                        {% else %}
                            <i class="icon-eye-close" title="Unvisible"></i>Unvisible
                        {% endif %}
                        <p>
                            <a href="{{ path('company_edit_image', { 'id': company.id, 'image_id':photo.id }) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ path('company_delete_image', { 'id': company.id, 'image_id':photo.id }) }}" class="btn">Remove</a>
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
{% endif %}

{% endblock %}
