{% extends 'StoAdminBundle::layout.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% block title %}Менеджеры компании "{{ company.name }}"{% endblock %}

{% block header %}<h4>{{ block('title') }}</h4>{% endblock %}

{% block content %}

<form class="form-horizontal" action="{{ path('company_managers_add', {'id':company.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Добавить"/>
    </div>
</form>

{% if company.managers|length %}
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30">Фото</th>
            <th>Логин</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон </th>
            <th>Дата Рождения</th>
            <th>E-mail</th>
            <th width="65"></th>
        </tr>
    </thead>
    <tbody>
{% for user in company.managers %}
    <tr>
        <td>
            {% if user.avatarUrl %}
                <img src="/../{{ storage_path }}/user_photo/{{ user.avatarUrl }}" width="160"/>
            {% else %}
                <img src="{{ asset('bundles/stocore/images/notimage.png') }}" style="width:120px" class="img-rounded"/>
            {% endif %}
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.birthDate|date('d.m.Y') }}</td>
        <td>{{ user.email }}</td>
        <td><a href="#" data-delete-form="delete-form" data-delete-message="{{ 'form.sure_delete_message'|trans({}) }}" data-delete-item="{{ user.id }}" class="icon-trash" title="{{ "form.delete"|trans({}) }}"></a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
    {{ flash(true, 'Менеджеры отсутствуют.', false, true) }}
{% endif %}
{% endblock %}


{% block foot_script %}
{{ parent() }}
{% javascripts
    'bundles/stocore/js/select2.js'
    'bundles/stocore/js/bootstrap-inputmask.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
(function($) {
    var url = "{{ path('companies') }}{itemId}/delete";
    var deleteModal = function (formId, message, action) {
        action = action || '{{ "form.delete"|trans({}) }}'
        var del = function () {
            document.getElementById(formId).submit();
        };
        var html = '<div class="modal hide fade"><div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
            '<h3>'+ action +'</h3></div>' +
            '<div class="modal-body"><p>' + message + '</p></div>' +
            '<div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">{{ "form.cancel"|trans({}) }}</a>' +
            '<a href="#" class="btn btn-danger">'+ action +'</a></div></div>';
        var elem = $(html);
        elem.find('.btn-danger').click(del);
        $('body').append(elem);
        elem.modal();
    }

    $('[data-delete-form]').on('click', function(e) {
        $('form#delete-form').attr('action', url.replace('{itemId}', $(this).data('delete-item')));
        deleteModal($(this).data('delete-form'), $(this).data('delete-message'), $(this).data('delete-action'));
    });
    $('[data-send-form]').on('click', function(e) {
        document.getElementById($(this).attr('data-send-form')).submit();
    });

    $(".select2").select2({
        placeholder: "Выберите ползователя"
    });
})(jQuery);
</script>
{% endblock %}
